<script>
  export default {
    components: {},
    mixins: [],
    props: {},
    data() {
      return {};
    },
    computed: {},
    validations() {},
    watch: {},
    beforeCreate() {},
    created() {},
    beforeMount() {},
    mounted() {},
    activated() {},
    beforeUpdate() {},
    updated() {},
    deactivated() {},
    beforeDestroy() {},
    destroyed() {},
    methods: {},
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div class="map">
    <div class="map__viewport">
      <slot/>
    </div>
    <div class="map__panels">
      <slot name="panels"/>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .map {
    position: relative;
    height: 100%;
    background: aquamarine;

    &__viewport {
      @include coverer;
      z-index: 400;
    }

    &__panels {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 450;
      padding: 12px;
      width: 100%;
      max-width: 360px;
      pointer-events: none;
      display: flex;
      flex-direction: column;
    }
  }
</style>
