<script>
  import IconClose from '@/assets/icons/material/close.svg';
  import IconCollapse from '@/assets/icons/material/expand_less.svg';
  import IconExpand from '@/assets/icons/material/expand_more.svg';

  export default {
    components: {
      IconClose,
      IconCollapse,
      IconExpand,
    },
    props: {
      title: {
        type: String,
        default: '',
      },
      closable: {
        type: Boolean,
        default: false,
      },
      active: {
        type: Boolean,
        default: true,
      },
      stickyFooter: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        mutableActive: false,
      };
    },
    computed: {
      classes() {
        return {
          /* eslint-disable quote-props */
          '_collapsed': !this.mutableActive,
          /* eslint-enable quote-props */
        };
      },
    },
    watch: {
      active(val) {
        this.mutableActive = val;
      },
    },
    beforeMount() {
      this.mutableActive = this.active;
    },
    methods: {
      close() {
        this.$emit('close');
      },
      toggle() {
        if (this.mutableActive) {
          this.deactivate();
          return;
        }

        this.activate();
      },
      deactivate() {
        if (!this.mutableActive) return;
        this.mutableActive = false;
        this.$emit('deactivate');
      },
      activate() {
        if (this.mutableActive) return;
        this.mutableActive = true;
        this.$emit('activate');
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div
    :class="classes"
    class="map-panel"
  >
    <div
      class="map-panel__head"
      @click.self="toggle"
    >
      <div
        class="map-panel__title"
        @click="toggle"
      >
        <i
          v-if="$slots.titleIcon"
          class="map-panel__title-icon"
        >
          <slot name="titleIcon"/>
        </i>
        <div class="map-panel__title-text">{{ title }}</div>
      </div>
      <div class="map-panel__controls">
        <button
          v-if="closable"
          v-wave
          type="button"
          class="map-panel__control"
          @click="close"
        >
          <IconClose/>
        </button>
        <button
          v-wave
          type="button"
          class="map-panel__control"
          @click="toggle"
        >
          <IconExpand v-if="!mutableActive"/>
          <IconCollapse v-else/>
        </button>
      </div>
    </div>
    <div
      v-if="$slots.header"
      class="map-panel__header"
    >
      <slot name="header"/>
    </div>
    <div
      v-if="mutableActive"
      v-scrollbar
      class="map-panel__body"
    >
      <slot/>
    </div>
    <div
      v-if="$slots.footer"
      v-sticky="stickyFooter"
      class="map-panel__footer"
    >
      <slot name="footer"/>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .map-panel {
    background: rgba(#fff, .95);
    border-radius: 4px;
    pointer-events: auto;
    box-shadow: $shadow-level-1;
    flex: 0 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;

    &._collapsed {
      flex: 0 0 40px;
      max-height: 40px;
      overflow: hidden;
    }

    & + & {
      margin-top: 10px;
    }

    &__head {
      display: flex;
      align-items: center;
      flex: 0 0 40px;
      min-height: 0;
      max-height: 40px;
      border-bottom: 1px solid $color-shade-300;
    }

    &._collapsed &__head {
      border-bottom-color: transparent;
    }

    &__title {
      flex: 1 0 0%;
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
      line-height: 20px;
      color: $color-shade-800;
      display: flex;
      align-items: baseline;

      &-text {}

      &-icon {
        font-size: 14px;
        line-height: 1em;
        color: $color-shade-800;
        margin-right: 4px;
      }
    }

    &__controls {
      display: flex;
      padding-right: 5px;
    }

    &__control {
      @include reset-button;
      width: 24px;
      height: 24px;
      font-size: 20px;
      line-height: 20px;
      padding: 2px;
      color: $color-shade-600;
      border-radius: 100%;

      & + & {
        margin-left: 5px;
      }
    }

    &__header {
      border-bottom: 1px solid $color-shade-300;
      padding: 10px;
    }

    &__body {
      position: relative;
      flex: 1 1 auto;
      padding: 15px 10px;

      overflow: auto;
    }

    &__footer {
      padding: 15px 10px;
      border-top: 1px solid $color-shade-300;
      background: rgba($color-shade-100, .5);
    }

    &_sticky-footer &__footer {
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
      z-index: 700;
    }
  }
</style>
