<script>
  import { required } from 'vuelidate/lib/validators';

  import ControlsGroup from '@/core/components/ControlsGroup.vue';
  import Island from '@/core/components/Island.vue';
  import MultiselectAjax from '@/core/components/MultiselectAjax.vue';
  import IconAssignment from '@/assets/icons/material/assignment.svg';
  // import IconPlay from '@/assets/icons/material/play_circle_outline.svg';
  // import IconStop from '@/assets/icons/material/stop.svg';
  import form from '@/core/mixins/form';
  import library from '@/common/library';
  import { fillArray } from '@/core/helpers/utils';

  import PickFormProducts from './PickFormProducts.vue';

  // TODO: workers field (search for users)
  // TODO: don't send packaging field with each product
  // TODO: shipment select include other fields

  const STATUSES = library.warehouse.pick.statuses;

  export default {
    name: 'PickForm',
    components: {
      ControlsGroup,
      Island,
      MultiselectAjax,
      PickFormProducts,
      IconAssignment,
      // IconPlay,
      // IconStop,
    },
    mixins: [form],
    data() {
      return {
        fields: {
          id: '',
          accountId: '',
          number: '',
          date: '',
          shipment: null,
          warehouse: this.$store.getters['warehouse/active'],
          products: [],
          status: STATUSES[0],
          workers: [],
        },
        statuses: STATUSES,
      };
    },
    computed: {
      availableWarehouses() {
        return this.$store.state.warehouse.items;
      },
      timezone() {
        // TODO: get from account settings / user settings
        return '';
      },
    },
    validations() {
      return {
        fields: {
          date: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
          shipment: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
          warehouse: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
        },
      };
    },
    beforeMount() {
      this.$store.dispatch('warehouse/fetchList');
    },
    methods: {
      submit() {
        if (this.sending) return;
        if (!this.validate()) return;

        this.$emit('submit');
        this.sending = true;

        const payload = {
          number: this.fields.number,
          date: this.fields.date,
          shipment: this.fields.shipment,
          warehouse: {
            id: this.fields.warehouse.id,
            name: this.fields.warehouse.name,
          },
          products: this.fields.products,
          status: this.fields.status,
          workers: [],
        };

        if (this.fields.workers.length) {
          payload.workers = this.fields.workers.map(worker => ({
            id: worker.id,
            firstName: worker.firstName,
            lastName: worker.lastName,
            fullName: worker.fullName,
          }));
        }

        if (this.fields.id) {
          payload.id = this.fields.id;
          payload.accountId = this.fields.accountId;
        }

        const request = this.fields.id
          ? this.$api.put(`/warehouse/picks/${this.fields.id}`, payload)
          : this.$api.post('/warehouse/picks', payload);

        request
          .then(({ data }) => {
            this.sending = false;
            this.fill(data);
            this.$toasts.push({
              theme: 'success',
              text: 'Pick job saved',
            });
            this.$emit('success', deepClone(this.fields));
          })
          .catch((err) => {
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
      getStatusLabel(status) {
        // TODO: i18n
        const labels = {
          PENDING: 'Pending',
          ASSIGNED: 'Assigned',
          IN_PROGRESS: 'In progress',
          CANCELED: 'Canceled',
          COMPLETE: 'Complete',
        };

        return labels[status] || status;
      },
      onProductsChange(products) {
        fillArray(this.fields.products, products);
      },
    },
  };
</script>

<template>
  <Island sticky-footer>
    <form
      novalidate
      @submit.prevent="submit"
    >
      <VFieldset>
        <div class="grid grid_middle">
          <div class="col col_auto row text-h4">Pick job</div>
          <div class="col col_12 col_sm-6 col_md-4 col_xl-3 row">
            <InputText
              v-model="fields.number"
              :invalid="isFieldInvalid('number')"
              :errors="getFieldErrorMessages('number')"
              placeholder="Number"
            />
          </div>
          <div
            v-if="fields.id"
            class="col col_auto row"
          >
            <ControlsGroup>
              <VButton
                :to="{ name: 'Warehouse/Picks/Manage', params: { pickId: fields.id } }"
                theme="light"
              >
                <IconAssignment slot="icon"/>
                Manage
              </VButton>
            </ControlsGroup>
          </div>
        </div>
        <!-- Date-->
        <div class="grid">
          <div class="col col_12 col_sm-6 col_md-4 col_xl-3 row">
            <InputDate
              v-model="fields.date"
              :invalid="isFieldInvalid('date')"
              :errors="getFieldErrorMessages('date')"
              :timezone="timezone"
              label="Date"
            />
          </div>
        </div>
        <!-- Status + Shipment -->
        <div class="grid">
          <div class="col col_12 col_sm-6 col_md-4 col_xl-3 row">
            <Multiselect
              v-model="fields.status"
              :options="statuses"
              :option-label="getStatusLabel"
              :invalid="isFieldInvalid('status')"
              :errors="getFieldErrorMessages('status')"
              :allow-empty="false"
              label="Status"
            />
          </div>
          <div class="col col_12 col_sm-6 col_md-4 col_xl-3 row">
            <MultiselectAjax
              v-model="fields.shipment"
              :invalid="isFieldInvalid('shipment')"
              :errors="getFieldErrorMessages('shipment')"
              :query-params="{ pageSize: 20 }"
              option-label="number"
              label="Shipment"
              endpoint="/logistic/shipments/"
              disabled
            />
          </div>
        </div>
        <!-- Warehouse -->
        <div class="grid">
          <div class="col col_12 col_sm-6 col_md-4 row">
            <Multiselect
              v-model="fields.warehouse"
              :options="availableWarehouses"
              :invalid="isFieldInvalid('warehouse')"
              :errors="getFieldErrorMessages('warehouse')"
              :searchable="true"
              :allow-empty="false"
              option-label="name"
              label="Warehouse"
            />
          </div>
        </div>
        <!-- Workers -->
        <div class="grid">
          <div class="col col_12 col_sm-6 col_md-4 row">
            <MultiselectAjax
              v-model="fields.workers"
              :invalid="isFieldInvalid('workers')"
              :errors="getFieldErrorMessages('workers')"
              :allow-empty="true"
              track-by="id"
              option-label="fullName"
              label="Workers"
              endpoint="/account/users/"
              multiple
            />
          </div>
        </div>
      </VFieldset>
      <VFieldset title="Products">
        <PickFormProducts
          :products="fields.products"
          @changed="onProductsChange"
        />
      </VFieldset>
    </form>
    <!-- Sticky buttons -->
    <div
      slot="footer"
      class="grid rows"
    >
      <div class="col col_6 col_sm-4 col_lg-3 col_xl-2 row">
        <VButton
          fluid
          @click="submit"
        >
          {{ $t('controls.save') }}
        </VButton>
      </div>
      <div class="col col_6 col_sm-4 col_lg-3 col_xl-2 row">
        <VButton
          theme="light"
          fluid
          @click="cancel"
        >
          {{ $t('controls.cancel') }}
        </VButton>
      </div>
    </div>
  </Island>
</template>

<style lang="scss" type="text/scss"></style>
