<script>
  import formProductsMixin from '@/mixins/formProducts';

  export default {
    name: 'PickFormProducts',
    mixins: [formProductsMixin],
    data() {
      return {
        productsTableHeaders: [
          {
            label: 'SKU',
            value: 'code',
            sortable: true,
          },
          {
            label: 'Name',
            value: 'name',
            sortable: true,
          },
          {
            label: 'Bar code',
            sortable: false,
          },
          {
            label: 'Quantity',
            sortable: false,
          },
          {
            label: 'UOM',
            sortable: false,
          },
          {
            label: '', // Actions
            sortable: false,
          },
        ],
      };
    },
    methods: {
      addProduct(product) {
        const mutableProduct = {
          product: {
            id: product.id,
            name: product.name,
            code: product.code,
            bar: product.codes ? product.codes.bar : '',
          },
          quantity: {
            value: 0,
            uom: this.getProductDefaultPackage(product),
          },
          zones: [],
          packaging: product.packaging,
        };
        this.mutableProducts.unshift(mutableProduct);
        this.emitChanged();
        this.highlightAddedProduct();
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <Spoiler
      :active="showProducts"
      @activate="showProducts = true"
      @deactivate="showProducts = false"
    >
      <VLink
        slot="activator"
        decoration="dashed"
        class="text-compact"
        @click="showProducts = true"
      >
        Show products ↓
      </VLink>
      <div class="grid grid_middle">
        <div class="col">
          <div class="grid grid_middle">
            <div class="col col_auto row">
              <ProductSelector
                :active="showProductSelector"
                @activate="showProductSelector = true"
                @deactivate="showProductSelector = false"
                @select="addProduct"
              >
                <VButton
                  slot="activator"
                >
                  <IconPlus slot="icon"/>
                  Add product
                </VButton>
              </ProductSelector>
            </div>
            <div class="col col_auto row">
              <VLink
                v-if="showProducts"
                decoration="dashed"
                class="text-compact"
                @click="showProducts = false"
              >
                Hide products ↑
              </VLink>
            </div>
          </div>
        </div>
        <div class="col col_12 col_sm-6 col_lg-4 col_xl-3 row">
          <InputSearch
            v-model="search"
            placeholder="Search products"
            @input="searchProducts"
            @reset="searchProducts"
          />
        </div>
      </div>
      <DataTable
        :headers="productsTableHeaders"
        :items="visibleProducts"
        :highlight-index="highlightIndex"
      >
        <template
          v-slot:item="{ item }"
        >
          <td class="text-nowrap">
            <VLink
              :to="{ name: 'Warehouse/Products/Edit', params: { productId: item.product.id } }"
              target="_blank"
            >
              {{ item.product.code }}
            </VLink>
          </td>
          <td class="text-nowrap">{{ item.product.name }}</td>
          <td>
            <InlineBarcode
              v-if="item.product.bar"
              :code="item.product.bar"
              :title="item.product.name"
            />
          </td>
          <td style="width: 1%;">
            <div
              v-if="item.quantity"
              style="width: 100px;"
            >
              <InputNumber
                v-model="item.quantity.value"
                :step="1"
                :min="0"
                @input="emitChanged()"
              />
            </div>
          </td>
          <td style="width: 1%;">
            <div
              v-if="item.quantity && item.quantity.uom"
              v-loading="productsLoadingPackaging.includes(item)"
              style="width: 100px;"
            >
              <Multiselect
                v-if="item.packaging"
                v-model="item.quantity.uom"
                :options="item.packaging"
                :searchable="false"
                :multiple="false"
                :allow-empty="false"
                track-by="code"
                option-label="name"
                @input="emitChanged()"
              />
              <VLink
                v-else
                decoration="dashed"
                class="text-nowrap"
                @click="loadProductPackaging(item)"
              >
                {{ item.quantity.uom.name }}
              </VLink>
            </div>
          </td>
          <td style="width: 1%;">
            <DropMenu>
              <VButton
                slot="activator"
                theme="silent"
                round
              >
                <IconKebab slot="icon"/>
              </VButton>
              <DropMenuItem
                @click="removeProduct(item)"
              >
                <IconDelete slot="icon"/>
                {{ $t('controls.remove') }}
              </DropMenuItem>
            </DropMenu>
          </td>
        </template>
        <div
          v-if="visibleProducts.length"
          slot="after"
          class="grid grid_end"
        >
          <div class="col col_auto">
            <Paginator
              :pages="pages"
              :page-num="pageNum"
              :page-size="pageSize"
              @change-page-size="changePageSize"
              @paginate="paginate"
            />
          </div>
        </div>
      </DataTable>
    </Spoiler>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
