<script>
  import { required } from 'vuelidate/lib/validators';

  import form from '@/core/mixins/form';
  import { deepClone } from '@/core/helpers/utils';
  import { COST_TYPES, COST_CALC_TYPES } from '@/modules/purchasing/constants/order';

  export default {
    mixins: [form],
    data() {
      return {
        fields: {
          type: COST_TYPES.TAX,
          name: '',
          calcType: COST_CALC_TYPES.PERCENT,
          calcValue: 0,
          currency: '',
        },
        calcTypes: Object.keys(COST_CALC_TYPES),
        COST_TYPES,
      };
    },
    computed: {
      countryLimit() {
        if (this.country && this.country.countryCode) {
          return this.country.countryCode;
        }

        return null;
      },
    },
    validations() {
      return {
        fields: {
          name: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
        },
      };
    },
    methods: {
      submit() {
        if (!this.validate()) return;
        this.$emit('success', deepClone(this.fields));
      },
      cancel() {
        this.$emit('cancel');
      },
      getCalcTypesLabel(type) {
        // TODO: i18n
        const labels = {
          FIXED: 'Fixed',
          PERCENT: 'Percent',
        };

        return labels[type] || type;
      },
    },
  };
</script>

<template>
  <form
    novalidate
    @submit.prevent="submit"
  >
    <div class="row">
      <RadioGroup label="Type">
        <Radio
          v-model="fields.type"
          :val="COST_TYPES.TAX"
        >
          Tax
        </Radio>
        <Radio
          v-model="fields.type"
          :val="COST_TYPES.DISCOUNT"
        >
          Discount
        </Radio>
      </RadioGroup>
    </div>
    <div class="row">
      <InputText
        v-model="fields.name"
        :invalid="isFieldInvalid('name')"
        :errors="getFieldErrorMessages('name')"
        label="Name"
      />
    </div>
    <div class="grid">
      <div class="col row">
        <InputText
          v-model="fields.calcValue"
          label="Value"
        />
      </div>
      <div class="col row">
        <Multiselect
          v-model="fields.calcType"
          :options="calcTypes"
          :option-label="getCalcTypesLabel"
          :invalid="isFieldInvalid('calcType')"
          :errors="getFieldErrorMessages('calcType')"
          :allow-empty="false"
          label="Calc type"
        />
      </div>
    </div>
    <ButtonsGroup>
      <VButton
        type="submit"
        fluid
      >
        {{ $t('controls.save') }}
      </VButton>
      <VButton
        theme="danger"
        fluid
        @click="cancel"
      >
        {{ $t('controls.cancel') }}
      </VButton>
    </ButtonsGroup>
  </form>
</template>

<style lang="scss" type="text/scss"></style>
