<script>
  import axios from 'axios';

  import ButtonsGroup from '@/core/components/ButtonsGroup.vue';
  import Notice from '@/core/components/Notice.vue';
  import form from '@/core/mixins/form';
  import { deepClone } from '@/core/helpers/utils';

  // https://developers.google.com/maps/documentation/geocoding/intro
  // TODO: language param

  export default {
    components: {
      ButtonsGroup,
      Notice,
    },
    mixins: [form],
    data() {
      return {
        fields: {
          text: '',
          location: null,
          locationId: '',
          geocoder: '',
          components: {
            postcode: '',
            country: '',
            countryCode: '',
            city: '',
            address: '',
          },
          note: '',
          verified: false,
        },
        checkedAddress: '',
      };
    },
    computed: {
      notice() {
        // TODO: i18n
        return this.fields.verified
          ? 'Address verified'
          : 'Address not verified! You can save it, but it will not be displayed on the map.';
      },
      empty() {
        return this.fields.text.length === 0;
      },
      checked() {
        return (
          (this.fields.verified === true || this.fields.verified === false)
          && this.fields.text === this.checkedAddress
        );
      },
    },
    watch: {
      'fields.components': {
        handler(value) {
          if (!this.lastCheckedComponents) return;
          this.checked = JSON.stringify(value) === this.lastCheckedComponents;
        },
        deep: true,
      },
    },
    methods: {
      verify() {
        this.$emit('loading-start');
        return new Promise((resolve) => {
          const onFail = () => {
            this.fields.verified = false;
            this.fields.location = null;
            this.fields.locationId = '';
            this.fields.geocoder = '';
            this.fields.components = {};
            this.checkedAddress = this.fields.text;
            this.$emit('loading-end');
            resolve();
          };

          axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
            params: {
              address: this.fields.text,
              key: process.env.GOOGLE_MAPS_API_KEY,
            },
          })
            .then(({ data }) => {
              if (!data.results || !data.results[0]) {
                onFail();
                return;
              }

              const result = data.results[0];

              let country = '';
              let countryCode = '';
              let city = '';
              let postcode = '';
              let streetNumber = '';
              let route = '';
              let address = '';
              let sublocality = '';

              result.address_components.forEach((component) => {
                if (component.types[0] === 'country') {
                  country = component.long_name;
                  countryCode = component.short_name ? component.short_name.toUpperCase() : '';
                  return;
                }

                if (component.types[0] === 'postal_town' || component.types[0] === 'locality') {
                  city = component.long_name;
                  return;
                }

                if (component.types[0] === 'postal_code') {
                  postcode = component.long_name;
                }

                if (component.types[0] === 'route') {
                  route = component.long_name;
                  return;
                }

                if (component.types[0] === 'street_number' || component.types[0] === 'premise') {
                  streetNumber = component.long_name;
                }

                if (component.types.includes('sublocality_level_1')) {
                  sublocality = component.long_name;
                }
              });

              if (!city) {
                city = sublocality;
              }

              address = [streetNumber, route].filter(component => !!component).join(' ');

              const text = [
                address,
                city,
                postcode,
                country,
              ].filter(component => !!component).join(', ');

              this.$confirm({
                text: `Verified address is <b>${text}</b>. Is it correct?<br>`,
                confirmLabel: 'Yes',
                cancelLabel: 'No',
                onConfirm: () => {
                  this.fields.text = text;
                  this.fields.location = result.geometry.location;
                  this.fields.locationId = result.place_id;
                  this.fields.geocoder = 'GOOGLE';
                  this.fields.verified = true;
                  this.fields.components = {
                    country,
                      countryCode,
                      city,
                      postcode,
                      address,
                  };
                  this.checkedAddress = text;

                  this.$emit('loading-end');
                  resolve();
                },
                onCancel: () => {
                  onFail();
                },
              });
            })
            .catch(() => {
              onFail();
            });
        });
      },
      verifyAndSave() {
        this.verify()
          .then(() => {
            if (this.fields.verified) {
              this.submit();
            }
          })
          .catch(() => {
            // TODO: ??
          });
      },
      submit() {
        if (!this.validate()) return;
        this.$emit('success', !this.empty ? deepClone(this.fields) : null);
      },
      fill(values) {
        if (values) {
          this.fillFormFields(this.fields, values);

          if (values.verified || values.verified === false) {
            this.checkedAddress = values.text;
          }
        }

        this.fieldsBeforeEdit = deepClone(this.fields);
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <form
    noverify
    @submit.prevent="submit"
  >
    <Grid>
      <GridCol
        mods="12"
        class="row"
      >
        <InputText
          v-model="fields.text"
          :invalid="isFieldInvalid('text')"
          :errors="getFieldErrorMessages('text')"
          :maxlength="300"
          rows="2"
          label="Address"
          type="textarea"
        />
      </GridCol>
    </Grid>
    <Grid>
      <GridCol
        mods="12"
        class="row"
      >
        <InputText
          v-model="fields.note"
          :invalid="isFieldInvalid('note')"
          :errors="getFieldErrorMessages('note')"
          :maxlength="300"
          rows="2"
          label="Note"
          type="textarea"
        />
      </GridCol>
    </Grid>
    <div
      v-if="checked && !empty"
      class="row"
    >
      <Notice :type="fields.verified ? 'success' : 'warning'">
        {{ notice }}
      </Notice>
    </div>
    <Grid
      mods="middle between"
      class="rows"
    >
      <GridCol
        mods="auto"
        class="row"
      >
        <ButtonsGroup>
          <VButton
            v-if="!checked && !empty"
            theme="success"
            type="button"
            @click="verifyAndSave"
          >
            Verify and save
          </VButton>
          <VButton
            v-if="checked && !fields.verified"
            theme="success"
            type="button"
            @click="verify"
          >
            Verify
          </VButton>
          <VButton
            v-if="checked || empty"
            theme="success"
            type="submit"
          >
            Save
          </VButton>
          <VButton
            theme="light"
            @click="cancel"
          >
            Cancel
          </VButton>
        </ButtonsGroup>
      </GridCol>
      <GridCol
        mods="auto"
        class="row"
      >
        <img
          src="@/assets/images/powered-by-google.png"
          width="144"
          height="18"
        >
      </GridCol>
    </Grid>
  </form>
</template>

<style lang="scss" type="text/scss"></style>
