<script>
  import FieldErrors from '@/core/components/FieldErrors.vue';
  import FieldLabel from '@/core/components/FieldLabel.vue';
  import VButton from '@/core/components/VButton.vue';
  import IconEdit from '@/assets/icons/material/edit.svg';
  import { deepClone } from '@/core/helpers/utils';
  import inputProps from '@/core/mixins/inputProps';

  import InputAddressForm from './InputAddressForm.vue';

  export default {
    components: {
      FieldErrors,
      FieldLabel,
      InputAddressForm,
      VButton,
      IconEdit,
    },
    mixins: [inputProps],
    props: {
      value: {
        type: Object,
        default: null,
      },
    },
    data() {
      return {
        mutableValue: null,
        isShowForm: false,
        verifying: false,
        focused: false,
        errorsUnverified: [''],
      };
    },
    computed: {
      classes() {
        return {
          /* eslint-disable quote-props */
          '_focused': this.focused,
          '_disabled': this.disabled,
          '_invalid': this.invalid,
          /* eslint-enable quote-props */
        };
      },
      computedErrors() {
        if (this.errors.length) {
          return this.errors;
        }

        if (this.mutableValue && this.mutableValue.verified === false) {
          return ['Address is not verified and will not be displayed on the map'];
        }

        return [];
      },
    },
    watch: {
      value() {
        this.mutableValue = deepClone(this.value);
      },
    },
    created() {
      this.mutableValue = deepClone(this.value);
    },
    methods: {
      onAddressSave(address) {
        this.mutableValue = deepClone(address);
        this.isShowForm = false;
        this.$emit('input', this.mutableValue);
      },
      showForm() {
        if (!this.disabled) {
          this.isShowForm = true;
        }
      },
      onFormHidden() {
        if (this.$refs.editButton) {
          this.$refs.editButton.$el.focus();
        }
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div
    :class="classes"
    class="input-address"
  >
    <div
      v-if="label || $slots.label"
      class="input-address__label"
    >
      <FieldLabel
        :active="focused"
        :disabled="disabled"
        :invalid="invalid"
        @click-label="showForm"
      >
        <slot name="label">
          {{ label }}
        </slot>
      </FieldLabel>
    </div>
    <div
      class="input-address__body"
      @click="showForm"
    >
      <div class="input-address__value">
        <div
          v-if="!mutableValue || !mutableValue.text"
          class="input-address__placeholder"
        >
          <div >
            {{ placeholder }}
          </div>
        </div>
        <div v-else>
          <div class="input-address__text">{{ mutableValue.text }}</div>
          <div
            v-if="mutableValue.note"
            class="input-address__note"
          >
            {{ mutableValue.note }}
          </div>
        </div>
      </div>
      <div
        v-if="!disabled"
        class="input-address__control"
      >
        <VButton
          ref="editButton"
          theme="silent"
          size="small"
          round
          @click="showForm"
          @focus="focused = true"
          @blur="focused = false"
        >
          <IconEdit slot="icon"/>
        </VButton>
      </div>
    </div>
    <div
      v-if="computedErrors.length"
      class="input-address__footer"
    >
      <FieldErrors :errors="computedErrors"/>
    </div>
    <Modal
      :active="isShowForm"
      :loading="verifying"
      :return-focus="false"
      size="medium"
      @deactivate="isShowForm = false"
      @deactivated="onFormHidden"
    >
      <InputAddressForm
        v-if="isShowForm"
        :values="mutableValue"
        @loading-start="verifying = true"
        @loading-end="verifying = false"
        @success="onAddressSave"
        @cancel="isShowForm = false"
      />
    </Modal>
  </div>
</template>

<style lang="scss" type="text/scss">
  .input-address {
    &__body {
      position: relative;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      background: #fff;
      min-height: 32px;
      padding: 2px 5px;
      border: 1px solid $color-shade-500;
      border-radius: 4px;
      transition:
        border-radius .2s ease,
        border-color .2s ease;
    }

    &__value {
      flex: 1 0 0%;
      max-width: 100%;
      min-width: 0;
      font-size: 13px;
      line-height: 26px;
      min-height: 26px;
      color: $color-shade-900;
      transition: color .2s ease;
    }

    &__placeholder {
      display: block;
      font-weight: 300;
      color: $color-shade-500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__text {}

    &__note {
      font-size: 11px;
    }

    &__control {
      margin-left: 5px;
    }

    // Focused
    &._focused & {
      &__body {
        border-color: $color-primary;
      }

      &__value {
        color: $color-ui;
      }
    }

    // Disabled
    &._disabled & {
      &__body {
        border-color: $color-shade-400;
      }

      &__value {
        color: $color-shade-500;
      }
    }

    // Invalid
    &._invalid & {
      &__body {
        border-color: $color-invalid;
      }

      &__value {
        color: $color-invalid;
      }
    }
  }
</style>
