<script>
  export default {
    props: {
      fluid: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      classes() {
        return {
          /* eslint-disable quote-props */
          'container_fluid': this.fluid,
          /* eslint-enable quote-props */
        };
      },
    },
  };
</script>

<template>
  <div
    :class="classes"
    class="container"
  >
    <slot/>
  </div>
</template>

<style lang="scss" type="text/scss">
  .container {
    @include make-container();

    &:not(.container_fluid) {
      @include make-container-max-widths();
    }
  }
</style>
