<script>
  export default {
    props: {
      mods: {
        type: [Array, String],
        default: '',
      },
    },
    computed: {
      classes() {
        let mods = [];

        if (Array.isArray(this.mods)) {
          mods = this.mods;
        } else {
          mods = this.mods.split(' ');
        }

        return mods.map(mod => `col_${mod}`);
      },
    },
  };
</script>

<template>
  <div
    :class="classes"
    class="col"
  >
    <slot/>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
