<script>
  export default {
    props: {
      mods: {
        type: [Array, String],
        default: () => ([]),
      },
    },
    computed: {
      classes() {
        let mods = [];

        if (Array.isArray(this.mods)) {
          mods = this.mods;
        } else {
          mods = this.mods.split(' ');
        }

        return mods
          .filter(mod => !!mod)
          .map(mod => `grid_${mod}`);
      },
    },
  };
</script>

<template>
  <div
    :class="classes"
    class="grid"
  >
    <slot/>
  </div>
</template>

<style lang="scss" type="text/scss">
  @include generate-grid-classes();
</style>
