<script>
  import PurchaseOrder from '@/modules/purchasing/components/PurchaseOrder.vue';
  import VButton from '@/core/components/VButton.vue';
  import IconFile from '@/assets/icons/material/insert_drive_file.svg';

  export default {
    components: {
      PurchaseOrder,
      VButton,
      IconFile,
    },
    props: {
      orderId: {
        type: String,
        default: '',
        required: true,
      },
    },
    data() {
      return {
        order: null,
        active: false,
        loading: false,
      };
    },
    methods: {
      fetchOrder() {
        this.loading = true;
        const id = this.orderId;

        this.$api.get(`/supply/orders/${id}`)
          .then(({ data }) => {
            if (id !== this.orderId) return;
            this.order = data;
            this.loading = false;
          })
          .catch(() => {
            if (id !== this.orderId) return;
            this.$toasts.push({
              theme: 'danger',
              title: 'Error',
              text: 'Error while loading order',
            });
            this.loading = false;
          });
      },
      onOrderUpdated() {
        this.$emit('order-updated');
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <Modal
    :loading="loading"
    title="Sale order"
    size="medium"
    @activate="fetchOrder"
  >
    <VButton
      slot="activator"
      theme="silent"
      round
    >
      <IconFile slot="icon"/>
    </VButton>
    <PurchaseOrder
      v-if="order"
      :order="order"
      @loading-start="loading = true"
      @order-updated="onOrderUpdated"
      @loading-end="loading = false"
    />
    <div
      v-else
      style="height: 300px;"
    />
  </Modal>
</template>

<style lang="scss" type="text/scss"></style>
