<script>
  import Badge from '@/core/components/Badge.vue';
  import ButtonsGroup from '@/core/components/ButtonsGroup.vue';
  import ControlsGroup from '@/core/components/ControlsGroup.vue';
  import DataTable from '@/core/components/DataTable.vue';
  import Separator from '@/core/components/Separator.vue';
  import SimpleTable from '@/core/components/SimpleTable.vue';
  import Spoiler from '@/components/ui/Spoiler.vue';
  import VButton from '@/core/components/VButton.vue';
  import VLink from '@/core/components/VLink.vue';
  import IconBlock from '@/assets/icons/material/block.svg';
  import IconCheck from '@/assets/icons/material/check.svg';
  import IconEdit from '@/assets/icons/material/edit.svg';
  import { deepClone } from '@/core/helpers/utils';
  import { STATUSES, DELIVERY_STATUSES } from '@/modules/purchasing/constants/order';

  export default {
    components: {
      Badge,
      ButtonsGroup,
      ControlsGroup,
      DataTable,
      Separator,
      SimpleTable,
      Spoiler,
      VButton,
      VLink,
      IconBlock,
      IconCheck,
      IconEdit,
    },
    props: {
      order: {
        type: Object,
        default: () => ({}),
      },
    },
    data() {
      return {
        mutableOrder: null,
        productsTableHeaders: [
          {
            label: 'SKU',
            value: 'code',
            sortable: true,
          },
          {
            label: 'Name',
            value: 'name',
            sortable: true,
          },
          {
            label: 'Price',
            sortable: false,
          },
          {
            label: 'Quantity',
            sortable: false,
          },
          {
            label: 'UOM',
            sortable: false,
          },
        ],
        loading: false,
        expandDeliveries: false,
      };
    },
    watch: {
      order(order) {
        this.mutableOrder = deepClone(order);
      },
    },
    beforeMount() {
      this.mutableOrder = deepClone(this.order);
    },
    methods: {
      getTotal() {
        const total = this.mutableOrder.costs.find(cost => cost.type === 'TOTAL');
        return total || 0;
      },
      getStatusLabel(status) {
        // TODO: i18n
        const labels = {
          [STATUSES.PENDING]: 'Pending',
          [STATUSES.INCOMPLETE]: 'Incomplete',
          [STATUSES.COMPLETE]: 'Complete',
          [STATUSES.CANCELED]: 'Canceled',
        };

        return labels[status] || status;
      },
      getDeliveryStatusLabel(status) {
        // TODO: i18n
        const labels = {
          [DELIVERY_STATUSES.PENDING]: 'Pending',
          [DELIVERY_STATUSES.CONFIRMED]: 'Confirmed',
          [DELIVERY_STATUSES.APPROVED]: 'Approved',
          [DELIVERY_STATUSES.SHIPPED]: 'Shipped',
          [DELIVERY_STATUSES.DELIVERED]: 'Delivered',
          [DELIVERY_STATUSES.RETURNED]: 'Returned',
          [DELIVERY_STATUSES.CANCELED]: 'Canceled',
        };

        return labels[status] || status;
      },
      getStatusBadgeTheme(status) {
        const themes = {
          [STATUSES.PENDING]: '',
          [STATUSES.INCOMPLETE]: '',
          [STATUSES.COMPLETE]: 'success',
          [STATUSES.CANCELED]: 'light',
        };
        return themes[status] || '';
      },
      getDeliveryStatusBadgeTheme(status) {
        const themes = {
          [DELIVERY_STATUSES.PENDING]: 'warning',
          [DELIVERY_STATUSES.CONFIRMED]: '',
          [DELIVERY_STATUSES.APPROVED]: 'success',
          [DELIVERY_STATUSES.SHIPPED]: 'success',
          [DELIVERY_STATUSES.DELIVERED]: 'success',
          [DELIVERY_STATUSES.RETURNED]: 'danger',
          [DELIVERY_STATUSES.CANCELED]: 'light',
        };

        return themes[status] || '';
      },
      changeDeliveryStatus(delivery, status) {
        if (this.loading) return;
        this.loading = true;
        this.$emit('loading-start');

        this.$api.post(`/supply/orders/${this.mutableOrder.id}/deliveries/${delivery.id}/status/`, {
          status,
          expectedDate: delivery.expectedDate,
        })
          .then(() => {
            this.$toasts.push({
              theme: 'success',
              text: 'Delivery status changed successfully',
            });

            delivery.status = status;
            this.$emit('loading-end');
            this.$emit('order-updated', this.mutableOrder);
            this.loading = false;
          })
          .catch(() => {
            this.$toasts.push({
              theme: 'danger',
              title: 'Error',
              text: 'Could not change delivery status',
            });
            this.$emit('loading-end');
            this.loading = false;
          });
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div v-if="mutableOrder">
    <div class="row">
      <SimpleTable>
        <tr>
          <td class="text-light">Number:</td>
          <td>
            {{ mutableOrder.number }}
          </td>
        </tr>
        <tr>
          <td class="text-light">Status:</td>
          <td>
            <Badge
              :theme="getStatusBadgeTheme(mutableOrder.status)"
            >
              {{ getStatusLabel(mutableOrder.status) }}
            </Badge>
          </td>
        </tr>
        <tr>
          <td class="text-light">Date:</td>
          <td>{{ mutableOrder.date | date }}</td>
        </tr>
        <tr>
          <td class="text-light">Required date:</td>
          <td>{{ mutableOrder.requiredDate | date }}</td>
        </tr>
        <tr>
          <td class="text-light">Warehouse:</td>
          <td>{{ mutableOrder.warehouse.name }}</td>
        </tr>
        <tr>
          <td class="text-light">Supplier:</td>
          <td>
            <VLink
              :to="{ name: 'Purchasing/Suppliers/Edit', params: { supplierId: mutableOrder.supplier.id } }"
              target="_blank"
            >
              {{ mutableOrder.supplier.name }}
            </VLink>
          </td>
        </tr>
        <tr>
          <td class="text-light">Total:</td>
          <td>
            {{ getTotal().amount | toFixed(2) | splitDigits }} {{ mutableOrder.currency }}
          </td>
        </tr>
      </SimpleTable>
    </div>
    <div
      v-if="mutableOrder.delivery.length"
      class="row"
    >
      <div class="text-row text-bold">Deliveries:</div>
      <div
        v-if="!expandDeliveries"
        class="text-row"
      >
        <SimpleTable>
          <tr
            v-for="(delivery, i) in mutableOrder.delivery"
            :key="delivery.id || i"
          >
            <td>
              <Badge
                :theme="getDeliveryStatusBadgeTheme(delivery.status)"
              >
                {{ getDeliveryStatusLabel(delivery.status) }}
              </Badge>
            </td>
            <td>
              <template v-if="delivery.expectedDate">
                {{ delivery.expectedDate | date }}
              </template>
              <template v-else>
                <i>Expected date is not defined</i>
              </template>
            </td>
          </tr>
        </SimpleTable>
      </div>
      <Spoiler
        :active="expandDeliveries"
        @activate="expandDeliveries = true"
        @deactivate="expandDeliveries = false"
      >
        <VLink
          slot="activator"
          decoration="dashed"
          class="text-compact"
        >
          Expand deliveries ↓
        </VLink>
        <VLink
          slot="deactivator"
          decoration="dashed"
          class="text-compact"
        >
          Collapse deliveries ↑
        </VLink>
        <div
          v-for="delivery in mutableOrder.delivery"
          :key="delivery.expectedDate"
          class="row"
        >
          <Separator/>
          <div class="grid grid_middle grid_between">
            <div class="col col_auto row">
              <ControlsGroup>
                <Badge
                  :theme="getDeliveryStatusBadgeTheme(delivery.status)"
                >
                  {{ getDeliveryStatusLabel(delivery.status) }}
                </Badge>
                <div v-if="delivery.expectedDate">
                  <span class="text-light">Expected date:</span> {{ delivery.expectedDate | date }}
                </div>
                <div v-else>
                  <i>Expected date is not defined</i>
                </div>
              </ControlsGroup>
            </div>
            <div
              v-if="delivery.expectedDate && delivery.status !== 'CANCELED'"
              class="col col_auto row"
            >
              <ButtonsGroup>
                <VButton
                  v-if="delivery.status === 'PENDING'"
                  theme="success"
                  size="small"
                  @click="changeDeliveryStatus(delivery, 'APPROVED')"
                >
                  <IconCheck slot="icon"/>
                  Approve
                </VButton>
                <VButton
                  v-if="delivery.status === 'PENDING'"
                  theme="danger"
                  size="small"
                  @click="changeDeliveryStatus(delivery, 'CANCELED')"
                >
                  <IconBlock slot="icon"/>
                  Cancel
                </VButton>
              </ButtonsGroup>
            </div>
          </div>
          <div class="row">
            <DataTable
              :headers="productsTableHeaders"
              :items="delivery.products"
              track-by="id"
            >
              <template
                v-slot:item="{ item }"
              >
                <td>
                  <div class="text-nowrap">
                    <VLink
                      :to="{ name: 'Warehouse/Products/Edit', params: { productId: item.product.id } }"
                      target="_blank"
                    >
                      {{ item.product.code }}
                    </VLink>
                  </div>
                </td>
                <td>
                  <div class="text-nowrap">{{ item.product.name }}</div>
                </td>
                <td>
                  <div class="text-nowrap">
                    {{ item.price.value }} {{ mutableOrder.currency }}
                  </div>
                </td>
                <td>
                  <div
                    v-if="item.quantity"
                    class="text-nowrap"
                  >
                    {{ item.quantity.value }}
                  </div>
                </td>
                <td>
                  <div
                    v-if="item.quantity"
                    class="text-nowrap"
                  >
                    {{ item.quantity.uom.name }}
                  </div>
                </td>
              </template>
            </DataTable>
          </div>
          <SimpleTable>
            <tr
              v-for="(cost, k) in delivery.costs"
              :key="k"
            >
              <td class="text-light">{{ cost.name }}:</td>
              <td class="text-right">
                <template v-if="cost.type !== 'SUBTOTAL' && cost.type !=='TOTAL'">
                  {{ cost.type === 'DISCOUNT' ? '-' : '+' }}
                </template>
                {{ cost.amount | toFixed(2) | splitDigits }} {{ cost.currency || fields.currency }}
              </td>
            </tr>
          </SimpleTable>
        </div>
      </Spoiler>
    </div>
    <div
      v-else
      class="row text-tiny"
    >
      Purchase order deliveries list is empty
    </div>
    <ControlsGroup>
      <VButton
        :to="{ name: 'Purchasing/Orders/Edit', params: { orderId: mutableOrder.id } }"
        theme="light"
      >
        <IconEdit slot="icon"/>
        Edit order
      </VButton>
    </ControlsGroup>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
