<script>
  export default {
    meta() {
      const title = this.$t('pages.auth.Index.meta.title');
      return {
        title,
      };
    },
  };
</script>

<template>
  <Container>
    <KeepAlive include="AuthLogin,AuthSignup">
      <RouterView :key="$route.path"/>
    </KeepAlive>
  </Container>
</template>

<style lang="scss" type="text/scss"></style>
