<script>
  import Island from '@/core/components/Island.vue';
  import LoginForm from '@/modules/auth/components/LoginForm.vue';
  import VLink from '@/core/components/VLink.vue';

  export default {
    name: 'AuthLogin',
    meta() {
      const title = this.$t('pages.auth.Login.meta.title');
      return {
        title,
      };
    },
    components: {
      Island,
      LoginForm,
      VLink,
    },
    data() {
      return {
        username: '',
        loading: false,
      };
    },
    methods: {
      onLoginSuccess() {
        this.loading = false;
        this.$router.push(this.$route.query.return || '/');
      },
      onFormInput({ username }) {
        this.username = username;
      },
    },
  };
</script>

<template>
  <Grid mods="center">
    <GridCol mods="12 sm-8 md-7 lg-5 xl-4">
      <Island v-loading.fullscreen="loading">
        <div
          slot="header"
          class="text-center"
        >
          <img
            src="@/assets/images/logo/logo.svg"
            width="76"
            height="100"
            alt="Vasanda"
          >
        </div>
        <LoginForm
          @input="onFormInput"
          @submit="loading = true"
          @success="onLoginSuccess"
          @fail="loading = false"
        />
        <div
          slot="footer"
          class="text-compact text-center"
        >
          <div style="margin-bottom: 5px;">
            <VLink
              :to="{ name: 'Auth/Recover/Initiate', query: { username } }"
              decoration="none"
            >
              Forgot your password?
            </VLink>
          </div>
          <div>
            Don't have an account yet?
            <VLink
              :to="{ name: 'Auth/Signup' }"
              decoration="none"
            >
              Sign up
            </VLink>
          </div>
        </div>
      </Island>
    </GridCol>
  </Grid>
</template>

<style lang="scss" type="text/scss"></style>
