<script>
  import Island from '@/core/components/Island.vue';
  import ResetPasswordInitiateForm from '@/modules/auth/components/ResetPasswordInitiateForm.vue';
  import VLink from '@/core/components/VLink.vue';

  export default {
    meta() {
      const title = this.$t('pages.auth.RecoverInitiate.meta.title');
      return {
        title,
      };
    },
    components: {
      Island,
      ResetPasswordInitiateForm,
      VLink,
    },
    data() {
      return {
        loading: false,
      };
    },
    methods: {
      onCodeSent(username) {
        this.loading = false;
        this.$router.push({
          name: 'Auth/Recover',
          query: { username },
        });
      },
    },
  };
</script>

<template>
  <Grid mods="center">
    <GridCol mods="12 sm-8 md-7 lg-5 xl-4">
      <Island v-loading.fullscreen="loading">
        <div
          slot="header"
          class="text-center"
        >
          <img
            src="@/assets/images/logo/logo.svg"
            width="76"
            height="100"
            alt="Vasanda"
          >
        </div>
        <div class="row text-compact">
          We will send you confirmation code on the email.
        </div>
        <ResetPasswordInitiateForm
          @submit="loading = true"
          @success="onCodeSent"
          @fail="loading = false"
        />
        <div
          slot="footer"
          class="text-compact text-center"
        >
          <div>
            <VLink
              :to="{ name: 'Auth/Login' }"
              decoration="none"
            >
              Login
            </VLink>
          </div>
        </div>
      </Island>
    </GridCol>
  </Grid>
</template>

<style lang="scss" type="text/scss"></style>
