<script>
  import Island from '@/core/components/Island.vue';
  import ResetPasswordForm from '@/modules/auth/components/ResetPasswordForm.vue';
  import VButton from '@/core/components/VButton.vue';
  import VLink from '@/core/components/VLink.vue';

  export default {
    meta() {
      const title = this.$t('pages.auth.Recover.meta.title');
      return {
        title,
      };
    },
    components: {
      Island,
      ResetPasswordForm,
      VButton,
      VLink,
    },
    data() {
      return {
        loading: false,
        success: false,
        username: '',
      };
    },
    methods: {
      onSuccess(username) {
        this.loading = false;
        this.success = true;
        this.username = username;
      },
    },
  };
</script>

<template>
  <div>
    <Grid mods="center">
      <GridCol mods="12 sm-8 md-7 lg-5 xl-4">
        <Island v-loading.fullscreen="loading">
          <div
            slot="header"
            class="text-center"
          >
            <img
              src="@/assets/images/logo/logo.svg"
              width="76"
              height="100"
              alt="Vasanda"
            >
          </div>
          <ResetPasswordForm
            @submit="loading = true"
            @success="onSuccess"
            @fail="loading = false"
          />
          <div
            slot="footer"
            class="text-compact text-center"
          >
            <div>
              <VLink
                :to="{ name: 'Auth/Login' }"
                decoration="none"
              >
                Login
              </VLink>
            </div>
          </div>
        </Island>
      </GridCol>
    </Grid>
    <!-- Success modal -->
    <Modal
      v-if="success"
      :active="success"
      :close-on-overlay="false"
      :close-on-esc="false"
      :header="false"
      size="small"
    >
      <div class="row">{{ $t('pages.auth.Recover.successMessage') }}</div>
      <div class="text-center">
        <VButton
          :to="{ name: 'Auth/Login', query: { username } }"
        >
          {{ $t('controls.ok') }}
        </VButton>
      </div>
    </Modal>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
