<script>
  import Island from '@/core/components/Island.vue';
  import SignupForm from '@/modules/auth/components/SignupForm.vue';
  import VButton from '@/core/components/VButton.vue';
  import VLink from '@/core/components/VLink.vue';

  export default {
    name: 'AuthSignup',
    meta() {
      const title = this.$t('pages.auth.Signup.meta.title');
      return {
        title,
      };
    },
    components: {
      Island,
      SignupForm,
      VButton,
      VLink,
    },
    data() {
      return {
        loading: false,
        success: false,
      };
    },
    deactivated() {
      this.loading = false;
      this.success = false;
    },
    methods: {
      onSuccess() {
        this.loading = false;
        this.success = true;
      },
    },
  };
</script>

<template>
  <div>
    <Grid mods="center">
      <GridCol mods="12 md-9 lg-8">
        <Island v-loading.fullscreen="loading">
          <div
            slot="header"
            class="text-center"
          >
            <img
              src="@/assets/images/logo/logo.svg"
              width="76"
              height="100"
              alt="Vasanda"
            >
          </div>
          <SignupForm
            @submit="loading = true"
            @success="onSuccess"
            @fail="loading = false"
          />
          <div
            slot="footer"
            class="text-compact text-center"
          >
            Do you already have an account?
            <VLink
              :to="{ name: 'Auth/Login' }"
              decoration="none"
            >
              Log in
            </VLink>
          </div>
        </Island>
      </GridCol>
    </Grid>
    <!-- Success modal -->
    <Modal
      v-if="success"
      :active="success"
      :close-on-overlay="false"
      :close-on-esc="false"
      :header="false"
      size="small"
    >
      <div class="row">{{ $t('pages.auth.Signup.successMessage') }}</div>
      <div class="text-center">
        <VButton
          :to="{ name: 'Auth/Login' }"
        >
          {{ $t('controls.ok') }}
        </VButton>
      </div>
    </Modal>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
