<script>
  import { fillArray } from '@/core/helpers/utils';
  import FieldLabel from '@/core/components/FieldLabel.vue';
  import Multiselect from '@/core/components/Multiselect.vue';
  import VLink from '@/core/components/VLink.vue';
  import inputProps from '@/core/mixins/inputProps';

  export default {
    components: {
      FieldLabel,
      Multiselect,
      VLink,
    },
    mixins: [inputProps],
    props: {
      product: {
        type: Object,
        default: null,
        required: true,
      },
      value: {
        type: Object,
        default: null,
      },
    },
    data() {
      return {
        packageLoading: false,
        packageLoaded: false,
        packaging: [],
        mutableValue: null,
      };
    },
    watch: {
      value(val) {
        if (val !== this.mutableValue) {
          this.mutableValue = val;
        }
      },
    },
    created() {
      this.mutableValue = this.value;
    },
    methods: {
      loadPackaging() {
        if (this.packageLoading) return;

        this.packageLoading = true;

        this.$api.get(`/warehouse/products/${this.product.id}/packaging`)
          .then(({ data }) => {
            fillArray(this.packaging, data);
            this.packageLoading = false;
            this.packageLoaded = true;
          })
          .catch(() => {
            this.$toasts.push({
              theme: 'danger',
              title: 'Error',
              text: `Could not fetch packaging data for ${this.product.name}`,
            });
            this.packageLoading = false;
          });
      },
      emitInput() {
        this.$emit('input', this.mutableValue);
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div class="product-units-select">
    <Multiselect
      v-if="packageLoaded || packageLoading"
      v-model="mutableValue"
      :options="packaging"
      :searchable="false"
      :multiple="false"
      :allow-empty="false"
      :name="name"
      :placeholder="placeholder"
      :required="required"
      :disabled="disabled"
      :readonly="readonly"
      :invalid="invalid"
      :errors="errors"
      :advice="advice"
      :autofocus="autofocus"
      :loading="packageLoading"
      :label="label"
      option-label="name"
      track-by="code"
      @input="emitInput"
    >
      <template v-slot:option="{ option }">
        <div>{{ option.name }}</div>
        <div
          v-if="!option.base"
          class="text-tiny"
        >
          Base units: {{ option.units }}
        </div>
      </template>
    </Multiselect>
    <template v-else>
      <FieldLabel v-if="label"/>
      <div class="product-units-select__holder">
        <VLink
          decoration="dashed"
          class="text-nowrap"
          @click="loadPackaging"
        >
          {{ mutableValue.name }}
        </VLink>
      </div>
    </template>
  </div>
</template>

<style lang="scss" type="text/scss">
  .product-units-select {
    &__holder {
      height: 32px; // Multiselect height
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
</style>
