<script>
  import { required } from 'vuelidate/lib/validators';

  import ZoneSelect from '@/modules/warehouse/components/ZoneSelect.vue';
  import form from '@/core/mixins/form';

  export default {
    components: {
      ZoneSelect,
    },
    mixins: [form],
    props: {
      stock: {
        type: Object,
        default: () => ({}),
      },
      product: {
        type: Object,
        default: () => ({}),
      },
    },
    data() {
      return {
        fields: {
          zone: null,
          capacity: {
            value: 0,
            uom: this.getProductDefaultPackage(this.product),
          },
          default: true,
        },
        showZonesSelector: false,
      };
    },
    computed: {
      selectedZones() {
        return this.stock.zones.map(item => ({
          id: item.zone.id,
          code: item.zone.code,
          path: item.zone.path,
        }));
      },
    },
    validations() {
      return {
        fields: {
          zone: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
        },
      };
    },
    methods: {
      submit() {
        if (this.sending) return;
        if (!this.validate()) return;

        this.$emit('submit');
        this.sending = true;

        const payload = {
          zone: this.fields.zone,
          capacity: this.fields.capacity,
          default: this.fields.default,
        };

        const request = this.values.zone
          ? this.$api.put(`warehouse/stock/${this.stock.id}/zones/${this.fields.zone.id}`, payload)
          : this.$api.post(`warehouse/stock/${this.stock.id}/zones/`, payload);

        request
          .then(({ data }) => {
            this.sending = false;
            this.$toasts.push({
              theme: 'success',
              text: this.values.zone ? 'Stock zone updated successfully' : 'Stock zone created successfully',
            });
            this.fill(data);
            this.$emit('success', data);
          })
          .catch((err) => {
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
      getProductDefaultPackage(product) {
        // TODO: move to mixin / helper
        if (!product || !product.packaging) return null;
        return (
          product.packaging.find(item => item.default)
          || product.packaging.find(item => item.base)
        );
      },
    },
  };
</script>

<template>
  <div>
    <form
      novalidate
      @submit.prevent="submit"
    >
      <div class="grid row">
        <div class="col col_sm-8">
          <ZoneSelect
            v-model="fields.zone"
            :warehouse-id="stock.warehouseId"
            :invalid="isFieldInvalid('zone')"
            :errors="getFieldErrorMessages('zone')"
            :disabled-zones="selectedZones"
            label="Zone"
          />
        </div>
      </div>
      <div class="grid row">
        <div class="col col_6 col_sm-4">
          <InputNumber
            v-model="fields.capacity.value"
            :invalid="isFieldInvalid('capacity.value')"
            :errors="getFieldErrorMessages('capacity.value')"
            label="Capacity"
          />
        </div>
        <div class="col col_6 col_sm-4">
          <Multiselect
            v-model="fields.capacity.uom"
            :invalid="isFieldInvalid('capacity.uom')"
            :errors="getFieldErrorMessages('capacity.uom')"
            :options="product.packaging"
            :searchable="false"
            :multiple="false"
            :allow-empty="false"
            option-label="name"
            label="UOM"
          />
        </div>
      </div>
      <div class="row">
        <Checkbox v-model="fields.default">
          Default
        </Checkbox>
      </div>
      <ButtonsGroup>
        <VButton
          type="submit"
        >
          {{ $t('controls.save') }}
        </VButton>
        <VButton
          theme="danger"
          @click="cancel"
        >
          {{ $t('controls.cancel') }}
        </VButton>
      </ButtonsGroup>
    </form>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
