<script>
  import { required } from 'vuelidate/lib/validators';

  import ZoneSelect from '@/modules/warehouse/components/ZoneSelect.vue';
  import form from '@/core/mixins/form';

  export default {
    components: {
      ZoneSelect,
    },
    mixins: [form],
    props: {
      stock: {
        type: Object,
        default: () => ({}),
      },
      product: {
        type: Object,
        default: () => ({}),
      },
    },
    data() {
      return {
        fields: {
          zone: null,
          lot: null,
          quantity: {
            value: 0,
            uom: this.getProductDefaultPackage(this.product),
          },
          note: {
            text: '',
          },
        },
        showZonesSelector: false,
      };
    },
    computed: {
      availableLots() {
        if (!this.fields.zone) return [];
        const stockInZone = (
          this.stock.zones.find(zone => zone.zone.id === this.fields.zone.id)
        );

        return stockInZone ? stockInZone.lots : [];
      },
    },
    validations() {
      const rules = {
        fields: {
          zone: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
          note: {
            text: {
              required: this.createValidationRule(required, this.$t('forms.validations.required')),
            },
          },
        },
      };

      if (this.fields.quantity.value && this.fields.quantity.value < 0) {
        rules.fields.lot = {
          required: this.createValidationRule(required, this.$t('forms.validations.required')),
        };
      }

      return rules;
    },
    watch: {
      /* eslint-disable-next-line func-names */
      'fields.zone': function (val, oldVal) {
        if (!val || (oldVal && val.id !== oldVal.id)) {
          this.fields.lot = null;
        }
      },
    },
    methods: {
      submit() {
        if (this.sending) return;
        if (!this.validate()) return;

        this.$emit('submit');
        this.sending = true;

        const payload = {
          zone: this.fields.zone,
          quantity: this.fields.quantity,
          note: this.fields.note,
          warehouseId: this.stock.warehouseId,
          productId: this.stock.productId,
          type: 'ADJUSTMENT',
        };

        if (this.fields.lot) {
          payload.lot = this.fields.lot.lot;
        }

        this.$api.post('warehouse/stock/transactions', payload)
          .then(({ data }) => {
            this.sending = false;
            this.$toasts.push({
              theme: 'success',
              text: 'Transaction created successfully',
            });
            this.$emit('success', data);
          })
          .catch((err) => {
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
      getProductDefaultPackage(product) {
        // TODO: move to mixin / helper
        if (!product || !product.packaging) return null;
        return (
          product.packaging.find(item => item.default)
          || product.packaging.find(item => item.base)
        );
      },
      getLotLabel(lot) {
        // TODO: date to timezone
        const parts = [
          this.$options.filters.date(lot.date),
          lot.number,
        ];

        if (lot.quantity) {
          parts.push(lot.quantity.value, lot.quantity.uom.name);
        }

        return parts.filter(part => !!part).join(' / ');
      },
    },
  };
</script>

<template>
  <div>
    <form
      novalidate
      @submit.prevent="submit"
    >
      <div class="grid row">
        <div class="col col_sm-8">
          <ZoneSelect
            v-model="fields.zone"
            :warehouse-id="stock.warehouseId"
            :invalid="isFieldInvalid('zone')"
            :errors="getFieldErrorMessages('zone')"
            label="Zone"
          />
        </div>
      </div>
      <div
        v-if="fields.zone"
        class="row"
      >
        <Multiselect
          v-model="fields.lot"
          :options="availableLots"
          :invalid="isFieldInvalid('lot')"
          :errors="getFieldErrorMessages('lot')"
          :allow-empty="true"
          :option-label="getLotLabel"
          label="Lot"
        />
      </div>
      <div class="grid row">
        <div class="col col_6 col_sm-4">
          <InputNumber
            v-model="fields.quantity.value"
            :invalid="isFieldInvalid('quantity.value')"
            :errors="getFieldErrorMessages('quantity.value')"
            label="Quantity"
          />
        </div>
        <div class="col col_6 col_sm-4">
          <Multiselect
            v-model="fields.quantity.uom"
            :invalid="isFieldInvalid('quantity.uom')"
            :errors="getFieldErrorMessages('quantity.uom')"
            :options="product.packaging"
            :searchable="false"
            :multiple="false"
            :allow-empty="false"
            option-label="name"
            label="UOM"
          />
        </div>
      </div>
      <div class="row">
        <InputText
          v-model="fields.note.text"
          :invalid="isFieldInvalid('note.text')"
          :errors="getFieldErrorMessages('note.text')"
          type="textarea"
          maxlength="300"
          label="Note"
        />
      </div>
      <ButtonsGroup>
        <VButton
          type="submit"
        >
          {{ $t('controls.save') }}
        </VButton>
        <VButton
          theme="danger"
          @click="cancel"
        >
          {{ $t('controls.cancel') }}
        </VButton>
      </ButtonsGroup>
    </form>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
