<script>
  import InputText from '@/core/components/InputText.vue';
  import VButton from '@/core/components/VButton.vue';
  import VLink from '@/core/components/VLink.vue';
  import Zones from '@/modules/warehouse/components/Zones';
  import IconEdit from '@/assets/icons/material/edit.svg';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    components: {
      InputText,
      VButton,
      VLink,
      Zones,
      IconEdit,
    },
    props: {
      warehouseId: {
        type: String,
        required: true,
      },
      name: {
        type: String,
        default: null,
      },
      placeholder: {
        type: String,
        default: '',
      },
      required: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      invalid: {
        type: Boolean,
        default: false,
      },
      value: {
        type: Object,
        default: null,
      },
      label: {
        type: String,
        default: '',
      },
      advice: {
        type: String,
        default: '',
      },
      errors: {
        type: Array,
        default: () => ([]),
      },
      disabledZones: {
        type: Array,
        default: () => ([]),
      },
      selectedZones: {
        type: Array,
        default: () => ([]),
      },
    },
    data() {
      return {
        mutableValue: null,
        showZonesSelector: false,
      };
    },
    computed: {
      displayValue() {
        if (!this.mutableValue) return '';

        const {
          code,
          name,
          type,
        } = this.mutableValue;

        return `${name} (${code}, ${type})`;
      },
    },
    watch: {
      value() {
        this.mutableValue = deepClone(this.value);
      },
    },
    created() {
      this.mutableValue = deepClone(this.value);
    },
    methods: {
      onFocusZoneField() {
        this.$refs.editButton.$el.focus();
      },
      onSelectZone(zone) {
        this.mutableValue = {
          id: zone.id,
          code: zone.code,
          name: zone.name,
          type: zone.type,
        };
        this.$emit('input', this.mutableValue);
        this.showZonesSelector = false;
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <InputText
      :value="displayValue"
      :invalid="invalid"
      :errors="errors"
      :label="label"
      :advice="advice"
      readonly
      @click.native="showZonesSelector = true"
      @focus="onFocusZoneField"
    >
      <VButton
        ref="editButton"
        slot="addon"
        theme="silent"
        size="small"
        round
        @click="showZonesSelector = true"
      >
        <IconEdit slot="icon"/>
      </VButton>
    </InputText>
    <Modal
      v-if="showZonesSelector"
      :active="showZonesSelector"
      size="small"
      title="Select zone"
      @deactivate="showZonesSelector = false"
    >
      <div class="row">
        <Zones
          :warehouse-id="warehouseId"
          :disabled-zones="disabledZones"
          :selected-zones="selectedZones"
          @select-item="onSelectZone"
        />
      </div>
      <div class="text-tiny">
        <VLink :to="{ name: 'Warehouse/Zones' }">Manage zones</VLink> for current warehouse
      </div>
    </Modal>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
