<script>
  import { required } from 'vuelidate/lib/validators';

  import form from '@/core/mixins/form';
  import { TYPES } from '@/modules/warehouse/constants/zone';

  export default {
    mixins: [form],
    props: {
      id: {
        type: [String, Number],
        default: '',
      },
      warehouseId: {
        type: String,
        default: '',
        required: true,
      },
      parentId: {
        type: String,
        default: '',
      },
      accountId: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        fields: {
          code: '',
          name: '',
          type: TYPES.ZONE,
        },
        availableTypes: Object.keys(TYPES),
      };
    },
    validations() {
      return {
        fields: {
          code: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
          name: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
          type: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
        },
      };
    },
    methods: {
      submit() {
        if (this.sending) return;
        if (!this.validate()) return;

        this.$emit('submit');
        this.sending = true;

        const payload = Object.assign({}, this.fields, { warehouseId: this.warehouseId });

        if (this.parentId) {
          payload.parentId = this.parentId;
        }

        if (this.id) {
          payload.id = this.id;
          payload.accountId = this.accountId;
        }

        const request = this.id
          ? this.$api.put(`/warehouse/warehouses/${this.warehouseId}/zones/${this.id}`, payload)
          : this.$api.post(`/warehouse/warehouses/${this.warehouseId}/zones/`, payload);

        request
          .then(({ data }) => {
            this.sending = false;
            this.$toasts.push({
              theme: 'success',
              text: this.id ? 'Zone updated successfully' : 'Zone created successfully',
            });
            this.$emit('success', data);
          })
          .catch((err) => {
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
      getTypeLabel(type) {
        // TODO: i18n
        const labels = {
          BIN: 'Bin',
          DOCK: 'Dock',
          PALLET: 'Pallet',
          RACK: 'Rack',
          ZONE: 'Zone',
        };

        return labels[type] || type;
      },
      i18n(path, params) {
        return this.$t(`components.FormWarehouseZone.${path}`, params);
      },
    },
  };
</script>

<template>
  <form
    novalidate
    @submit.prevent="submit"
  >
    <div class="grid">
      <div class="col col_12 col_sm-4 row">
        <InputText
          v-model="fields.code"
          :invalid="isFieldInvalid('code')"
          :errors="getFieldErrorMessages('code')"
          :label="i18n('labels.code')"
        />
      </div>
      <div class="col col_12 col_sm-8 row">
        <InputText
          v-model="fields.name"
          :invalid="isFieldInvalid('name')"
          :errors="getFieldErrorMessages('name')"
          :label="i18n('labels.name')"
        />
      </div>
    </div>
    <div class="grid">
      <div class="col col_12 col_sm-4 row">
        <Multiselect
          v-model="fields.type"
          :options="availableTypes"
          :option-label="getTypeLabel"
          :invalid="isFieldInvalid('type')"
          :errors="getFieldErrorMessages('type')"
          :label="i18n('labels.type')"
          :allow-empty="false"
        />
      </div>
    </div>
    <ButtonsGroup>
      <VButton
        type="submit"
        fluid
      >
        {{ $t('controls.save') }}
      </VButton>
      <VButton
        theme="danger"
        fluid
        @click="cancel"
      >
        {{ $t('controls.cancel') }}
      </VButton>
    </ButtonsGroup>
  </form>
</template>

<style lang="scss" type="text/scss"></style>
