<script>
  import { required } from 'vuelidate/lib/validators';

  import form from '@/core/mixins/form';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    components: {},
    mixins: [form],
    data() {
      return {
        fields: {
          file: '',
        },
      };
    },
    validations() {
      return {
        fields: {
          file: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
        },
      };
    },
    methods: {
      submit() {
        if (this.sending) return;
        if (!this.validate()) return;

        this.$emit('submit');
        this.sending = true;

        this.$api.post('/sale/import/prices', this.fields)
          .then(() => {
            this.sending = false;
            this.$toasts.push({
              theme: 'success',
              text: 'Prices imported successful',
            });
            this.$emit('success', deepClone(this.fields));
          })
          .catch((err) => {
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <form
    novalidate
    @submit.prevent="submit"
  >
    <div class="row text-h4">Import prices</div>
    <div class="row text-tiny">Add url to .csv file</div>
    <div class="grid">
      <div class="col col_sm-10 col_md-8 col_xl-6">
        <InputText
          v-model="fields.file"
          :invalid="isFieldInvalid('file')"
          :errors="getFieldErrorMessages('file')"
          label="File URL"
        >
          <VButton
            slot="after"
            type="submit"
          >
            Import
          </VButton>
        </InputText>
      </div>
    </div>
  </form>
</template>

<style lang="scss" type="text/scss"></style>
