<script>
  import Badge from '@/core/components/Badge.vue';
  import ButtonsGroup from '@/core/components/ButtonsGroup.vue';
  import DataTable from '@/core/components/DataTable.vue';
  import VButton from '@/core/components/VButton.vue';
  import VLink from '@/core/components/VLink.vue';
  import { fillArray } from '@/core/helpers/utils';
  import { STATUSES } from '@/modules/sales/constants/order';

  export default {
    components: {
      Badge,
      ButtonsGroup,
      DataTable,
      VButton,
      VLink,
    },
    data() {
      return {
        orders: [],
        loading: false,
        tableHeaders: [
          {
            label: 'Number',
            value: 'number',
            sortable: false,
          },
          {
            label: 'Date',
            value: 'date',
            sortable: false,
          },
          {
            label: 'Status',
            value: 'status',
            sortable: false,
          },
          {
            label: 'Customer',
            sortable: false,
          },
          {
            label: 'Total',
            sortable: false,
          },
        ],
      };
    },
    beforeMount() {
      this.fetchOrders();
    },
    methods: {
      fetchOrders() {
        if (this.loading) return;

        this.loading = true;

        const params = {
          pageSize: 5,
          pageNum: 1,
          sortBy: 'createdAt',
          sortOrder: -1,
        };

        this.$api.get('/sale/orders/', { params })
          .then(({ data }) => {
            fillArray(this.orders, data.data);
            this.loading = false;
          })
          .catch(() => {
            this.loading = false;
            this.$toasts.push({
              theme: 'danger',
              title: 'Error',
              text: 'could not fetch recent orders list',
            });
          });
      },
      getStatusLabel(status) {
        // TODO: i18n
        const labels = {
          [STATUSES.PENDING]: 'Pending',
          [STATUSES.INCOMPLETE]: 'Incomplete',
          [STATUSES.COMPLETE]: 'Complete',
          [STATUSES.CANCELED]: 'Canceled',
        };

        return labels[status] || status;
      },
      getStatusBadgeTheme(status) {
        const themes = {
          [STATUSES.PENDING]: '',
          [STATUSES.INCOMPLETE]: '',
          [STATUSES.COMPLETE]: 'success',
          [STATUSES.CANCELED]: 'light',
        };
        return themes[status] || '';
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <div class="row text-h4">Recent orders</div>
    <DataTable
      class="row"
      :loading="loading"
      :headers="tableHeaders"
      :items="orders"
      :internal-sort="false"
      track-by="id"
    >
      <template
        v-slot:item="{ item }"
      >
        <td class="text-nowrap">
          <VLink
            :to="{ name: 'Sales/Orders/Edit', params: { orderId: item.id } }"
          >
            {{ item.number }}
          </VLink>
        </td>
        <td class="text-nowrap">{{ item.date | date }}</td>
        <td>
          <Badge
            :theme="getStatusBadgeTheme(item.status)"
          >
            {{ getStatusLabel(item.status) }}
          </Badge>
        </td>
        <td class="text-nowrap">
          {{ item.customer.name }}
        </td>
        <td class="text-nowrap">
          <div
            v-if="item.totalCost && item.totalCost.amount"
          >
            {{ item.totalCost.amount | toFixed(2) | splitDigits }} {{ item.currency }}
          </div>
        </td>
      </template>
    </DataTable>
    <ButtonsGroup>
      <VButton
        :to="{ name: 'Sales/Orders/List' }"
        size="small"
        theme="light"
      >
        Show all
      </VButton>
      <VButton
        :to="{ name: 'Sales/Orders/Create' }"
        size="small"
        theme="light"
      >
        Create new
      </VButton>
    </ButtonsGroup>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
