<script>
  import { required } from 'vuelidate/lib/validators';

  import Island from '@/core/components/Island.vue';
  import Separator from '@/core/components/Separator.vue';
  import IconDelete from '@/assets/icons/material/delete.svg';
  import IconPlus from '@/assets/icons/plus.svg';
  import IconStock from '@/assets/icons/material/view_module.svg';
  import form from '@/core/mixins/form';
  import CURRENCIES from '@/core/constants/currencies';
  import { deepClone, removeFromArray } from '@/core/helpers/utils';

  const PRICE_MODEL = {
    name: '',
    value: '',
    currency: CURRENCIES.USD,
  };

  export default {
    components: {
      Island,
      Separator,
      IconDelete,
      IconPlus,
      IconStock,
    },
    mixins: [form],
    data() {
      return {
        fields: {
          id: '',
          accountId: '',
          product: null,
          prices: [],
        },
        availableCurrencies: Object.keys(CURRENCIES),
      };
    },
    validations() {
      return {
        fields: {
          prices: {
            $each: {
              value: {
                required: this.createValidationRule(required, this.$t('forms.validations.required')),
              },
              name: {
                required: this.createValidationRule(required, this.$t('forms.validations.required')),
              },
            },
          },
        },
      };
    },
    methods: {
      submit() {
        if (this.sending) return;
        if (!this.validate()) return;

        this.$emit('submit');
        this.sending = true;

        const payload = {
          product: this.fields.product,
          prices: this.fields.prices,
        };

        if (this.fields.id) {
          payload.id = this.fields.id;
          payload.accountId = this.fields.accountId;
        }

        const request = this.fields.id
          ? this.$api.put(`/sale/prices/${this.fields.id}`, payload)
          : this.$api.post('/sale/prices', payload);

        request
          .then(({ data }) => {
            this.sending = false;
            this.fill(data);
            this.$toasts.push({
              theme: 'success',
              text: 'Prices saved',
            });
            this.$emit('success', deepClone(this.fields));
          })
          .catch((err) => {
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
      close() {
        const listName = 'Sales/Prices/List';
        if (this.$store.state.route.from.name === listName) {
          this.$router.go(-1);
        } else {
          this.$router.push({
            name: listName,
          });
        }
      },
      addPrice() {
        this.fields.prices.push(deepClone(PRICE_MODEL));
      },
      removePrice(price) {
        if (!price.name && !price.value) {
          removeFromArray(this.fields.prices, price);
          return;
        }

        this.$confirm({
          text: 'Remove price?',
          confirmLabel: this.$t('controls.remove'),
          onConfirm: () => {
            removeFromArray(this.fields.prices, price);
          },
        });
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <Island sticky-footer>
    <form
      novalidate
      @submit.prevent="submit"
    >
      <div class="grid grid_middle">
        <div class="col col_auto row text-h4">Prices for {{ fields.product.name }}</div>
        <div
          v-if="fields.id"
          class="col col_auto row"
        >
          <ControlsGroup>
            <VButton
              :to="{ name: 'Warehouse/Products/Edit', params: { productId: fields.product.id } }"
              theme="light"
            >
              <IconStock slot="icon"/>
              Manage product
            </VButton>
            <VButton
              :to="{ name: 'Warehouse/Products/Stock', params: { productId: fields.product.id } }"
              theme="light"
            >
              <IconStock slot="icon"/>
              Manage product stock
            </VButton>
          </ControlsGroup>
        </div>
      </div>
      <div v-if="fields.prices && fields.prices.length">
        <div
          v-for="(price, i) in fields.prices"
          :key="`price-${i}`"
        >
          <div class="grid rows">
            <div class="col col_12 col_sm-6 col_md-4 col_lg-3 row">
              <InputText
                v-model="price.name"
                :invalid="isFieldInvalid(`prices.$each[${i}].name`)"
                :errors="getFieldErrorMessages(`prices.$each[${i}].name`)"
                label="Name"
              />
            </div>
            <div class="col col_6 col_sm-3 col_md-2 col_lg-3 col_xl-2 row">
              <InputNumber
                v-model="price.value"
                :invalid="isFieldInvalid(`prices.$each[${i}].value`)"
                :errors="getFieldErrorMessages(`prices.$each[${i}].value`)"
                :min="0"
                :decimals="2"
                label="Value"
                strict-decimals
              />
            </div>
            <div class="col col_6 col_sm-3 col_md-2 col_lg-3 col_xl-2 row">
              <Multiselect
                v-model="price.currency"
                :invalid="isFieldInvalid('currency')"
                :errors="getFieldErrorMessages('currency')"
                :options="availableCurrencies"
                :searchable="false"
                :allow-empty="false"
                label="Currency"
              />
            </div>
            <div class="col col_12 col_sm-auto row">
              <div class="hidden-sm-down"><FieldLabel/></div>
              <VButton
                theme="silent"
                fluid
                @click="removePrice(price)"
              >
                <IconDelete slot="icon"/>
                Remove
              </VButton>
            </div>
          </div>
          <Separator/>
        </div>
      </div>
      <VButton
        theme="light"
        @click="addPrice"
      >
        <IconPlus slot="icon"/>
        Add price
      </VButton>
    </form>
    <!-- Sticky buttons -->
    <div
      slot="footer"
      class="grid rows"
    >
      <div class="col col_6 col_sm-4 col_lg-3 col_xl-2 row">
        <VButton
          fluid
          @click="submit"
        >
          {{ $t('controls.save') }}
        </VButton>
      </div>
      <div class="col col_6 col_sm-4 col_lg-3 col_xl-2 row">
        <VButton
          theme="light"
          fluid
          @click="close"
        >
          Close
        </VButton>
      </div>
    </div>
  </Island>
</template>

<style lang="scss" type="text/scss"></style>
