<script>
  import CustomerForm from '@/modules/sales/components/CustomerForm';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';

  export default {
    meta() {
      const title = this.$t('pages.sales.customers.Create.meta.title');
      return {
        title,
      };
    },
    components: {
      CustomerForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        breadcrumbs: [
          {
            title: 'Sales',
          },
          {
            title: 'Customers',
            to: {
              name: 'Sales/Customers/List',
            },
          },
          {
            title: 'New',
          },
        ],
        loading: false,
      };
    },
    methods: {
      onFormSuccess(customer) {
        this.loading = false;
        this.dirty = false; // because dirty event comes later
        this.$router.push({ name: 'Sales/Customers/Edit', params: { customerId: customer.id } });
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <CustomerForm
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
