<script>
  import CustomerForm from '@/modules/sales/components/CustomerForm';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const name = this.customer ? this.customer.name : '';
      const title = this.$t('pages.sales.customers.Edit.meta.title', { name });
      return {
        title,
      };
    },
    components: {
      CustomerForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        customer: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.customer) return [];

        return [
          {
            title: 'Sales',
          },
          {
            title: 'Customers',
            to: {
              name: 'Sales/Customers/List',
            },
          },
          {
            title: this.customer.name,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/sale/customers/${route.params.customerId}`)
          .then(({ data }) => {
            resolve({ customer: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.customer = deepClone(fields);
        this.loading = false;
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <CustomerForm
        v-if="customer"
        :values="customer"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
