<script>
  // import { required } from 'vuelidate/lib/validators';
  //
  // import Badge from '@/core/components/Badge.vue';
  // import Contact from '@/core/components/Contact.vue';
  // import ContactCreate from '@/core/components/ContactCreate.vue';
  // import DataTable from '@/core/components/DataTable.vue';
  // import { DropMenu, DropMenuItem } from '@/core/components/DropMenu';
  import Island from '@/core/components/Island.vue';
  // import IconDelete from '@/assets/icons/material/delete.svg';
  // import IconEdit from '@/assets/icons/material/edit.svg';
  // import IconKebab from '@/assets/icons/material/more_vert.svg';
  // import IconPlus from '@/assets/icons/plus.svg';
  import form from '@/core/mixins/form';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    components: {
      Island,
    },
    mixins: [form],
    data() {
      return {
        fields: {
          id: '',
          accountId: '',
          plateNumber: '',
          make: '',
          model: '',
          year: '',
          capacity: {},
        },
        contactsTableHeaders: [
          {
            label: 'Weight',
            value: 'weight',
            sortable: true,
          },
          {
            label: 'Volume',
            value: 'volume',
            sortable: true,
          },
          {
            label: '', // Actions
            sortable: false,
          },
        ],
      };
    },
    methods: {
      close() {
        const listName = 'Hauler/Trucks/List';
        if (this.$store.state.route.from.name === listName) {
          this.$router.go(-1);
        } else {
          this.$router.push({
            name: listName,
          });
        }
      },
      // Override form mixin
      submit() {
        if (this.sending) return;

        this.$emit('submit');
        this.sending = true;

        const payload = {
          plateNumber: this.fields.plateNumber,
          make: this.fields.make,
          model: this.fields.model,
          year: this.fields.year,
          capacity: this.fields.capacity,
        };

        if (this.fields.id) {
          payload.id = this.fields.id;
          payload.accountId = this.fields.accountId;
        }

        const request = this.fields.id
          ? this.$api.put(`/hauler/trucks/${this.fields.id}`, payload)
          : this.$api.post('/hauler/trucks', payload);

        request
          .then(({ data }) => {
            this.sending = false;
            this.fill(data);
            this.$toasts.push({
              theme: 'success',
              text: 'Truck saved',
            });
            this.$emit('success', deepClone(this.fields));
          })
          .catch((err) => {
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
    },
  };
</script>

<template>
  <Island sticky-footer>
    <form
      novalidate
      @submit.prevent="submit"
    >
      <VFieldset>
        <div class="row text-h4">Truck</div>
        <div class="grid rows">
          <div class="col col_12 col_sm-6 col_md-4 row">
            <InputText
              v-model="fields.plateNumber"
              :invalid="isFieldInvalid('plateNumber')"
              :errors="getFieldErrorMessages('plateNumber')"
              label="Plate Number"
            />
          </div>
          <div class="col col_12 col_sm-6 col_md-4 row">
            <InputText
              v-model="fields.make"
              :invalid="isFieldInvalid('make')"
              :errors="getFieldErrorMessages('make')"
              label="Make"
            />
          </div>
          <div class="col col_12 col_sm-6 col_md-4 row">
            <InputText
              v-model="fields.model"
              :invalid="isFieldInvalid('model')"
              :errors="getFieldErrorMessages('model')"
              label="Model"
            />
          </div>
          <div class="col col_12 col_sm-6 col_md-4 row">
            <InputText
              v-model="fields.year"
              :invalid="isFieldInvalid('year')"
              :errors="getFieldErrorMessages('year')"
              label="Year"
            />
          </div>
          <div class="col col_12 col_sm-6 col_md-4 row">
            <InputText
              v-model="fields.capacity.weight"
              :invalid="isFieldInvalid('weight')"
              :errors="getFieldErrorMessages('weight')"
              label="Weight"
            />
          </div>
          <div class="col col_12 col_sm-6 col_md-4 row">
            <InputText
              v-model="fields.capacity.volume"
              :invalid="isFieldInvalid('volume')"
              :errors="getFieldErrorMessages('volume')"
              label="Volume"
            />
          </div>
        </div>
      </VFieldset>
    </form>
    <!-- Sticky buttons -->
    <div
      slot="footer"
      class="grid rows"
    >
      <div class="col col_6 col_sm-4 col_lg-3 col_xl-2 row">
        <VButton
          fluid
          @click="submit"
        >
          {{ $t('controls.save') }}
        </VButton>
      </div>
      <div class="col col_6 col_sm-4 col_lg-3 col_xl-2 row">
        <VButton
          theme="light"
          fluid
          @click="close"
        >
          Close
        </VButton>
      </div>
    </div>
  </Island>
</template>

<style lang="scss" type="text/scss"></style>
