<script>
  import InboundForm from '@/modules/warehouse/components/InboundForm.vue';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';

  export default {
    meta() {
      const title = this.$t('pages.warehouse.inbounds.Create.meta.title');
      return {
        title,
      };
    },
    components: {
      InboundForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        breadcrumbs: [
          {
            title: 'Warehouse',
          },
          {
            title: 'Inbound',
            to: {
              name: 'Warehouse/Inbounds/List',
            },
          },
          {
            title: 'New',
          },
        ],
        loading: false,
      };
    },
    methods: {
      onFormSuccess(inbound) {
        this.loading = false;
        this.dirty = false; // because dirty event comes later
        this.$router.push({ name: 'Warehouse/Inbounds/Edit', params: { inboundId: inbound.id } });
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <InboundForm
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
