<script>
  import InboundForm from '@/modules/warehouse/components/InboundForm.vue';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const number = this.inbound ? this.inbound.number : '';
      const title = this.$t('pages.warehouse.inbounds.Edit.meta.title', { number });
      return {
        title,
      };
    },
    components: {
      InboundForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        inbound: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.inbound) return [];

        return [
          {
            title: 'Warehouse',
          },
          {
            title: 'Inbounds',
            to: {
              name: 'Warehouse/Inbounds/List',
            },
          },
          {
            title: this.inbound.number,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/warehouse/inbounds/${route.params.inboundId}`)
          .then(({ data }) => {
            resolve({ inbound: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.inbound = deepClone(fields);
        this.loading = false;
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <InboundForm
        v-if="inbound"
        :values="inbound"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
