<script>
  import Badge from '@/core/components/Badge.vue';
  import ButtonsGroup from '@/core/components/ButtonsGroup.vue';
  import InputSearch from '@/core/components/InputSearch.vue';
  import Multiselect from '@/core/components/Multiselect.vue';
  import Tag from '@/core/components/Tag.vue';
  import Tags from '@/core/components/Tags.vue';
  import VButton from '@/core/components/VButton.vue';
  import VLink from '@/core/components/VLink.vue';
  import IconFilter from '@/assets/icons/filter.svg';
  import IconList from '@/assets/icons/material/assignment.svg';
  import IconNewTab from '@/assets/icons/material/open_in_new.svg';
  import IconPlus from '@/assets/icons/plus.svg';
  import IconRefresh from '@/assets/icons/material/refresh.svg';
  import page from '@/core/mixins/page';
  import pageWithItemsList from '@/core/mixins/pageWithItemsList';
  import { STATUSES } from '@/modules/warehouse/constants/inbound';

  export default {
    name: 'WarehouseInboundsList',
    meta() {
      const title = this.$t('pages.warehouse.inbounds.List.meta.title');
      return {
        title,
      };
    },
    components: {
      Badge,
      ButtonsGroup,
      InputSearch,
      Multiselect,
      Tag,
      Tags,
      VButton,
      VLink,
      IconFilter,
      IconList,
      IconNewTab,
      IconPlus,
      IconRefresh,
    },
    mixins: [page, pageWithItemsList],
    data() {
      const activeWarehouse = this.$store.getters['warehouse/active'];
      return {
        apiEndpoint: '/warehouse/inbounds/',
        itemName: 'inbound delivery',
        sortBy: 'createdAt',
        sortOrder: -1,
        filters: {
          status: '',
        },
        extraQueryParams: {
          'warehouse.id': activeWarehouse ? activeWarehouse.id : null,
        },
        breadcrumbs: [
          {
            title: 'Warehouse',
          },
          {
            title: 'Inbound deliveries',
          },
        ],
        tableHeaders: [
          {
            label: 'Number',
            value: 'number',
            sortable: true,
          },
          {
            label: 'Date',
            value: 'date',
            sortable: true,
          },
          {
            label: 'Status',
            value: 'status',
            sortable: true,
          },
          {
            label: 'Consignment',
            value: 'consNumber',
            sortable: true,
          },
          {
            label: 'PO',
            sortable: false,
          },
          {
            label: 'Supplier',
            sortable: false,
          },
          {
            label: '', // Actions
            sortable: false,
          },
        ],
        statuses: Object.keys(STATUSES),
        showFilters: false,
      };
    },
    watch: {
      activeWarehouse({ id }) {
        this.extraQueryParams['warehouse.id'] = id;
        this.pageNum = 1;
        if (this.keepAliveActive) {
          this.fetchItems(true);
        }
      },
    },
    beforeMount() {
      const pageSize = this.getPageSize('warehouse.inbounds.pageSize');
      if (pageSize) {
        this.pageSize = pageSize;
      }
    },
    methods: {
      getStatusLabel(status) {
        // TODO: i18n
        const labels = {
          [STATUSES.PENDING]: 'Pending',
          [STATUSES.ASSIGNED]: 'Assigned',
          [STATUSES.IN_PROGRESS]: 'In progress',
          [STATUSES.COMPLETE]: 'Complete',
          [STATUSES.CANCELED]: 'Canceled',
        };

        return labels[status] || status;
      },
      getStatusBadgeTheme(status) {
        const themes = {
          [STATUSES.PENDING]: '',
          [STATUSES.ASSIGNED]: 'warning',
          [STATUSES.IN_PROGRESS]: '',
          [STATUSES.COMPLETE]: 'success',
          [STATUSES.CANCELED]: 'light',
        };
        return themes[status] || '';
      },
      getFilterTagLabel(key) {
        // TODO: i18n
        let label = '';
        switch (key) {
          case 'status':
            label = `Status: ${this.getStatusLabel(this.filters.status)}`;
            break;
          default:
            break;
        }

        return label;
      },
      // Override pageWithItemsList mixins
      changePageSize(pageSize) {
        this.pageSize = pageSize;
        this.$store.dispatch('ui/setProperty', { path: 'warehouse.inbounds.pageSize', value: pageSize });
        this.paginateItems(1);
      },
    },
  };
</script>

<template>
  <div>
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <div class="grid grid_middle">
        <div class="col col_auto row text-h3">Inbound deliveries</div>
        <div class="col col_12 col_md row">
          <ButtonsGroup>
            <VButton
              :to="{ name: 'Warehouse/Inbounds/Create' }"
            >
              <IconPlus slot="icon"/>
              New
            </VButton>
            <VButton
              theme="light"
              square
              @click="fetchItems(true)"
            >
              <IconRefresh slot="icon"/>
            </VButton>
            <VButton
              theme="light"
              @click="showFilters = !showFilters"
            >
              <IconFilter slot="icon"/>
              Filters
            </VButton>
          </ButtonsGroup>
        </div>
        <div class="col col_12 col_lg-5 col_xl-4 row">
          <InputSearch
            v-model="search"
            placeholder="Search orders"
            @input="searchItems"
            @reset="resetSearch"
          />
        </div>
      </div>
      <div
        v-if="showFilters"
        class="grid"
      >
        <div class="col col_12 col_sm-4 col_md-3 col_xl-2 row">
          <Multiselect
            v-model="filters.status"
            :options="statuses"
            :option-label="getStatusLabel"
            label="Status"
            @input="filterItems"
          />
        </div>
      </div>
      <Tags
        v-else-if="activeFilters.length"
        class="row"
      >
        <Tag
          v-for="filter in activeFilters"
          :key="filter.key"
          theme="light"
          removable
          @remove="resetFilter(filter.key)"
        >
          {{ getFilterTagLabel(filter.key) }}
        </Tag>
      </Tags>
      <DataTable
        :loading="loading"
        :headers="tableHeaders"
        :items="items"
        :sort-by="sortBy"
        :sort-order="sortOrder"
        :internal-sort="false"
        track-by="id"
        @sort="sortItems"
      >
        <template
          v-slot:item="{ item }"
        >
          <td class="text-nowrap">
            <VLink
              :to="{ name: 'Warehouse/Inbounds/Edit', params: { inboundId: item.id } }"
            >
              {{ item.number }}
            </VLink>
          </td>
          <td class="text-nowrap">{{ item.date | date }}</td>
          <td>
            <Badge
              :theme="getStatusBadgeTheme(item.status)"
            >
              {{ getStatusLabel(item.status) }}
            </Badge>
          </td>
          <td class="text-nowrap">{{ item.consNumber }}</td>
          <td>
            {{ item.order.number }}
            <VLink
              :to="{ name: 'Purchasing/Orders/Edit', params: { orderId: item.order.id } }"
              target="_blank"
              decoration="none"
            >
              <IconNewTab slot="icon"/>
            </VLink>
          </td>
          <td class="text-nowrap">
            {{ item.supplier.name }}
          </td>
          <td style="width: 1%;">
            <VButton
              :to="{ name: 'Warehouse/Inbounds/Edit', params: { inboundId: item.id } }"
              theme="light"
              size="small"
            >
              <IconList slot="icon"/>
              Manage
            </VButton>
          </td>
        </template>
        <div
          v-if="itemsCount"
          slot="after"
          class="grid grid_end"
        >
          <div class="col col_auto">
            <Paginator
              :pages="pages"
              :page-num="pageNum"
              :page-size="pageSize"
              @change-page-size="changePageSize"
              @paginate="paginateItems"
            />
          </div>
        </div>
      </DataTable>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
