<script>
  import ButtonsGroup from '@/core/components/ButtonsGroup.vue';
  import VButton from '@/core/components/VButton.vue';
  import { removeFromArray, deepAssign } from '@/core/helpers/utils';

  import eventBus from './eventBus';

  export default {
    components: {
      ButtonsGroup,
      VButton,
    },
    data() {
      return {
        items: [],
      };
    },
    watch: {
      $route() {
        this.items.splice(0, this.items.length);
      },
    },
    created() {
      eventBus.$on('push-confirm', this.pushItem);
    },
    beforeDestroy() {
      eventBus.$off('push-confirm', this.pushItem);
    },
    methods: {
      pushItem(item) {
        const mutableItem = deepAssign({
          text: 'Are you sure?',
          confirmLabel: this.$t('controls.ok'),
          cancelLabel: this.$t('controls.cancel'),
          confirmTheme: 'danger',
          cancelTheme: 'light',
        }, item);

        this.items.push(mutableItem);
      },
      confirm(item) {
        if (item.onConfirm && typeof item.onConfirm === 'function') {
          item.onConfirm(item);
        }
        this.remove(item);
      },
      cancel(item) {
        if (item.onCancel && typeof item.onCancel === 'function') {
          item.onCancel(item);
        }
        this.remove(item);
      },
      remove(item) {
        removeFromArray(this.items, item);
      },
    },
  };
</script>

<template>
  <div>
    <Modal
      v-for="item in items"
      :key="item.id"
      :active="true"
      :header="false"
      :close-on-overlay="false"
      size="small"
    >
      <div v-html="item.text"/>
      <ButtonsGroup slot="footer">
        <VButton
          :theme="item.confirmTheme"
          @click="confirm(item)"
        >
          {{ item.confirmLabel }}
        </VButton>
        <VButton
          :theme="item.cancelTheme"
          @click="cancel(item)"
        >
          {{ item.cancelLabel }}
        </VButton>
      </ButtonsGroup>
    </Modal>
  </div>
</template>

<style lang="scss" type="text/scss">
</style>
