<script>
  import ButtonsGroup from '@/core/components/ButtonsGroup.vue';
  import Contact from '@/core/components/Contact.vue';
  import ContactCreate from '@/core/components/ContactCreate.vue';
  import ControlsGroup from '@/core/components/ControlsGroup.vue';
  import FieldLabel from '@/core/components/FieldLabel.vue';
  import InputAddress from '@/core/components/InputAddress';
  import { InputDateTime } from '@/core/components/InputDateTime';
  import Multiselect from '@/core/components/Multiselect.vue';
  import VButton from '@/core/components/VButton.vue';
  import VLink from '@/core/components/VLink.vue';
  import formPart from '@/core/mixins/formPart';
  import { deepClone, removeFromArray } from '@/core/helpers/utils';
  import IconCollapse from '@/assets/icons/material/expand_less.svg';
  import IconDelete from '@/assets/icons/material/delete.svg';
  import IconExpand from '@/assets/icons/material/expand_more.svg';

  import { TRANSPORT_TYPES, LOCATION_TYPES } from '@/modules/logistic/constants/shipment';

  export default {
    components: {
      ButtonsGroup,
      Contact,
      ContactCreate,
      ControlsGroup,
      FieldLabel,
      InputAddress,
      InputDateTime,
      Multiselect,
      VButton,
      VLink,
      IconCollapse,
      IconDelete,
      IconExpand,
    },
    mixins: [formPart],
    props: {
      removable: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        collapsed: false,
        availableTransportTypes: Object.keys(TRANSPORT_TYPES),
        availableLocationTypes: Object.keys(LOCATION_TYPES),
        LOCATION_TYPES,
      };
    },
    computed: {
      timezone() {
        // TODO: get from account settings / user settings
        return '';
      },
      availableWarehouses() {
        return this.$store.state.warehouse.items;
      },
      classes() {
        return {
          /* eslint-disable quote-props */
          '_collapsed': this.collapsed,
          /* eslint-enable quote-props */
        };
      },
    },
    methods: {
      setLegLocationWarehouse(location, warehouse) {
        if (!location) return;

        if (!warehouse) {
          location.warehouse = null;
          location.address = null;
        }

        location.warehouse = {
          id: warehouse.id,
          name: warehouse.name,
        };
        location.address = warehouse.address;
      },
      onChangeLegLocationType(location, type) {
        if (type === LOCATION_TYPES.WAREHOUSE) {
          const warehouse = this.$store.getters['warehouse/active'];
          this.setLegLocationWarehouse(location, deepClone(warehouse));
        } else {
          delete location.warehouse;
          location.address = null;
        }
      },
      getLocationTypeLabel(type) {
        // TODO: i18n
        const labels = {
          [LOCATION_TYPES.WAREHOUSE]: 'Warehouse',
          [LOCATION_TYPES.PORT]: 'Port',
          [LOCATION_TYPES.CUSTOM]: 'Custom',
        };

        return labels[type] || type;
      },
      getTransportTypeLabel(type) {
        // TODO: i18n
        const labels = {
          [TRANSPORT_TYPES.ROAD]: 'Road',
          [TRANSPORT_TYPES.SEA]: 'Sea',
          [TRANSPORT_TYPES.AIR]: 'Air',
          [TRANSPORT_TYPES.RAIL]: 'Rail',
        };

        return labels[type] || type;
      },
      getLocationAddressString(location) {
        if (!location.address) return '';
        const address = location.address.text;

        if (location.type === LOCATION_TYPES.WAREHOUSE) {
          return `${address} (warehouse ${location.warehouse.name})`;
        }

        return address;
      },
      remove() {
        this.$confirm({
          text: 'Remove leg?',
          confirmLabel: this.$t('controls.remove'),
          onConfirm: () => {
            this.$emit('remove');
          },
        });
      },
      // Contacts
      deleteLocationContact(location, contact) {
        this.$confirm({
          text: 'Delete contact?',
          confirmLabel: this.$t('controls.delete'),
          onConfirm: () => {
            removeFromArray(location.contacts, contact);
          },
        });
      },
      addLocationContact(location, contact) {
        if (contact.default) {
          this.resetDefaultLocationContact();
        }
        location.contacts.push(contact);
      },
      updateLocationContact(location, contact, values) {
        if (values.default) {
          this.resetDefaultLocationContact();
        }
        const index = location.contacts.indexOf(contact);
        location.contacts.splice(index, 1, values);
      },
      resetDefaultLocationContact(location) {
        const contact = location.find(item => item.default);
        if (contact) {
          contact.default = false;
        }
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div
    v-if="fields"
    :class="classes"
    class="shipment-leg"
  >
    <div class="shipment-leg__locations">
      <div class="shipment-leg__location">
        <i class="shipment-leg__location-pin"/>
        <div v-if="collapsed">
          <div class="text-light">
            {{ fields.startLocation.address ? getLocationAddressString(fields.startLocation) : 'Location is not selected' }}
          </div>
          <div class="text-tiny">
            <template v-if="fields.startLocation.scheduledPeriod.startDate">
              from {{ fields.startLocation.scheduledPeriod.startDate | date('dd.MM.yyyy HH:mm') }}
            </template>
            <template v-if="fields.startLocation.scheduledPeriod.endDate">
              to {{ fields.startLocation.scheduledPeriod.endDate | date('dd.MM.yyyy HH:mm') }}
            </template>
          </div>
        </div>
        <template v-else>
          <div class="grid">
            <div class="col col_12 col_sm-6 col_md-5 col_lg-4 row">
              <InputDateTime
                v-model="fields.startLocation.scheduledPeriod.startDate"
                :invalid="isFieldInvalid(`startLocation.scheduledPeriod.startDate`)"
                :errors="getFieldErrorMessages(`startLocation.scheduledPeriod.startDate`)"
                :timezone="timezone"
                label="Scheduled from"
              />
            </div>
            <div class="col col_12 col_sm-6 col_md-5 col_lg-4 row">
              <InputDateTime
                v-model="fields.startLocation.scheduledPeriod.endDate"
                :invalid="isFieldInvalid(`startLocation.scheduledPeriod.endDate`)"
                :errors="getFieldErrorMessages(`startLocation.scheduledPeriod.endDate`)"
                :timezone="timezone"
                label="Scheduled to"
              />
            </div>
          </div>
          <div class="grid">
            <div class="col col_12 col_sm-4 col_md-3 row">
              <Multiselect
                v-model="fields.startLocation.type"
                :options="availableLocationTypes"
                :allow-empty="false"
                :option-label="getLocationTypeLabel"
                label="Location type"
                @input="onChangeLegLocationType(fields.startLocation, $event)"
              />
            </div>
            <div
              v-if="fields.startLocation.type === LOCATION_TYPES.WAREHOUSE"
              class="col col_xl-4 row"
            >
              <Multiselect
                :value="fields.startLocation.warehouse"
                :options="availableWarehouses"
                :searchable="true"
                :allow-empty="false"
                :advice="fields.startLocation.address.text"
                option-label="name"
                label="Warehouse"
                @input="setLegLocationWarehouse(fields.startLocation, $event)"
              />
            </div>
            <div
              v-else
              class="col row"
            >
              <InputAddress
                v-model="fields.startLocation.address"
                :invalid="isFieldInvalid(`startLocation.address`)"
                :errors="getFieldErrorMessages(`startLocation.address`)"
                label="Address"
              />
            </div>
          </div>
          <FieldLabel>Contacts</FieldLabel>
          <div
            v-if="fields.startLocation.contacts.length"
            class="grid"
          >
            <div
              v-for="(contact, k) in fields.startLocation.contacts"
              :key="k"
              class="col col_12 col_sm-6 col_md-4 col_xl-3 col_filled row"
            >
              <Contact
                :contact="contact"
                editable
                @change="updateLocationContact(fields.startLocation, contact, $event)"
                @remove="deleteLocationContact(fields.startLocation, contact)"
              />
            </div>
          </div>
          <ContactCreate
            @create="addLocationContact(fields.startLocation, $event)"
          />
        </template>
      </div>
      <div class="shipment-leg__location">
        <i class="shipment-leg__location-pin"/>
        <div v-if="collapsed">
          <div class="text-light">
            {{ fields.endLocation.address ? getLocationAddressString(fields.endLocation) : 'Location is not selected' }}
          </div>
          <div class="text-tiny">
            <template v-if="fields.endLocation.scheduledPeriod.startDate">
              from {{ fields.endLocation.scheduledPeriod.startDate | date('dd.MM.yyyy HH:mm') }}
            </template>
            <template v-if="fields.endLocation.scheduledPeriod.endDate">
              to {{ fields.endLocation.scheduledPeriod.endDate | date('dd.MM.yyyy HH:mm') }}
            </template>
          </div>
        </div>
        <template v-else>
          <div class="grid">
            <div class="col col_12 col_sm-6 col_md-5 col_lg-4 row">
              <InputDateTime
                v-model="fields.endLocation.scheduledPeriod.startDate"
                :invalid="isFieldInvalid(`endLocation.scheduledPeriod.startDate`)"
                :errors="getFieldErrorMessages(`endLocation.scheduledPeriod.startDate`)"
                :timezone="timezone"
                label="Scheduled from"
              />
            </div>
            <div class="col col_12 col_sm-6 col_md-5 col_lg-4 row">
              <InputDateTime
                v-model="fields.endLocation.scheduledPeriod.endDate"
                :invalid="isFieldInvalid(`endLocation.scheduledPeriod.endDate`)"
                :errors="getFieldErrorMessages(`endLocation.scheduledPeriod.endDate`)"
                :timezone="timezone"
                label="Scheduled to"
              />
            </div>
          </div>
          <div class="grid">
            <div class="col col_12 col_sm-4 col_md-3 row">
              <Multiselect
                v-model="fields.endLocation.type"
                :options="availableLocationTypes"
                :allow-empty="false"
                :option-label="getLocationTypeLabel"
                label="Location type"
                @input="onChangeLegLocationType(fields.endLocation, $event)"
              />
            </div>
            <div
              v-if="fields.endLocation.type === LOCATION_TYPES.WAREHOUSE"
              class="col col_xl-4 row"
            >
              <Multiselect
                :value="fields.endLocation.warehouse"
                :options="availableWarehouses"
                :searchable="true"
                :allow-empty="false"
                :advice="fields.endLocation.address.text"
                option-label="name"
                label="Warehouse"
                @input="setLegLocationWarehouse(fields.endLocation, $event)"
              />
            </div>
            <div
              v-else
              class="col row"
            >
              <InputAddress
                v-model="fields.endLocation.address"
                :invalid="isFieldInvalid(`endLocation.address`)"
                :errors="getFieldErrorMessages(`endLocation.address`)"
                label="Address"
              />
            </div>
          </div>
          <div
            v-if="fields.endLocation.contacts.length"
            class="grid"
          >
            <div
              v-for="(contact, k) in fields.endLocation.contacts"
              :key="k"
              class="col col_12 col_sm-6 col_md-4 col_xl-3 col_filled row"
            >
              <Contact
                :contact="contact"
                editable
                @change="updateLocationContact(fields.endLocation, contact, $event)"
                @remove="deleteLocationContact(fields.endLocation, contact)"
              />
            </div>
          </div>
          <ContactCreate
            @create="addLocationContact(fields.endLocation, $event)"
          />
        </template>
      </div>
    </div>
    <div class="grid grid_between row-reverse">
      <template v-if="collapsed">
        <div class="col">
          <ControlsGroup class="text-tiny">
            <VLink
              tag="button"
              decoration="none"
              @click="collapsed = false"
            >
              <IconExpand slot="icon"/>
              Expand
            </VLink>
            <VLink
              v-if="removable"
              tag="button"
              decoration="none"
              theme="danger"
              @click="remove"
            >
              Remove
            </VLink>
          </ControlsGroup>
        </div>
      </template>
      <template v-else>
        <div class="col col_12 col_sm-6 col_md-4 col_lg-3 row">
          <Multiselect
            :value="fields.transport.type"
            :options="availableTransportTypes"
            :searchable="false"
            :allow-empty="false"
            :option-label="getTransportTypeLabel"
            label="Transport"
          />
        </div>
        <div class="col col_auto">
          <FieldLabel/>
          <ButtonsGroup>
            <VButton
              v-if="removable"
              theme="danger"
              @click="remove"
            >
              <IconDelete slot="icon"/>
              Remove leg
            </VButton>
            <VButton
              theme="silent"
              @click="collapsed = true"
            >
              <IconCollapse slot="icon"/>
              Collapse
            </VButton>
          </ButtonsGroup>
        </div>
      </template>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .shipment-leg {
    background: $color-shade-100;
    padding: 20px 20px 20px 50px;
    border-radius: 4px;

    &__locations {}

    &__location {
      position: relative;
      padding-bottom: 30px;
      padding-left: 0;

      &::before {
        content: "";
        position: absolute;
        width: 2px;
        left: -26px;
        background: $color-primary;
        top: 50px;
        bottom: 0;
      }

      &-pin {
        position: absolute;
        width: 20px;
        height: 20px;
        left: -35px;
        top: 30px;
        border: 2px solid $color-primary;
        border-radius: 100%;

        &::before {
          content: "";
          @include centerer;
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background: $color-primary;;
        }
      }

      & + & {
        padding-top: 30px;
        padding-bottom: 0;

        &::before {
          top: 0;
          bottom: auto;
          height: 60px;
        }
      }

      & + & &-pin {
        top: 60px;
      }
    }

    &._collapsed &__location {
      padding-bottom: 10px;

      &::before {
        content: "";
        position: absolute;
        width: 2px;
        left: -26px;
        background: $color-primary;
        top: 21px;
        bottom: 0;
      }

      &-pin {
        top: 1px;
      }
    }

    &._collapsed &__location + &__location {
      padding-top: 10px;
      padding-bottom: 0;
    }

    &._collapsed &__location + &__location &__location-pin {
      top: 11px;
    }

    &._collapsed &__location + &__location::before {
      top: 0;
      height: 11px;
    }
  }
</style>
