<script>
  // TODO: catch focus better

  export default {
    data() {
      return {
        size: '',
        fullscreen: true,
        visible: false,
        lastActiveEl: null,
      };
    },
    computed: {
      classes() {
        return {
          /* eslint-disable quote-props */
          '_fullscreen': this.fullscreen,
          [`loading_${this.size}`]: this.size,
          /* eslint-enable quote-props */
        };
      },
      tabindex() {
        return this.fullscreen ? 1 : null;
      },
    },
    methods: {
      handleAfterLeave() {
        this.$emit('after-leave');
      },
      onTab() {
        return false;
      },
      catchFocus(el) {
        if (this.fullscreen) {
          this.lastActiveEl = document.activeElement;
          el.focus();
        }
      },
      restoreFocus() {
        if (this.lastActiveEl && this.fullscreen) {
          this.lastActiveEl.focus();
          this.lastActiveEl = null;
        }
      },
    },
  };
</script>

<template>
  <Transition
    enter-class="_animation"
    enter-active-class="_animation-active"
    leave-active-class="_animation-active"
    leave-to-class="_animation"
    @after-enter="catchFocus"
    @before-leave="restoreFocus"
    @after-leave="handleAfterLeave"
  >
    <div
      v-show="visible"
      :class="classes"
      class="loading"
      :tabindex="tabindex"
      @keydown.tab.prevent="onTab"
    >
      <div class="loading__wave"/>
    </div>
  </Transition>
</template>

<style lang="scss" type="text/scss">
  .loading {
    @include coverer;
    color: $color-primary;
    background-color: rgba(#fff, .5);
    z-index: 500;
    opacity: 1;
    visibility: visible;
    will-change: opacity;
    outline: none;

    &._animation {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    &._animation-active {
      transition: all .3s ease;
    }

    &._fullscreen {
      position: fixed;
      z-index: 9999;
    }

    &__wave {
      @include centerer;
      width: 32px;
      height: 32px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $color-primary;
        border-radius: 50%;
        animation: loading-wave infinite 1.5s ease;
      }
    }

    &_small &__wave {
      width: 20px;
      height: 20px;
    }
  }

  @keyframes loading-wave {
    0% { transform: scale(0); opacity:0; }
    75% { transform: scale(.8); opacity:.75; }
    100% { transform: scale(1); opacity: 0; }
  }
</style>
