<script>
  import mapboxMixin from './mixin';

  // https://www.mapbox.com/mapbox-gl-js/api/#marker

  // TODO: set popup https://www.mapbox.com/mapbox-gl-js/example/set-popup/
  // TODO: optional event listeners

  export default {
    mixins: [mapboxMixin],
    props: {
      position: {
        type: Object,
        required: true,
        validator(value) {
          return typeof value.lat === 'number' && typeof value.lng === 'number';
        },
      },
      anchor: {
        type: String,
        default: 'center',
      },
      offset: {
        type: Array,
        default: () => ([0, 0]),
      },
      color: {
        type: String,
        default: '#3fb1ce',
      },
      draggable: {
        type: Boolean,
        default: false,
      },
      popupCloseButton: {
        type: Boolean,
        default: true,
      },
      popupCloseOnClick: {
        type: Boolean,
        default: true,
      },
      popupAnchor: {
        type: String,
        default: 'bottom', // todo check
      },
      popupOffset: {
        type: [Number, Array],
        default: 0,
      },
      popupClassName: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        marker: null,
        element: null,
        popup: null,
      };
    },
    watch: {
      position(val) {
        this.marker.setLngLat([val.lng, val.lat]);
      },
      anchor() {
        this.reinit();
      },
      offset(val) {
        this.marker.setOffset(val);
      },
      draggable(val) {
        this.marker.setDraggable(val);
      },
      color() {
        this.reinit();
      },
    },
    mounted() {
      this.init();
    },
    updated() {
      // refresh if slot content added / removed
      this.$nextTick(() => {
        const hasElement = this.$slots.default && this.$slots.default.length > 0;
        if ((!this.element && hasElement) || (this.element && !hasElement)) {
          this.reinit();
        }
      });
    },
    beforeDestroy() {
      this.destroy();
    },
    methods: {
      init() {
        if (this.$slots.default && this.$slots.default.length > 0) {
          this.element = this.$refs.element;
        } else {
          this.element = null;
        }

        this.marker = new this.mapboxgl.Marker({
          element: this.element,
          anchor: this.anchor,
          offset: this.offset,
          color: this.color,
          draggable: this.draggable,
        });
        this.marker.setLngLat([this.position.lng, this.position.lat]);
        this.marker.addTo(this.map);

        [
          'dragstart',
          'drag',
          'dragend',
        ].forEach((eventName) => {
          this.marker.on(eventName, (e) => {
            this.$emit(eventName, e, this.marker);
          });
        });

        if (this.element) {
          this.element.addEventListener('click', (e) => {
            this.$emit('click', e, this.marker);
          });

          this.element.addEventListener('dblclick', (e) => {
            this.$emit('dblclick', e, this.marker);
          });
        }

        if (this.$slots.popup && this.$slots.default.length > 0) {
          this.popup = new this.mapboxgl.Popup({
            closeButton: this.popupCloseButton,
            closeOnClick: this.popupCloseOnClick,
            anchor: this.popupAnchor,
            offset: this.popupOffset,
            className: this.popupClassName,
          })
            .setDOMContent(this.$refs.popup);

          this.marker.setPopup(this.popup);
        }
      },
      destroy() {
        if (this.popup) {
          this.popup.remove();
          this.popup = null;
        }

        if (this.marker) {
          this.marker.remove();
          this.marker = null;
        }
      },
      reinit() {
        this.destroy();
        this.init();
      },
    },
  };
</script>

<template>
  <div>
    <div ref="element">
      <slot/>
    </div>
    <div ref="popup">
      <slot name="popup"/>
    </div>
  </div>
</template>
