<script>
  import mapboxMixin from './mixin';

  // https://www.mapbox.com/mapbox-gl-js/api/#popup

  export default {
    mixins: [mapboxMixin],
    props: {
      // Mapbox props
      closeButton: {
        type: Boolean,
        default: true,
      },
      closeOnClick: {
        type: Boolean,
        default: true,
      },
      anchor: {
        type: String,
        default: 'bottom', // todo check
      },
      offset: {
        type: [Number, Array],
        default: 0,
      },
      className: {
        type: String,
        default: '',
      },
      // Component props
      position: {
        type: Object,
        required: true,
        validator(value) {
          return typeof value.lat === 'number' && typeof value.lng === 'number';
        },
      },
    },
    data() {
      return {
        popup: null,
      };
    },
    watch: {
      position(val) {
        if (this.popup) {
          this.popup.setLngLat([val.lng, val.lat]);
        }
      },
    },
    mounted() {
      this.init();
    },
    beforeDestroy() {
      this.destroy();
    },
    methods: {
      init() {
        this.popup = new this.mapboxgl.Popup({
          closeButton: this.closeButton,
          closeOnClick: this.closeOnClick,
          anchor: this.anchor,
          offset: this.offset,
          className: this.className,
        })
          .setLngLat([this.position.lng, this.position.lat])
          .setDOMContent(this.$refs.content)
          .addTo(this.map);

        this.popup.on('open', () => {
          this.$emit('open', this.popup);
        });

        this.popup.on('close', () => {
          this.$emit('close', this.popup);
        });
      },
      destroy() {
        if (this.popup) {
          this.popup.remove();
          this.popup = null;
        }
      },
      reinit() {
        this.destroy();
        this.init();
      },
    },
  };
</script>

<template>
  <div>
    <div ref="content">
      <slot/>
    </div>
  </div>
</template>
