<script>
  import { PortalTarget } from 'portal-vue';

  import layout from '@/core/mixins/layout';
  import LoadingProgress from '@/core/components/LoadingProgress.vue';

  export default {
    components: {
      LoadingProgress,
      PortalTarget,
    },
    mixins: [layout],
  };
</script>

<template>
  <div class="layout-auth">
    <div class="layout-auth__body">
      <div class="layout-auth__content">
        <RouterView :key="routerViewKey"/>
      </div>
    </div>
    <div class="layout-auth__footer">
      <Container>{{ $t('common.copyright') }}</Container>
    </div>
    <LoadingProgress
      v-if="loading"
      :progress="loadingProgress"
      :fail="loadingFailed"
    />
    <ModalPortal/>
    <Toasts/>
    <Confirm/>
    <PortalTarget
      name="dropdowns"
      multiple
    />
  </div>
</template>

<style lang="scss" type="text/scss">
  .layout-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: $color-ui;

    &__body {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__content {
      width: 100%;
      padding: 20px 0;
    }

    &__footer {
      flex: none;
      text-align: center;
      padding: 15px 0;
      color: $color-shade-600;
      font: $font-tiny;
    }
  }
</style>
