<script>
  import IconClose from '@/assets/icons/material/close.svg';
  import { removeFromArray } from '@/core/helpers/utils';

  import eventBus from './eventBus';

  const DEFAULT_DURATION = 4000;

  export default {
    components: {
      IconClose,
    },
    data() {
      return {
        items: [],
      };
    },
    created() {
      eventBus.$on('push-toast', this.pushToast);
      eventBus.$on('remove-toast', this.removeToast);
    },
    beforeDestroy() {
      eventBus.$off('push-toast', this.pushToast);
      eventBus.$off('remove-toast', this.removeToast);
    },
    destroyed() {},
    methods: {
      pushToast(toast) {
        this.items.push(toast);

        if (!toast.duration || toast.duration > 0) {
          setTimeout(() => {
            this.removeToast(toast);
          }, toast.duration || DEFAULT_DURATION);
        }
      },
      removeToast(toast) {
        removeFromArray(this.items, toast);
      },
    },
  };
</script>

<template>
  <div class="toasts">
    <TransitionGroup
      enter-class="_animate"
      leave-to-class="_animate"
    >
      <div
        v-for="toast in items"
        :key="toast.id"
        :class="{ [`toasts__item_${toast.theme}`]: toast.theme }"
        class="toasts__item"
      >
        <button
          v-wave
          type="button"
          class="toasts__item-close"
          @click="removeToast(toast)"
        >
          <i class="toasts__item-close-icon">
            <IconClose/>
          </i>
        </button>
        <div
          v-if="toast.title"
          class="toasts__item-title"
        >
          {{ toast.title }}
        </div>
        <div
          v-if="toast.text"
          class="toasts__item-text"
        >
          {{ toast.text }}
        </div>
      </div>
    </TransitionGroup>
  </div>
</template>

<style lang="scss" type="text/scss">
  .toasts {
    @include h-centerer;
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 0;
    max-width: 480px;
    width: 100%;

    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: $color-primary;
      box-shadow: $shadow-level-4;
      color: #fff;
      padding: 15px 45px 15px 15px;
      transition: all .5s ease;
      min-height: 60px;

      & + & {
        margin-top: 10px;
      }

      @include breakpoint-up(md) {
        margin: 10px;
        padding: 20px 45px 20px 20px;
      }

      &._animate {
        opacity: 0;
        transform: translateY(30px);
      }

      &_warning {
        background: $color-warning;
      }

      &_danger {
        background: $color-danger;
      }

      &_success {
        background: $color-success;
      }

      &-title {
        font: $font-big;
      }

      &-text {
        font: $font-base;
      }

      &-title + &-text {
        margin-top: 5px;
      }

      &-close {
        @include reset-button;
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 6px;
        width: 26px;
        height: 26px  ;
        color: #fff;
        border-radius: 50%;
        overflow: hidden;
      }

      &-close-icon {
        display: block;
        font-size: 14px;
        height: 1em;
      }
    }
  }
</style>
