<script>
  import formField from '@/mixins/formField';

  import Multiselect from './Multiselect.vue';
  import propsMixin from './mixins/props';

  // TODO: display error state
  // TODO: minimal input length

  export default {
    name: 'MultiselectAjax',
    components: {
      Multiselect,
    },
    mixins: [
      formField,
      propsMixin,
    ],
    props: {
      endpoint: {
        type: String,
        required: true,
      },
      waitingTypeLabel: {
        type: String,
        default: 'Type to find items',
      },
      notFoundLabel: {
        type: String,
        default: 'Items not found',
      },
      queryParams: {
        type: Object,
        default: () => ({}),
      },
    },
    data() {
      return {
        mutableValue: null,
        options: [],
        loading: false,
        loadingError: false,
        searchTimer: null,
        optionsRequestedAt: false,
        query: '',
      };
    },
    watch: {
      value(val) {
        this.mutableValue = val;
      },
    },
    created() {
      this.mutableValue = this.value;
    },
    methods: {
      search(query) {
        clearTimeout(this.searchTimer);

        if (!query) {
          this.query = query;
          return;
        }

        this.loadingError = false;

        this.searchTimer = setTimeout(() => {
          const optionsRequestedAt = Date.now();
          this.optionsRequestedAt = optionsRequestedAt;
          this.loading = true;

          const params = Object.assign({}, this.queryParams, { search: query });

          this.$api.get(this.endpoint, { params })
            .then(({ data }) => {
              if (optionsRequestedAt !== this.optionsRequestedAt) return;
              this.query = query;
              this.options.splice(0, this.options.length, ...data.data);
              this.loading = false;
            })
            .catch(() => {
              if (optionsRequestedAt !== this.optionsRequestedAt) return;
              this.loading = false;
              this.loadingError = true;
            });
        }, 300);
      },
      emitInput() {
        this.$emit('input', this.mutableValue);
      },
    },
  };
</script>

<template>
  <Multiselect
    v-model="mutableValue"
    :options="options"
    :loading="loading"
    :loading-error="loadingError"
    :searchable="true"
    :internal-search="false"
    :preserve-search="true"

    :value="value"
    :multiple="multiple"
    :track-by="trackBy"
    :label="label"
    :custom-label="customLabel"
    :max="max"
    :options-limit="optionsLimit"
    :limit="limit"
    :max-height="maxHeight"
    :clear-on-select="clearOnSelect"
    :hide-selected="hideSelected"
    :allow-empty="allowEmpty"
    :close-on-select="closeOnSelect"
    :preselect-first="preselectFirst"
    :block-keys="blockKeys"
    :taggable="taggable"
    :tag-placeholder="tagPlaceholder"
    :tag-position="tagPosition"
    :group-values="groupValues"
    :group-label="groupLabel"
    :group-select="groupSelect"
    :show-pointer="showPointer"
    :option-height="optionHeight"

    :name="name"
    :placeholder="placeholder"
    :required="required"
    :disabled="disabled"
    :invalid="invalid"
    :errors="errors"
    :field-label="fieldLabel"
    :advice="advice"
    @search-change="search"
    @input="emitInput"
  >
    <div slot="noResult">
      <template v-if="!query">
        <i>{{ waitingTypeLabel }}</i>
      </template>
      <template v-else>
        <i>{{ notFoundLabel }}</i>
      </template>
    </div>
  </Multiselect>
</template>

<style lang="scss" type="text/scss"></style>
