<script>
  import page from '@/core/mixins/page';

  export default {
    meta() {
      const title = this.$t('pages.user.Billing.meta.title');
      return {
        title,
      };
    },
    components: {},
    mixins: [page],
    props: {},
    data() {
      return {
        breadcrumbs: [
          {
            title: 'Account',
          },
          {
            title: 'Billing',
          },
        ],
      };
    },
    computed: {},
    validations: {},
    watch: {},
    beforeCreate() {},
    created() {},
    beforeMount() {},
    mounted() {},
    beforeUpdate() {},
    updated() {},
    beforeDestroy() {},
    destroyed() {},
    methods: {},
  };
</script>

<template>
  <div>
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <InProgressHolder/>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
