<script>
  import AccountSettingsForm from '@/modules/account/components/AccountSettingsForm.vue';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';

  export default {
    meta() {
      const title = this.$t('pages.account.Settings.meta.title');
      return {
        title,
      };
    },
    components: {
      AccountSettingsForm,
    },
    mixins: [page, pageWithForm],
    props: {},
    data() {
      return {
        breadcrumbs: [
          {
            title: 'Account',
          },
          {
            title: 'Settings',
          },
        ],
        loading: false,
        values: {
          name: 'Foo',
        },
      };
    },
    computed: {},
    validations: {},
    watch: {},
    beforeCreate() {},
    created() {},
    beforeMount() {},
    mounted() {},
    beforeUpdate() {},
    updated() {},
    beforeDestroy() {},
    destroyed() {},
    methods: {},
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <Announcement theme="warning">Functionality is in the process of development</Announcement>
    <ContentSection>
      <AccountSettingsForm
        :values="values"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="loading = false"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
