<script>
  import { mapGetters } from 'vuex';

  import Badge from '@/core/components/Badge.vue';
  import ButtonsGroup from '@/core/components/ButtonsGroup.vue';
  import { DropMenu, DropMenuItem } from '@/core/components/DropMenu';
  import VButton from '@/core/components/VButton.vue';
  import WarehouseForm from '@/modules/account/components/WarehouseForm.vue';
  import IconEdit from '@/assets/icons/material/edit.svg';
  import IconKebab from '@/assets/icons/material/more_vert.svg';
  import IconPlus from '@/assets/icons/plus.svg';
  import IconPowerOff from '@/assets/icons/material/power_off.svg';
  import IconRefresh from '@/assets/icons/material/refresh.svg';
  import page from '@/core/mixins/page';
  import pageWithItemsList from '@/core/mixins/pageWithItemsList';

  // TODO: Sort, active first

  export default {
    name: 'AccountWarehouses',
    meta() {
      const title = this.$t('pages.account.Warehouses.meta.title');
      return {
        title,
      };
    },
    components: {
      Badge,
      ButtonsGroup,
      DropMenu,
      DropMenuItem,
      VButton,
      WarehouseForm,
      IconEdit,
      IconKebab,
      IconPlus,
      IconPowerOff,
      IconRefresh,
    },
    mixins: [page, pageWithItemsList],
    data() {
      return {
        apiEndpoint: '/warehouse/warehouses',
        sortBy: 'createdAt',
        sortOrder: -1,
        pageSize: null, // fetch all
        filters: {
          active: true,
        },
        breadcrumbs: [
          {
            title: 'Account',
          },
          {
            title: 'Warehouses',
          },
        ],
        tableHeaders: [
          {
            label: 'Name',
            sortable: false,
          },
          {
            label: 'Address',
            sortable: false,
          },
          {
            label: '', // Badge
            sortable: false,
          },
          {
            label: '', // Actions
            sortable: false,
          },
        ],
        warehouseToEdit: null,
        showCreateForm: false,
        warehouseCreating: false,
        warehouseUpdating: false,
        warehouseDeactivating: false,
      };
    },
    computed: {
      loading() {
        return (
          this.itemsFetching
          || this.warehouseCreating
          || this.warehouseUpdating
          || this.warehouseDeactivating
        );
      },
      ...mapGetters({
        warehouse: 'warehouse/active',
      }),
    },
    methods: {
      deactivateWarehouse(warehouse) {
        if (this.warehouseDeleting) return;
        this.$confirm({
          text: `Deactivate warehouses ${warehouse.name}?`,
          confirmLabel: 'Deactivate',
          onConfirm: () => {
            this.warehouseDeleting = true;
            this.$store.dispatch('warehouse/remove', warehouse)
              .then(() => {
                this.warehouseDeleting = false;
                warehouse.active = false;
                this.$toasts.push({
                  theme: 'success',
                  text: 'Warehouse deactivated successful',
                });
              })
              .catch(() => {
                this.warehouseDeleting = false;
                this.$toasts.push({
                  theme: 'danger',
                  title: 'Error',
                  text: 'Could not deactivate warehouse',
                });
              });
          },
        });
      },
      onWarehouseCreated(warehouse) {
        this.warehouseCreating = false;
        this.showCreateForm = false;
        this.items.unshift(warehouse);
      },
      onWarehouseUpdated(warehouse) {
        this.warehouseUpdating = false;
        this.warehouseToEdit = null;

        const index = this.items.findIndex(item => item.id === warehouse.id);
        if (index > -1) {
          this.items.splice(index, 1, warehouse);
        } else {
          this.items.unshift(warehouse);
        }
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <Breadcrumbs :items="breadcrumbs"/>
    <Announcement
      v-if="!warehouse"
      theme="warning"
    >
      You need to have active warehouse to use the app.
    </Announcement>
    <ContentSection>
      <Grid mods="middle">
        <GridCol
          mods="auto"
          class="row text-h3"
        >
          Warehouses
        </GridCol>
        <GridCol
          mods="auto"
          class="row"
        >
          <ButtonsGroup>
            <VButton
              @click="showCreateForm = true"
            >
              <IconPlus slot="icon"/>
              New
            </VButton>
            <VButton
              theme="light"
              square
              @click="fetchItems(true)"
            >
              <IconRefresh slot="icon"/>
            </VButton>
          </ButtonsGroup>
        </GridCol>
      </Grid>
      <DataTable
        :loading="loading"
        :sort-by="sortBy"
        :sort-order="sortOrder"
        :headers="tableHeaders"
        :items="items"
        :internal-sort="false"
        track-by="id"
        @sort="sortItems"
      >
        <template
          v-slot:item="{ item }"
        >
          <td>{{ item.name }}</td>
          <td>{{ item.address.text }}</td>
          <td style="width: 1%">
            <Badge
              v-if="!item.active"
              theme="light"
            >
              deactivated
            </Badge>
          </td>
          <td style="width: 1%;">
            <DropMenu direction="bottom left">
              <VButton
                slot="activator"
                theme="silent"
                round
              >
                <IconKebab slot="icon"/>
              </VButton>
              <DropMenuItem @click="warehouseToEdit = item">
                <IconEdit slot="icon"/>
                {{ $t('controls.edit') }}
              </DropMenuItem>
              <DropMenuItem
                v-if="item.active"
                @click="deactivateWarehouse(item)"
              >
                <IconPowerOff slot="icon"/>
                {{ $t('controls.deactivate') }}
              </DropMenuItem>
            </DropMenu>
          </td>
        </template>
      </DataTable>
    </ContentSection>
    <!-- Create warehouse -->
    <Modal
      v-if="showCreateForm"
      :loading="warehouseCreating"
      :active="showCreateForm"
      :close-on-overlay="false"
      title="Create warehouse"
      @deactivate="showCreateForm = null"
    >
      <WarehouseForm
        @submit="warehouseCreating = true"
        @success="onWarehouseCreated"
        @fail="warehouseCreating = false"
        @cancel="showCreateForm = false"
      />
    </Modal>
    <!-- Edit warehouse -->
    <Modal
      v-if="warehouseToEdit"
      :loading="warehouseUpdating"
      :active="!!warehouseToEdit"
      :close-on-overlay="false"
      title="Edit warehouse"
      @deactivate="warehouseToEdit = null"
    >
      <WarehouseForm
        :id="warehouseToEdit.id"
        :account-id="warehouseToEdit.accountId"
        :values="warehouseToEdit"
        @submit="warehouseUpdating = true"
        @success="onWarehouseUpdated"
        @fail="warehouseUpdating = false"
        @cancel="warehouseToEdit = false"
      />
    </Modal>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
