<script>
  import ControlsGroup from '@/core/components/ControlsGroup.vue';
  import Checkbox from '@/core/components/Checkbox.vue';
  import InputsGroup from '@/components/ui/InputsGroup.vue';
  import Island from '@/core/components/Island.vue';
  import Modal from '@/components/ui/Modal/Modal.vue';
  import Notice from '@/core/components/Notice.vue';
  import Radio from '@/core/components/Radio.vue';
  import Spoiler from '@/components/ui/Spoiler.vue';
  import Tooltip from '@/components/ui/Tooltip.vue';
  import Badge from '@/core/components/Badge.vue';
  import Tag from '@/core/components/Tag.vue';
  import Tags from '@/core/components/Tags.vue';
  import VButton from '@/core/components/VButton.vue';
  import VLink from '@/core/components/VLink.vue';
  import IconEdit from '@/assets/icons/material/edit.svg';
  import IconKebab from '@/assets/icons/material/more_vert.svg';
  import IconSettings from '@/assets/icons/material/settings.svg';
  import page from '@/core/mixins/page';
  import TIMEZONES from '@/core/constants/timezones';

  export default {
    meta() {
      const title = 'UI';
      return {
        title,
      };
    },
    components: {
      ControlsGroup,
      Checkbox,
      InputsGroup,
      Island,
      Modal,
      Notice,
      Radio,
      Spoiler,
      Tooltip,
      Badge,
      Tag,
      Tags,
      VButton,
      VLink,
      IconEdit,
      IconKebab,
      IconSettings,
    },
    mixins: [page],
    data() {
      return {
        colors: [
          {
            label: 'primary',
            color: '#2196f3',
          },
          {
            label: 'success',
            color: '#00b16a',
          },
          {
            label: 'warning',
            color: '#f89406',
          },
          {
            label: 'danger',
            color: '#e74c3c',
          },
          {
            label: 'ui',
            color: '#2c405a',
          },
          {
            label: 'black',
            color: '#000',
          },
        ],
        shadeColors: [
          {
            label: 'gray-900',
            color: '#424242',
          },
          {
            label: 'gray-800',
            color: '#616161',
          },
          {
            label: 'gray-700',
            color: '#757575',
          },
          {
            label: 'gray-600',
            color: '#9e9e9e',
          },
          {
            label: 'gray-500',
            color: '#bdbdbd',
          },
          {
            label: 'gray-400',
            color: '#e0e0e0',
          },
          {
            label: 'gray-300',
            color: '#eee',
          },
          {
            label: 'gray-200',
            color: '#f5f5f5',
          },
          {
            label: 'gray-100',
            color: '#fafafa',
          },
        ],
        typography: {
          lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
        },
        fieldNumber: {
          value: '',
          valueDecimals: '',
        },
        checkbox: {
          single: true,
          array: ['foo'],
        },
        radio: {
          single: 'foo',
        },
        inputsGroup: {
          radio1: 'foo',
          radio2: 'foo',
          radio3: 'foo',
          radio4: 'foo',
        },
        dropMenu: {
          active: false,
        },
        loading: {
          loadingInside: false,
          loadingFullscreen: false,
        },
      };
    },
    computed: {
      timezones() {
        return TIMEZONES;
      },
    },
    methods: {
      loadingOn() {
        this.loading.loadingInside = true;
        setTimeout(() => {
          this.loading.loadingInside = false;
        }, 3000);
      },
      loadingOnFullscreen() {
        this.loading.loadingFullscreen = true;
        setTimeout(() => {
          this.loading.loadingFullscreen = false;
        }, 3000);
      },
      loadingService() {
        this.$loading.show();

        setTimeout(() => {
          this.$loading.hide();
        }, 3000);
      },
      pushDefaultToast() {
        this.$toasts.push({
          title: 'Toast title',
          text: 'Toast text',
        });
      },
      pushWarningToast() {
        this.$toasts.push({
          theme: 'warning',
          title: 'Toast title',
          text: 'Toast text',
        });
      },
      pushDangerToast() {
        this.$toasts.push({
          theme: 'danger',
          title: 'Toast title',
          text: 'Toast text',
        });
      },
      pushSuccessToast() {
        this.$toasts.push({
          theme: 'success',
          title: 'Toast title',
          text: 'Toast text',
        });
      },
      pushNotDisappearingToast() {
        this.$toasts.push({
          duration: -1,
          title: 'Toast title',
          text: 'Toast text',
        });
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <ContentSection>
    <div class="ui-demo">
      <!-- Colors -->
      <div class="ui-demo__section">
        <div class="ui-demo__title">Colors</div>
        <div class="ui-demo__content">
          <div class="grid">
            <div
              v-for="color in colors"
              :key="color.color"
              class="col col_auto row"
            >
              <div
                :style="{ color: color.color }"
                class="ui-demo__color"
              >
                <div class="ui-demo__color-thumb"/>
                <div class="ui-demo__color-label">{{ color.label }}</div>
              </div>
            </div>
          </div>
          <div class="grid rows">
            <div
              v-for="color in shadeColors"
              :key="color.color"
              class="col col_auto row"
            >
              <div
                :style="{ color: color.color }"
                class="ui-demo__color"
              >
                <div class="ui-demo__color-thumb"/>
                <div class="ui-demo__color-label">{{ color.label }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Shadows -->
      <div class="ui-demo__section">
        <div class="ui-demo__title">Shadows</div>
        <div class="ui-demo__content">
          <div class="grid rows">
            <div class="col col_auto row">
              <div class="ui-demo__shadow ui-demo__shadow_level-1"/>
            </div>
            <div class="col col_auto row">
              <div class="ui-demo__shadow ui-demo__shadow_level-2"/>
            </div>
            <div class="col col_auto row">
              <div class="ui-demo__shadow ui-demo__shadow_level-3"/>
            </div>
            <div class="col col_auto row">
              <div class="ui-demo__shadow ui-demo__shadow_level-4"/>
            </div>
          </div>
        </div>
      </div>
      <!-- DropMenu -->
      <div class="ui-demo__section">
        <div class="ui-demo__title">DropMenu</div>
        <div class="ui-demo__content">
          <div class="grid rows">
            <div class="col col_auto row">
              <DropMenu direction="top left">
                <VButton slot="activator">
                  Top-Left
                </VButton>
                <DropMenuItem>
                  <IconSettings slot="icon"/>
                  Settings
                </DropMenuItem>
                <DropMenuItem>
                  <IconEdit slot="icon"/>
                  Edit
                </DropMenuItem>
              </DropMenu>
            </div>
            <div class="col col_auto row">
              <DropMenu direction="top right">
                <VButton slot="activator">
                  Top-Right
                </VButton>
                <DropMenuItem>
                  <IconSettings slot="icon"/>
                  Settings
                </DropMenuItem>
                <DropMenuItem>
                  <IconEdit slot="icon"/>
                  Edit
                </DropMenuItem>
              </DropMenu>
            </div>
            <div class="col col_auto row">
              <DropMenu>
                <VButton slot="activator">
                  Bottom-Right
                </VButton>
                <DropMenuItem>
                  <IconSettings slot="icon"/>
                  Settings
                </DropMenuItem>
                <DropMenuItem>
                  <IconEdit slot="icon"/>
                  Edit
                </DropMenuItem>
              </DropMenu>
            </div>
            <div class="col col_auto row">
              <DropMenu direction="bottom left">
                <VButton slot="activator">
                  Bottom-Left
                </VButton>
                <DropMenuItem>
                  <IconSettings slot="icon"/>
                  Settings
                </DropMenuItem>
                <DropMenuItem>
                  <IconEdit slot="icon"/>
                  Edit
                </DropMenuItem>
              </DropMenu>
            </div>
          </div>
        </div>
        <div class="ui-demo__content">
          <div class="grid rows">
            <div class="col col_auto row">
              <DropMenu direction="top right">
                <VButton
                  slot="activator"
                  theme="silent"
                  round
                >
                  <IconKebab slot="icon"/>
                </VButton>
                <DropMenuItem>
                  <IconSettings slot="icon"/>
                  Settings
                </DropMenuItem>
                <DropMenuItem>
                  <IconEdit slot="icon"/>
                  Edit
                </DropMenuItem>
              </DropMenu>
            </div>
            <div class="col col_auto row">
              <DropMenu direction="top left">
                <VButton
                  slot="activator"
                  theme="silent"
                  round
                >
                  <IconKebab slot="icon"/>
                </VButton>
                <DropMenuItem>
                  <IconSettings slot="icon"/>
                  Settings
                </DropMenuItem>
                <DropMenuItem>
                  <IconEdit slot="icon"/>
                  Edit
                </DropMenuItem>
              </DropMenu>
            </div>
            <div class="col col_auto row">
              <DropMenu direction="bottom right">
                <VButton
                  slot="activator"
                  theme="silent"
                  round
                >
                  <IconKebab slot="icon"/>
                </VButton>
                <DropMenuItem>
                  <IconSettings slot="icon"/>
                  Settings
                </DropMenuItem>
                <DropMenuItem>
                  <IconEdit slot="icon"/>
                  Edit
                </DropMenuItem>
              </DropMenu>
            </div>
            <div class="col col_auto row">
              <DropMenu direction="bottom left">
                <VButton
                  slot="activator"
                  theme="silent"
                  round
                >
                  <IconKebab slot="icon"/>
                </VButton>
                <DropMenuItem>
                  <IconSettings slot="icon"/>
                  Settings
                </DropMenuItem>
                <DropMenuItem>
                  <IconEdit slot="icon"/>
                  Edit
                </DropMenuItem>
              </DropMenu>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="ui-demo__section">
        <div class="ui-demo__title">Modal</div>
        <div class="ui-demo__content">
          <Modal title="Modal title">
            <VButton slot="activator">
              Open modal
            </VButton>
            <div>
              <Modal size="small">
                <VButton slot="activator">
                  Open another modal
                </VButton>
                <div>Another modal</div>
                <div slot="footer">
                  <DropMenu>
                    <VButton slot="activator">
                      Drop in modal
                    </VButton>
                    <DropMenuItem>
                      <IconSettings slot="icon"/>
                      Settings
                    </DropMenuItem>
                    <DropMenuItem>
                      <IconEdit slot="icon"/>
                      Edit
                    </DropMenuItem>
                  </DropMenu>
                </div>
              </Modal>
            </div>
            <div slot="footer">Modal footer</div>
          </Modal>
        </div>
      </div>
      <!-- Spoiler -->
      <div class="ui-demo__section">
        <div class="ui-demo__title">Spoiler</div>
        <div class="ui-demo__content">
          <Spoiler>
            <VLink
              slot="activator"
              theme="dashed"
            >
              Show
            </VLink>
            <VLink
              slot="deactivator"
              theme="dashed"
            >
              Hide
            </VLink>
            <div>Hidden content</div>
          </Spoiler>
        </div>
      </div>
      <!-- Tooltip -->
      <div class="ui-demo__section">
        <div class="ui-demo__title">Tooltip</div>
        <div class="ui-demo__content">
          <div class="grid grid_middle">
            <div class="col col_auto">
              <Tooltip>
                <div>Tooltip content</div>
              </Tooltip>
            </div>
            <div class="col col_auto">
              <Tooltip>
                <i slot="activator">
                  Custom tooltip activator
                </i>
                <div>Tooltip content</div>
              </Tooltip>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ContentSection>
</template>

<style lang="scss" type="text/scss">
  .ui-demo {
    &__section {
      & + & {
        margin-top: 80px;
      }
    }

    &__title {
      font: $font-h2;
      margin: 0 0 30px;
    }

    &__content {
      & + & {
        margin-top: 40px;
      }
    }

    &__description {
      font: $font-compact;
      color: $color-shade-700;
      font-style: italic;
      @each $breakpoint in map-keys($grid-breakpoints) {
        @include breakpoint-up($breakpoint) {
          $gutter: map-get($grid-gutter-widths, $breakpoint);
          margin: ($gutter / 2) 0;
        }
      }
    }

    &__color {
      &-thumb {
        width: 60px;
        height: 60px;
        margin: 0 auto 5px;
        background: currentColor;
      }

      &-label {
        font: $font-tiny;
        text-align: center;
      }
    }

    &__shadow {
      width: 100px;
      height: 100px;
      background: #fff;

      &_level-1 {
        box-shadow: $shadow-level-1;
      }

      &_level-2 {
        box-shadow: $shadow-level-2;
      }

      &_level-3 {
        box-shadow: $shadow-level-3;
      }

      &_level-4 {
        box-shadow: $shadow-level-4;
      }
    }
  }
</style>
