<script>
  import { mapGetters } from 'vuex';

  import IconBell from '@/assets/icons/material/notifications_none.svg';

  export default {
    components: {
      IconBell,
    },
    data() {
      return {
        showStatus: false,
      };
    },
    computed: {
      ...mapGetters({
        status: 'notifications/connectionStatus',
        notifications: 'notifications/notifications',
      }),
      statusClass() {
        return {
          /* eslint-disable quote-props */
          '_connecting': this.status === 'CONNECTING',
          '_error': this.status === 'ERROR',
          '_connected': this.status === 'CONNECTED',
          /* eslint-enable quote-props */
        };
      },
      statusText() {
        switch (this.status) {
          case 'CONNECTING':
            return this.$t('components.NotificationsWidget.statusText.connecting');
          case 'ERROR':
            return this.$t('components.NotificationsWidget.statusText.error');
          case 'CONNECTED':
            return this.$t('components.NotificationsWidget.statusText.connected');
          default:
            return '';
        }
      },
    },
    watch: {
      status(val, oldVal) {
        if (val !== oldVal) {
          this.$nextTick(() => {
            this.toggleStatusVisibility();
          });
        }
      },
    },
    mounted() {
      this.toggleStatusVisibility();
    },
    methods: {
      toggleStatusVisibility() {
        this.showStatus = this.status !== 'CONNECTED';
      },
    },
  };
</script>

<template>
  <div class="notifications-widget">
    <div
      v-if="!notifications.length"
      class="notifications-widget__holder"
    >
      <i class="notifications-widget__holder-icon">
        <IconBell/>
      </i>
      <div class="notifications-widget__holder-text">
        {{ $t('components.NotificationsWidget.empty') }}
      </div>
    </div>
    <div
      v-scrollbar
      class="notifications-widget__list"
    >
      <div
        v-for="notification in notifications"
        :key="notification.id"
        class="notifications-widget__item"
      />
    </div>
    <Transition
      enter-class="_animation"
      enter-active-class="_animation-active"
      leave-active-class="_animation-active"
      leave-to-class="_animation"
    >
      <div
        v-if="showStatus"
        :class="statusClass"
        class="notifications-widget__status"
      >
        {{ statusText }}
      </div>
    </Transition>
  </div>
</template>

<style lang="scss" type="text/scss">
  .notifications-widget {
    width: 240px;
    max-width: 100%;
    overflow: hidden;

    &__status {
      position: relative;
      margin-top: 5px;
      padding: 5px 10px;
      font-size: 10px;
      line-height: 10px;
      font-weight: 300;
      text-align: right;

      &._connecting {
        color: $color-primary;
        background-color: rgba($color-primary, .2);
      }

      &._error {
        color: $color-danger;
        background-color: rgba($color-danger, .2);
      }

      &._connected {
        color: $color-success;
        background-color: rgba($color-success, .2);
      }

      &._animation {
        transform: translateY(100%);
        opacity: 0;
      }

      &._animation-active {
        transition: all .3s ease;
      }
    }

    &__holder {
      padding: 25px;
      text-align: center;
      color: $color-shade-500;

      &-icon {
        font-size: 30px;
        height: 1em;
        width: 1em;
      }

      &-text {
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
        margin-top: 10px;
      }
    }

    &__list {
      position: relative;
      max-height: 80vh;
      overflow: hidden;
    }

    &__item {}
  }
</style>
