<script>
  import { required, email } from 'vuelidate/lib/validators';

  import form from '@/core/mixins/form';
  import responseCodes from '@/core/api/responseCodes';

  export default {
    mixins: [form],
    data() {
      return {
        fields: {
          username: '',
          password: '',
        },
      };
    },
    computed: {
      showUnconfirmedAdvice() {
        return (this.serverError && this.serverError.code === responseCodes.ACCOUNT_NOT_CONFIRMED);
      },
    },
    watch: {
      fields: {
        handler() {
          this.$emit('input', this.fields);
        },
        deep: true,
      },
    },
    validations() {
      return {
        fields: {
          username: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
            email: this.createValidationRule(email, this.$t('forms.validations.email')),
          },
          password: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
        },
      };
    },
    beforeMount() {
      this.fields.username = (
        this.$route.query.username
        || this.$store.state.user.lastUsedEmail
        || ''
      );
    },
    methods: {
      submit() {
        if (this.sending) return;
        if (!this.validate()) return;

        this.$emit('submit');
        this.sending = true;

        this.$store.dispatch('user/login', this.fields)
          .then(() => {
            this.sending = false;
            this.$store.dispatch('user/rememberEmail', this.fields.username);
            this.$emit('success');
          })
          .catch((err) => {
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
      i18n(path, params) {
        return this.$t(`components.FormLogin.${path}`, params);
      },
    },
  };
</script>

<template>
  <form
    novalidate
    @submit.prevent="submit"
  >
    <div class="row">
      <InputText
        v-model.trim="fields.username"
        :invalid="isFieldInvalid('username')"
        :errors="getFieldErrorMessages('username')"
        :label="i18n('labels.username')"
        type="email"
      />
    </div>
    <div class="row">
      <InputPassword
        v-model.trim="fields.password"
        :invalid="isFieldInvalid('password')"
        :errors="getFieldErrorMessages('password')"
        :label="i18n('labels.password')"
      />
    </div>
    <!-- Unconfirmed email advice -->
    <div
      v-if="showUnconfirmedAdvice"
      class="row"
    >
      <Notice type="warning">
        {{ i18n('unconfirmedAccount') }}
      </Notice>
    </div>
    <!-- Submit -->
    <VButton
      type="submit"
      fluid
    >
      {{ i18n('controls.submit') }}
    </VButton>
  </form>
</template>

<style lang="scss" type="text/scss"></style>
