<script>
  import { required, email } from 'vuelidate/lib/validators';

  import form from '@/core/mixins/form';
  import { passwordStrength } from '@/core/validators';

  export default {
    mixins: [form],
    data() {
      return {
        fields: {
          username: '',
          newPassword: '',
          confirmationCode: '',
        },
      };
    },
    computed: {},
    validations() {
      return {
        fields: {
          username: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
            email: this.createValidationRule(email, this.$t('forms.validations.email')),
          },
          confirmationCode: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
          newPassword: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
            passwordStrength: this.createValidationRule(passwordStrength, this.$t('forms.validations.passwordStrength')),
          },
        },
      };
    },
    beforeMount() {
      this.fields.username = this.$route.query.username || '';
    },
    activated() {
      this.fields.username = this.$route.query.username || '';
    },
    methods: {
      submit() {
        if (this.sending) return;
        if (!this.validate()) return;

        this.$emit('submit');
        this.sending = true;

        this.$api.post('/account/passwords', this.fields)
          .then(() => {
            this.sending = false;
            this.$emit('success', this.fields.username);
          })
          .catch((err) => {
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
      i18n(path, params) {
        return this.$t(`components.FormResetPassword.${path}`, params);
      },
    },
  };
</script>

<template>
  <form
    novalidate
    @submit.prevent="submit"
  >
    <div class="row">
      <InputText
        v-model.trim="fields.username"
        :invalid="isFieldInvalid('username')"
        :errors="getFieldErrorMessages('username')"
        :label="i18n('labels.username')"
        type="email"
      />
    </div>
    <div class="row">
      <InputPassword
        v-model.trim="fields.newPassword"
        :invalid="isFieldInvalid('newPassword')"
        :errors="getFieldErrorMessages('newPassword')"
        :label="i18n('labels.newPassword')"
      />
    </div>
    <div class="row">
      <InputText
        v-model="fields.confirmationCode"
        :invalid="isFieldInvalid('confirmationCode')"
        :errors="getFieldErrorMessages('confirmationCode')"
        :label="i18n('labels.confirmationCode')"
      />
    </div>
    <!-- Submit -->
    <VButton
      type="submit"
      fluid
    >
      {{ i18n('controls.submit') }}
    </VButton>
  </form>
</template>

<style lang="scss" type="text/scss"></style>
