<script>
  import { required, email } from 'vuelidate/lib/validators';

  import Tooltip from '@/components/ui/Tooltip.vue';
  import form from '@/core/mixins/form';
  import { passwordStrength } from '@/core/validators';

  export default {
    components: {
      Tooltip,
    },
    mixins: [form],
    data() {
      return {
        fields: {
          name: '',
          password: '',
          // website
          contact: {
            firstName: '',
            lastName: '',
            email: '',
            // phone
          },
          // address
        },
      };
    },
    validations() {
      return {
        fields: {
          name: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
          contact: {
            email: {
              required: this.createValidationRule(required, this.$t('forms.validations.required')),
              email: this.createValidationRule(email, this.$t('forms.validations.email')),
            },
            firstName: {
              required: this.createValidationRule(required, this.$t('forms.validations.required')),
            },
            lastName: {
              required: this.createValidationRule(required, this.$t('forms.validations.required')),
            },
          },
          password: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
            passwordStrength: this.createValidationRule(passwordStrength, this.$t('forms.validations.passwordStrength')),
          },
          invitation: '',
        },
        invited: false,
      };
    },
    beforeMount() {
      this.fields.invitation = this.$route.query.invitation || '';
      this.invited = !!this.$route.query.invitation;
    },
    methods: {
      submit() {
        if (this.sending) return;
        if (!this.validate()) return;

        this.$emit('submit');
        this.sending = true;

        const payload = {
          name: this.fields.name,
          password: this.fields.password,
          contact: this.fields.contact,
        };

        if (this.fields.invitation) {
          payload.invitation = this.fields.invitation;
        }

        this.$api.post('/account/accounts', payload)
          .then(() => {
            this.sending = false;
            this.$emit('success');
          })
          .catch((err) => {
            // Parse errors and attach to the fields
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              title: 'Error',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
      i18n(path, params) {
        return this.$t(`components.FormSignup.${path}`, params);
      },
    },
  };
</script>

<template>
  <div>
    <form
      novalidate
      @submit.prevent="submit"
    >
      <Grid>
        <GridCol
          mods="12 sm-6"
          class="row"
        >
          <InputText
            v-model="fields.contact.firstName"
            :invalid="isFieldInvalid('contact.firstName')"
            :errors="getFieldErrorMessages('contact.firstName')"
            :label="i18n('labels.contact.firstName')"
          />
        </GridCol>
        <GridCol
          mods="12 sm-6"
          class="row"
        >
          <InputText
            v-model="fields.contact.lastName"
            :invalid="isFieldInvalid('contact.lastName')"
            :errors="getFieldErrorMessages('contact.lastName')"
            :label="i18n('labels.contact.lastName')"
          />
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 sm-6"
          class="row"
        >
          <InputText
            v-model="fields.name"
            :invalid="isFieldInvalid('name')"
            :errors="getFieldErrorMessages('name')"
            :label="i18n('labels.name')"
          />
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 sm-6"
          class="row"
        >
          <InputText
            v-model.trim="fields.contact.email"
            :invalid="isFieldInvalid('contact.email')"
            :errors="getFieldErrorMessages('contact.email')"
            :label="i18n('labels.contact.email')"
            type="email"
          />
        </GridCol>
        <GridCol
          mods="12 sm-6"
          class="row"
        >
          <InputPassword
            v-model.trim="fields.password"
            :invalid="isFieldInvalid('password')"
            :errors="getFieldErrorMessages('password')"
            :label="i18n('labels.password')"
          />
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 sm-6"
          class="row"
        >
          <InputText
            v-model="fields.invitation"
            :invalid="isFieldInvalid('invitation')"
            :errors="getFieldErrorMessages('invitation')"
            :disabled="invited"
            :label="i18n('labels.invitation')"
          >
            <div slot="addon">
              <Tooltip>
                <div>Please retain this code as it corresponds to your partner invite</div>
              </Tooltip>
            </div>
          </InputText>
        </GridCol>
      </Grid>
      <!-- Submit -->
      <VButton
        type="submit"
        fluid
      >
        {{ $t('components.FormSignup.controls.submit') }}
      </VButton>
    </form>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
