<script>
  import { PortalTarget } from 'portal-vue';

  import { removeFromArray } from '@/core/helpers/utils';

  import eventBus from './eventBus';

  export default {
    components: {
      PortalTarget,
    },
    data() {
      return {
        portals: [],
      };
    },
    created() {
      eventBus.$on('modal-activate', this.openPortal);
      eventBus.$on('modal-deactivate', this.closePortal);
    },
    beforeDestroy() {
      eventBus.$off('modal-activate', this.openPortal);
      eventBus.$off('modal-deactivate', this.closePortal);
    },
    methods: {
      openPortal(modalId) {
        if (!this.portals.includes(modalId)) {
          this.portals.push(modalId);
        }
      },
      closePortal(modalId) {
        removeFromArray(this.portals, modalId);
      },
    },
  };
</script>

<template>
  <span>
    <PortalTarget
      v-for="portal in portals"
      :key="portal"
      :name="portal"
      slim
    />
  </span>
</template>

<style lang="scss" type="text/scss"></style>
