<script>
  import ControlsGroup from '@/core/components/ControlsGroup.vue';
  import form from '@/core/mixins/form';

  export default {
    name: 'PickManageFormNote',
    components: {
      ControlsGroup,
    },
    mixins: [form],
    props: {
      id: {
        type: [String, Number],
        default: '',
      },
      accountId: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        fields: {
          text: '',
        },
      };
    },
    methods: {
      submit() {
        if (!this.validate()) return;
        this.$emit('success', deepClone(this.fields));
      },
    },
  };
</script>

<template>
  <div>
    <form
      novalidate
      @submit.prevent="submit"
    >
      <div class="row">
        <InputText
          v-model="fields.text"
          :invalid="isFieldInvalid('text')"
          :errors="getFieldErrorMessages('text')"
          type="textarea"
        />
      </div>
      <ControlsGroup>
        <VButton
          type="submit"
          fluid
        >
          {{ $t('controls.save') }}
        </VButton>
        <VButton
          theme="light"
          fluid
          @click="cancel"
        >
          {{ $t('controls.cancel') }}
        </VButton>
      </ControlsGroup>
    </form>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
