<script>
  import ControlsGroup from '@/core/components/ControlsGroup.vue';
  import Field from '@/components/ui/Field.vue';
  import Separator from '@/core/components/Separator.vue';
  import VLink from '@/core/components/VLink.vue';
  import IconDelete from '@/assets/icons/material/delete.svg';
  import IconPlus from '@/assets/icons/plus.svg';
  import form from '@/core/mixins/form';
  import { deepClone, removeFromArray } from '@/core/helpers/utils';

  export default {
    name: 'PickManageFormProduct',
    components: {
      ControlsGroup,
      Field,
      Separator,
      VLink,
      IconDelete,
      IconPlus,
    },
    mixins: [form],
    props: {
      pick: {
        type: Object,
        default: () => ({}),
      },
      product: {
        type: Object,
        default: () => ({}),
      },
    },
    data() {
      return {
        fields: {
          zones: [],
        },
        cachedZones: null,
        productPackagingLoading: false,
        productStockLoading: false,
        lotsByZoneId: {},
      };
    },
    beforeMount() {
      if (!this.product.stock) {
        this.loadProductStock();
      }
    },
    methods: {
      submit() {
        if (!this.validate()) return;
        this.$emit('success', deepClone(this.fields));
      },
      addPick() {
        // TODO: only if stock available
        const zone = this.product.stock.zones[0];
        const pick = {};
        this.onSelectZone(zone, pick);
        this.fields.zones.push(pick);
        this.addLot(pick);
      },
      removePick(pick) {
        removeFromArray(this.fields.zones, pick);
      },
      addLot(pick) {
        pick.lots.push({
          lot: null,
          quantity: null,
        });
      },
      removeLot(lot, pick) {
        removeFromArray(pick.lots, lot);
      },
      loadProductPackaging() {
        if (this.productPackagingLoading) return;
        this.productPackagingLoading = true;

        // Cache zones state before update product
        this.cachedZones = deepClone(this.fields.zones);

        this.$api.get(`/warehouse/products/${this.product.product.id}/packaging`)
          .then(({ data }) => {
            this.$emit('load-product-packaging', { product: this.product, packaging: data });
            this.productPackagingLoading = false;
          })
          .catch(() => {
            this.$toasts.push({
              theme: 'danger',
              title: 'Error',
              text: `Could not fetch packaging data for ${this.product.product.name}`,
            });
            this.productPackagingLoading = false;
          });
      },
      loadProductStock() {
        if (this.productStockLoading) return;
        this.productStockLoading = true;

        // Cache zones state before update product
        this.cachedZones = deepClone(this.fields.zones);

        this.$api.get('/warehouse/stock/', {
          params: {
            productId: this.product.product.id,
            warehouseId: this.pick.warehouse.id,
          },
        })
          .then(({ data }) => {
            this.$emit('load-product-stock', { product: this.product, stock: data });
            this.productStockLoading = false;
          })
          .catch(() => {
            this.$toasts.push({
              theme: 'danger',
              title: 'Error',
              text: `Could not fetch stock data for ${this.product.product.name}`,
            });
            this.productStockLoading = false;
          });
      },
      onSelectZone(zone, pick) {
        pick.zone = {
          id: zone.zone.id,
          code: zone.zone.code,
        };
        pick.lots = []; // TODO: fill by first lot?

        this.lotsByZoneId[zone.zone.id] = zone.lots;
      },
      onSelectLot(lot, lotWrap) {
        lotWrap.lot = {
          id: lot.lot.id,
        };

        lotWrap.quantity = {
          value: 0,
          uom: lot.quantity.uom,
        };
      },
      getZoneLabel(zone) {
        return zone.zone.code;
      },
      getLotLabel(lot) {
        return lot.lot ? lot.lot.id : lot.id; // TODO: fix

        // TODO: date to timezone
        // const parts = [
        //   this.$options.filters.date(lot.date),
        //   lot.number,
        // ];
        //
        // if (lot.quantity) {
        //   parts.push(lot.quantity.value, lot.quantity.uom.name);
        // }
        //
        // return parts.filter(part => !!part).join(' / ');
      },
      // Override mixin method
      fill(values) {
        if (values) {
          this.fillFormFields(this.fields, values);

          // Restore zones state
          if (this.cachedZones) {
            this.fields.zones = this.cachedZones;
            this.cachedZones = null;
          }
        }

        this.fieldsBeforeEdit = deepClone(this.fields);
      },
    },
  };
</script>

<template>
  <div>
    <form
      novalidate
      @submit.prevent="submit"
    >
      <div v-if="product.stock">
        <div
          v-for="(zone, i) in fields.zones"
          :key="i"
        >
          <Separator v-if="i > 0"/>
          <div class="grid grid_bottom row">
            <div class="col">
              <Multiselect
                :value="zone"
                :options="product.stock.zones"
                :searchable="true"
                :allow-empty="false"
                :option-label="getZoneLabel"
                label="Zone"
                @input="onSelectZone($event, zone)"
              />
            </div>
            <div class="col col_auto">
              <VButton
                theme="silent"
                round
                @click="removePick(zone)"
              >
                <IconDelete slot="icon"/>
              </VButton>
            </div>
          </div>
          <div v-if="zone.zone">
            <div
              v-for="(lot, k) in zone.lots"
              :key="k"
              class="grid grid_bottom row"
            >
              <div class="col">
                <Multiselect
                  :value="lot.lot"
                  :options="lotsByZoneId[zone.zone.id]"
                  :searchable="true"
                  :allow-empty="false"
                  :option-label="getLotLabel"
                  label="Lot"
                  @input="onSelectLot($event, lot)"
                />
              </div>
              <div
                v-if="lot.quantity"
                class="col col_auto"
              >
                <div style="width: 100px">
                  <InputNumber
                    v-model="lot.quantity.value"
                    :step="1"
                    :min="0"
                    label="Quantity"
                  />
                </div>
              </div>
              <div
                v-if="lot.quantity"
                class="col col_auto"
              >
                <div
                  v-loading="productPackagingLoading"
                  style="width: 100px"
                >
                  <Multiselect
                    v-if="product.packaging"
                    v-model="lot.quantity.uom"
                    :options="product.packaging"
                    :searchable="false"
                    :multiple="false"
                    :allow-empty="false"
                    track-by="code"
                    option-label="name"
                    label="UOM"
                  />
                  <Field
                    v-else
                    label="UOM"
                    free-body
                  >
                    <VLink
                      decoration="dashed"
                      class="text-nowrap"
                      @click="loadProductPackaging"
                    >
                      {{ lot.quantity.uom.name }}
                    </VLink>
                  </Field>
                </div>
              </div>
              <div class="col col_auto">
                <VButton
                  theme="silent"
                  round
                  @click="removeLot(lot, zone)"
                >
                  <IconDelete slot="icon"/>
                </VButton>
              </div>
            </div>
            <div class="row">
              <VButton
                theme="light"
                @click="addLot(zone)"
              >
                <IconPlus slot="icon"/>
                Add lot
              </VButton>
            </div>
          </div>
          <!--
          <div class="col col_12 col_sm">
            <div class="grid grid_nowrap">
              <div
                v-if="zone.zone"
                class="col"
              >
                <div
                  v-for="(lot, k) in zone.lots"
                  :key="k"
                  class="grid"
                >
                  <div class="col">
                    <Multiselect
                      :value="lot.lot"
                      :options="lotsByZoneId[zone.zone.id]"
                      :searchable="true"
                      :allow-empty="false"
                      :option-label="getLotLabel"
                      label="Lot"
                      @input="onSelectLot($event, lot)"
                    />
                  </div>
                  <div class="col">
                    <div
                      v-if="lot.quantity"
                      style="width: 100px"
                    >
                      <InputNumber
                        v-model="lot.quantity.value"
                        :step="1"
                        :min="0"
                        label="Quantity"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div
                      v-loading="productPackagingLoading"
                      v-if="lot.quantity && lot.quantity.uom"
                      style="width: 100px"
                    >
                      <Multiselect
                        v-if="product.packaging"
                        v-model="lot.quantity.uom"
                        :options="product.packaging"
                        :searchable="false"
                        :multiple="false"
                        :allow-empty="false"
                        track-by="code"
                        option-label="name"
                        label="UOM"
                      />
                      <field
                        v-else
                        label="UOM"
                        free-body
                      >
                        <VLink
                          decoration="dashed"
                          class="text-nowrap"
                          @click="loadProductPackaging"
                        >
                          {{ lot.quantity.uom.name }}
                        </VLink>
                      </field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col_auto row hidden-sm-up">
                <VButton
                  theme="silent"
                  round
                  @click="removePick(zone)"
                >
                  <IconDelete slot="icon"/>
                </VButton>
              </div>
            </div>
          </div>
          <div class="col col_12 col_sm-auto">
            <div class="grid grid_nowrap grid_bottom">
              <div class="col col_auto row hidden-xs-down">
                <VButton
                  theme="silent"
                  round
                  @click="removePick(zone)"
                >
                  <IconDelete slot="icon"/>
                </VButton>
              </div>
            </div>
          </div>
          -->
        </div>
      </div>
      <Separator/>
      <VButton
        theme="light"
        @click="addPick"
      >
        <IconPlus slot="icon"/>
        Add zone
      </VButton>
      <Separator/>
      <ControlsGroup>
        <VButton
          type="submit"
        >
          {{ $t('controls.save') }}
        </VButton>
        <VButton
          theme="light"
          @click="cancel"
        >
          {{ $t('controls.cancel') }}
        </VButton>
      </ControlsGroup>
    </form>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
