<script>
  import Badge from '@/core/components/Badge.vue';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'Badge',
      };
    },
    components: {
      Badge,
    },
    mixins: [page],
    data() {
      return {};
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <ContentSection>
    <div class="text-h1 row">Badge</div>
    <Grid>
      <GridCol mods="auto">
        <Badge>Default</Badge>
      </GridCol>
      <GridCol mods="auto">
        <Badge theme="light">Light</Badge>
      </GridCol>
      <GridCol mods="auto">
        <Badge theme="success">Success</Badge>
      </GridCol>
      <GridCol mods="auto">
        <Badge theme="warning">Warning</Badge>
      </GridCol>
      <GridCol mods="auto">
        <Badge theme="danger">Danger</Badge>
      </GridCol>
    </Grid>
  </ContentSection>
</template>

<style lang="scss" type="text/scss"></style>
