<script>
  import Barcode from '@/core/components/Barcode.vue';
  import InlineBarcode from '@/core/components/InlineBarcode.vue';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'Barcode',
      };
    },
    components: {
      Barcode,
      InlineBarcode,
    },
    mixins: [page],
    data() {
      return {};
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <ContentSection>
    <div class="text-h1 row">Barcode</div>
    <Grid class="row">
      <GridCol mods="sm-6 cm-4 lg-3 xl-2">
        <Barcode code="1234567890"/>
      </GridCol>
    </Grid>
    <div class="text-h1 row">InlineBarcode</div>
    <div class="row">
      <InlineBarcode
        code="1234567890"
        title="Title"
      />
    </div>
  </ContentSection>
</template>

<style lang="scss" type="text/scss"></style>
