<script>
  import Checkbox from '@/core/components/Checkbox.vue';
  import CheckboxGroup from '@/core/components/CheckboxGroup.vue';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'Checkbox',
      };
    },
    components: {
      Checkbox,
      CheckboxGroup,
    },
    mixins: [page],
    data() {
      return {
        model1: false,
        model2: [1],
        model3: [3],
      };
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <ContentSection>
      <div class="text-h1 row">Checkbox</div>
      <Grid>
        <GridCol
          mods="auto"
          class="row"
        >
          <Checkbox v-model="model1">
            Checkbox
          </Checkbox>
        </GridCol>
        <GridCol
          mods="auto"
          class="row"
        >
          <Checkbox
            v-model="model1"
            disabled
          >
            Disabled
          </Checkbox>
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-6 xl-4"
          class="row"
        >
          <CheckboxGroup
            label="Group of checkboxes"
            advice="Some advice"
          >
            <Checkbox
              v-for="i in 3"
              :key="i"
              v-model="model2"
              :val="i"
            >
              Option {{ i }}
            </Checkbox>
          </CheckboxGroup>
        </GridCol>
        <GridCol
          mods="12 md-6 xl-4"
          class="row"
        >
          <CheckboxGroup
            label="Invalid"
            :errors="['Error message']"
            invalid
          >
            <Checkbox
              v-for="i in 3"
              :key="i"
              v-model="model2"
              :val="i"
            >
              Option {{ i }}
            </Checkbox>
          </CheckboxGroup>
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-6 xl-4"
          class="row"
        >
          <CheckboxGroup
            label="Disabled"
            disabled
          >
            <Checkbox
              v-for="i in 3"
              :key="i"
              v-model="model2"
              :val="i"
            >
              Option {{ i }}
            </Checkbox>
          </CheckboxGroup>
        </GridCol>
        <GridCol
          mods="12 md-6 xl-4"
          class="row"
        >
          <CheckboxGroup
            label="Loading"
            loading
          >
            <Checkbox
              v-for="i in 3"
              :key="i"
              v-model="model2"
              :val="i"
            >
              Option {{ i }}
            </Checkbox>
          </CheckboxGroup>
        </GridCol>
      </Grid>
      <CheckboxGroup
        label="Vertical align"
        vertical
      >
        <Checkbox
          v-for="i in 3"
          :key="i"
          v-model="model3"
          :val="i"
        >
          Option {{ i }}
        </Checkbox>
      </CheckboxGroup>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
