<script>
  import DataTable from '@/core/components/DataTable.vue';
  import { DropMenu, DropMenuItem } from '@/core/components/DropMenu';
  import VButton from '@/core/components/VButton.vue';
  import IconEdit from '@/assets/icons/material/edit.svg';
  import IconKebab from '@/assets/icons/material/more_vert.svg';
  import IconSettings from '@/assets/icons/material/settings.svg';
  import page from '@/core/mixins/page';
  import { sortArrayOfObjects, fillArray } from '@/core/helpers/utils';

  export default {
    meta() {
      return {
        title: 'DataTable',
      };
    },
    components: {
      DataTable,
      DropMenu,
      DropMenuItem,
      VButton,
      IconEdit,
      IconKebab,
      IconSettings,
    },
    mixins: [page],
    data() {
      return {
        headers: [
          {
            label: 'ID',
            value: 'id',
            sortable: true,
          },
          {
            label: 'Title',
            value: 'title',
            sortable: true,
          },
          {
            label: 'Weight',
            value: 'weight',
            sortable: true,
          },
          {
            label: 'Height',
            value: 'height',
            sortable: true,
          },
          {
            label: '',
            value: '',
          },
        ],
        items: [
          {
            id: '1',
            title: 'Foo',
            weight: 300,
            height: 400,
          },
          {
            id: '2',
            title: 'Bar',
            weight: 320,
            height: 100,
          },
          {
            id: '3',
            title: 'Baz',
            weight: 255,
            height: 700,
          },
          {
            id: '4',
            title: 'Xyz',
            weight: 100,
            height: 200,
          },
        ],
        itemsExternal: [],
        sortBy: 'weight',
        sortOrder: -1,
        loading: false,
      };
    },
    mounted() {
      this.sort({ sortBy: 'id', sortOrder: 1 });
    },
    methods: {
      sort({ sortBy, sortOrder }) {
        this.loading = true;
        setTimeout(() => {
          const items = sortArrayOfObjects(this.items, sortBy, sortOrder);
          fillArray(this.itemsExternal, items);
          this.loading = false;
          this.sortBy = sortBy;
          this.sortOrder = sortOrder;
        }, 1500);
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <ContentSection>
    <div class="text-h1 row">DataTable</div>
    <Grid>
      <GridCol
        mods="12 lg-6"
        class="row"
      >
        <div class="row">Default:</div>
        <DataTable
          :headers="headers"
          :items="items"
          sort-by="id"
        >
          <template
            v-slot:item="{ item }"
          >
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.height }}</td>
            <td style="width: 1%;">
              <DropMenu direction="bottom left">
                <VButton
                  slot="activator"
                  theme="silent"
                  round
                >
                  <IconKebab slot="icon"/>
                </VButton>
                <DropMenuItem>
                  <IconSettings slot="icon"/>
                  Settings
                </DropMenuItem>
                <DropMenuItem>
                  <IconEdit slot="icon"/>
                  Edit
                </DropMenuItem>
              </DropMenu>
            </td>
          </template>
        </DataTable>
      </GridCol>
      <GridCol
        mods="12 lg-6"
        class="row"
      >
        <div class="row">Server-side sorting:</div>
        <DataTable
          :headers="headers"
          :items="itemsExternal"
          :internal-sort="false"
          :sort-by="sortBy"
          :sort-order="sortOrder"
          :loading="loading"
          @sort="sort"
        >
          <template
            v-slot:item="{ item }"
          >
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.height }}</td>
            <td style="width: 1%;">
              <DropMenu direction="bottom left">
                <VButton
                  slot="activator"
                  theme="silent"
                  round
                >
                  <IconKebab slot="icon"/>
                </VButton>
                <DropMenuItem>
                  <IconSettings slot="icon"/>
                  Settings
                </DropMenuItem>
                <DropMenuItem>
                  <IconEdit slot="icon"/>
                  Edit
                </DropMenuItem>
              </DropMenu>
            </td>
          </template>
        </DataTable>
      </GridCol>
      <GridCol
        mods="12 lg-6"
        class="row"
      >
        <div class="row">Loading state:</div>
        <DataTable
          :headers="headers"
          :items="items"
          :loading="true"
        >
          <template
            v-slot:item="{ item }"
          >
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.height }}</td>
            <td style="width: 1%;">
              <DropMenu>
                <VButton
                  slot="activator"
                  theme="silent"
                  round
                >
                  <IconKebab slot="icon"/>
                </VButton>
                <DropMenuItem>
                  <IconSettings slot="icon"/>
                  Settings
                </DropMenuItem>
                <DropMenuItem>
                  <IconEdit slot="icon"/>
                  Edit
                </DropMenuItem>
              </DropMenu>
            </td>
          </template>
        </DataTable>
      </GridCol>
      <GridCol
        mods="12 lg-6"
        class="row"
      >
        <div class="row">Loading state without items:</div>
        <DataTable
          :headers="headers"
          :items="[]"
          :loading="true"
        >
          <template
            v-slot:item="{ item }"
          >
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.height }}</td>
            <td style="width: 1%;">
              <DropMenu>
                <VButton
                  slot="activator"
                  theme="silent"
                  round
                >
                  <IconKebab slot="icon"/>
                </VButton>
                <DropMenuItem>
                  <IconSettings slot="icon"/>
                  Settings
                </DropMenuItem>
                <DropMenuItem>
                  <IconEdit slot="icon"/>
                  Edit
                </DropMenuItem>
              </DropMenu>
            </td>
          </template>
        </DataTable>
      </GridCol>
    </Grid>
    <Grid>
      <GridCol
        mods="12 lg-6"
        class="row"
      >
        <div class="row">Without headers:</div>
        <DataTable
          :headers="headers"
          :show-headers="false"
          :items="items"
          sort-by="id"
        >
          <template
            v-slot:item="{ item }"
          >
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.height }}</td>
            <td style="width: 1%;">
              <DropMenu direction="bottom left">
                <VButton
                  slot="activator"
                  theme="silent"
                  round
                >
                  <IconKebab slot="icon"/>
                </VButton>
                <DropMenuItem>
                  <IconSettings slot="icon"/>
                  Settings
                </DropMenuItem>
                <DropMenuItem>
                  <IconEdit slot="icon"/>
                  Edit
                </DropMenuItem>
              </DropMenu>
            </td>
          </template>
        </DataTable>
      </GridCol>
    </Grid>
    <Grid class="rows">
      <GridCol
        mods="12 lg-6"
        class="row"
      >
        <div class="row">Empty:</div>
        <DataTable
          :headers="headers"
          :items="[]"
          sort-by="id"
        />
      </GridCol>
    </Grid>
  </ContentSection>
</template>

<style lang="scss" type="text/scss"></style>
