<script>
  import { DropMenu, DropMenuItem, DropMenuWidget } from '@/core/components/DropMenu';
  import VButton from '@/core/components/VButton.vue';
  import IconDelete from '@/assets/icons/material/delete.svg';
  import IconEdit from '@/assets/icons/material/edit.svg';
  import IconKebab from '@/assets/icons/material/more_vert.svg';
  import IconSettings from '@/assets/icons/material/settings.svg';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'DropMenu',
      };
    },
    components: {
      DropMenu,
      DropMenuItem,
      DropMenuWidget,
      VButton,
      IconDelete,
      IconEdit,
      IconKebab,
      IconSettings,
    },
    mixins: [page],
    data() {
      return {
        menus: [
          {
            direction: 'top right',
          },
          {
            direction: 'top left',
          },
          {
            direction: 'bottom right',
          },
          {
            direction: 'bottom left',
          },
        ],
        menuItems: [
          {
            title: 'Settings',
            icon: IconSettings,
          },
          {
            title: 'Edit',
            icon: IconEdit,
          },
          {
            title: 'Delete',
            icon: IconDelete,
          },
        ],
      };
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <ContentSection>
    <div class="text-h1 row">DropMenu</div>
    <div class="row">
      <DropMenu>
        <VButton
          slot="activator"
        >
          Menu
        </VButton>
        <DropMenuWidget>
          <div style="width: 180px;">Custom content</div>
        </DropMenuWidget>
      </DropMenu>
    </div>
    <Grid class="rows">
      <GridCol
        v-for="(menu, i) in menus"
        :key="i"
        mods="auto"
        class="row"
      >
        <DropMenu :direction="menu.direction">
          <VButton
            slot="activator"
            theme="light"
            round
          >
            <IconKebab slot="icon"/>
          </VButton>
          <DropMenuItem
            v-for="(item, k) in menuItems"
            :key="k"
          >
            <component
              :is="item.icon"
              slot="icon"
            />
            {{ item.title }}
          </DropMenuItem>
        </DropMenu>
      </GridCol>
    </Grid>
  </ContentSection>
</template>

<style lang="scss" type="text/scss"></style>
