<script>
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'Identity',
      };
    },
    components: {},
    mixins: [page],
    data() {
      return {
        colors: [
          {
            label: 'primary',
            color: '#108aeb',
          },
          {
            label: 'success',
            color: '#00b16a',
          },
          {
            label: 'warning',
            color: '#e98a03',
          },
          {
            label: 'danger',
            color: '#e74c3c',
          },
          {
            label: 'ui',
            color: '#2c405a',
          },
        ],
        shades: [
          {
            label: 'black',
            color: '#000',
          },
          {
            label: '900',
            color: '#424242',
          },
          {
            label: '800',
            color: '#616161',
          },
          {
            label: '700',
            color: '#757575',
          },
          {
            label: '600',
            color: '#919191',
          },
          {
            label: '500',
            color: '#bdbdbd',
          },
          {
            label: '400',
            color: '#e0e0e0',
          },
          {
            label: '300',
            color: '#eee',
          },
          {
            label: '200',
            color: '#f5f5f5',
          },
          {
            label: '100',
            color: '#fafafa',
          },
        ],
        lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      };
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <ContentSection>
      <div class="row">Full logo</div>
      <Grid>
        <GridCol
          mods="auto"
          class="row"
        >
          <img
            src="@/assets/images/logo/logo.svg"
            width="80"
            height="105"
          >
        </GridCol>
        <GridCol
          mods="auto"
          class="row"
        >
          <img
            src="@/assets/images/logo/logo-gray.svg"
            width="80"
            height="105"
          >
        </GridCol>
      </Grid>
      <div class="row">Compact symbol logo</div>
      <Grid>
        <GridCol
          mods="auto"
          class="row"
        >
          <img
            src="@/assets/images/logo/logo-round.svg"
            width="80"
            height="80"
          >
        </GridCol>
        <GridCol
          mods="auto"
          class="row"
        >
          <img
            src="@/assets/images/logo/logo-round-gray.svg"
            width="80"
            height="80"
          >
        </GridCol>
      </Grid>
      <div class="row">Compact text logo</div>
      <Grid>
        <GridCol
          mods="auto"
          class="row"
        >
          <img
            src="@/assets/images/logo/logo-text.svg"
            width="80"
            height="14"
          >
        </GridCol>
        <GridCol
          mods="auto"
          class="row"
        >
          <img
            src="@/assets/images/logo/logo-text-gray.svg"
            width="80"
            height="14"
          >
        </GridCol>
      </Grid>
      <div class="row">Alternate symbol logo</div>
      <Grid lass="rows">
        <GridCol
          mods="auto"
          class="row"
        >
          <img
            src="@/assets/images/logo/logo-v.svg"
            width="80"
            height="80"
          >
        </GridCol>
        <GridCol
          mods="auto"
          class="row"
        >
          <img
            src="@/assets/images/logo/logo-v-gray.svg"
            width="80"
            height="80"
          >
        </GridCol>
      </Grid>
    </ContentSection>
    <ContentSection>
      <Grid>
        <GridCol
          v-for="(color, i) in colors"
          :key="i"
          mods="auto"
          class="row"
        >
          <div
            :style="{ width: '60px', height: '60px', marginBottom: '5px', background: color.color }"
          />
          <div
            :style="{ color: color.color }"
            class="text-tiny"
          >
            {{ color.label }}
          </div>
        </GridCol>
      </Grid>
      <Grid class="rows">
        <GridCol
          v-for="(color, i) in shades"
          :key="i"
          mods="auto"
          class="row"
        >
          <div
            :style="{ width: '60px', height: '60px', marginBottom: '5px', background: color.color }"
          />
          <div
            :style="{ color: color.color }"
            class="text-tiny"
          >
            {{ color.label }}
          </div>
        </GridCol>
      </Grid>
    </ContentSection>
    <ContentSection>
      <div class="rows">
        <div class="row text-big">Big font style for important things (500 16/24)<br> {{ lorem }}</div>
        <div class="row text-base">Base font style for typical usage (400 14px/22px)<br> {{ lorem }}</div>
        <div class="row text-compact">Compact font style (300 13px/18px)<br> {{ lorem }}</div>
        <div class="row text-tiny">Tiny font style for labels, advices etc. (400 11px/15px)<br> {{ lorem }}</div>
        <Grid
          mods="bottom"
          class="rows"
        >
          <GridCol
            mods="auto"
            class="row text-h1"
          >
            H1 title (500 28px/34px)
          </GridCol>
          <GridCol
            mods="auto"
            class="row text-h2"
          >
            H2 title (500 24px/30px)
          </GridCol>
          <GridCol
            mods="auto"
            class="row text-h3"
          >
            H3 title (500 22px/28px)
          </GridCol>
          <GridCol
            mods="auto"
            class="row text-h4"
          >
            H4 title (500 18px/24px)
          </GridCol>
        </Grid>
      </div>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
