<script>
  import InputAddress from '@/core/components/InputAddress';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'InputAddress',
      };
    },
    components: {
      InputAddress,
    },
    mixins: [page],
    data() {
      return {
        address: {
          text: '45 Jebb Avenue, London, SW2 5XQ, United Kingdom',
          location: {
            lat: 51.4516328,
            lng: -0.1230838,
          },
          locationId: 'ChIJZcdIqzgEdkgR3t1HGcYiAgQ',
          geocoder: 'google',
          components: {
            country: 'United Kingdom',
            countryCode: 'GB',
            city: 'London',
            postcode: 'SW2 5XQ',
            address: '45 Jebb Avenue',
          },
          note: 'Office 502',
          verified: true,
        },
        unverified: {
          text: 'Unverified address string',
          location: null,
          locationId: '',
          geocoder: '',
          components: {},
          note: '',
          verified: false,
        },
        errors: [
          'Error message',
        ],
      };
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <ContentSection>
    <div class="text-h1 row">InputAddress</div>
    <Grid>
      <GridCol
        mods="12 md-6 lg-4"
        class="row"
      >
        <InputAddress
          label="Empty"
          placeholder="Enter address"
        />
      </GridCol>
    </Grid>
    <Grid>
      <GridCol
        mods="12 md-6 lg-4"
        class="row"
      >
        <InputAddress
          v-model="address"
          label="Filled"
        />
      </GridCol>
    </Grid>
    <Grid>
      <GridCol
        mods="12 md-6 lg-4"
        class="row"
      >
        <InputAddress
          v-model="address"
          label="Disabled"
          disabled
        />
      </GridCol>
    </Grid>
    <Grid>
      <GridCol
        mods="12 md-6 lg-4"
        class="row"
      >
        <InputAddress
          v-model="unverified"
          label="Unverified"
        />
      </GridCol>
    </Grid>
    <Grid class="rows">
      <GridCol
        mods="12 md-6 lg-4"
        class="row"
      >
        <InputAddress
          v-model="address"
          label="Invalid"
          :errors="errors"
          invalid
        />
      </GridCol>
    </Grid>
  </ContentSection>
</template>

<style lang="scss" type="text/scss"></style>
