<script>
  import InputNumber from '@/core/components/InputNumber.vue';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'InputNumber',
      };
    },
    components: {
      InputNumber,
    },
    mixins: [page],
    data() {
      return {
        decimalsValue: 7.50,
        options: [
          16,
          32,
          64,
        ],
      };
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <ContentSection>
      <div class="text-h1 row">InputNumber</div>
      <Grid>
        <GridCol
          mods="12 md-6 lg-3 xl-2"
          class="row"
        >
          <InputNumber
            label="Number"
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3 xl-2"
          class="row"
        >
          <InputNumber
            :value="2"
            label="Min and max values (1 - 12)"
            :min="1"
            :max="12"
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3 xl-2"
          class="row"
        >
          <InputNumber
            label="Options"
            :options="options"
          />
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-6 lg-3 xl-2"
          class="row"
        >
          <InputNumber
            v-model="decimalsValue"
            label="Decimals"
            :min="0"
            :decimals="2"
            :step="0.1"
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3 xl-2"
          class="row"
        >
          <InputNumber
            v-model="decimalsValue"
            :min="0"
            :decimals="2"
            :step="0.1"
            label="Strict decimals length"
            strict-decimals
          />
        </GridCol>
      </Grid>
      <Grid class="rows">
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputNumber
            label="With controls"
            :value="7"
            :min="0"
            controls
          />
        </GridCol>
      </Grid>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
