<script>
  import InputPassword from '@/core/components/InputPassword.vue';
  import InputSearch from '@/core/components/InputSearch.vue';
  import InputText from '@/core/components/InputText.vue';
  import VButton from '@/core/components/VButton.vue';
  import IconClose from '@/assets/icons/material/close.svg';
  import IconGroup from '@/assets/icons/material/group.svg';
  import page from '@/core/mixins/page';
  import { fillArray } from '@/core/helpers/utils';

  export default {
    meta() {
      return {
        title: 'InputText',
      };
    },
    components: {
      InputPassword,
      InputSearch,
      InputText,
      VButton,
      IconClose,
      IconGroup,
    },
    mixins: [page],
    data() {
      return {
        inputText: {
          mask: {
            mask: '0000 0000 0000 0000',
          },
          options: [
            'black',
            'white',
            'dark',
            'light',
            'red',
            'orange',
            'yellow',
          ],
          optionsTextarea: [
            'Does your lorem ipsum text long for something a little fishier?',
            'Lemon sole huchen barreleye, scaleless black dragonfish false trevally rocket danio saber-toothed blenny.',
            'Pikehead bluefin tuna swallower slickhead man-of-war fish?',
          ],
          optionsAjax: [],
          optionsLoading: false,
          optionsLoadingTimeout: null,
          errors: [
            'Error message',
          ],
        },
        inputSearch: {
          options: [
            'black',
            'white',
            'dark',
            'light',
          ],
        },
      };
    },
    methods: {
      inputTextLoadOptions() {
        clearTimeout(this.inputText.optionsLoadingTimeout);

        this.inputText.optionsLoading = true;
        this.inputText.optionsLoadingTimeout = setTimeout(() => {
          const options = [
            'Green',
            'Blue',
            'Purple',
            'Violet',
            'Pink',
            'Silver',
            'Gold',
            'Brown',
          ];
          fillArray(this.inputText.optionsAjax, options);
          this.inputText.optionsLoading = false;
        }, 2000);
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <!-- InputText -->
    <ContentSection>
      <div class="text-h1 row">InputText</div>
      <Grid>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputText
            label="Label"
            placeholder="Placeholder"
            advice="Advice"
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputText
            label="Icon and button"
            value="Foo"
          >
            <IconGroup slot="icon"/>
            <VButton
              slot="addon"
              theme="silent"
              size="small"
              round
            >
              <IconClose slot="icon"/>
            </VButton>
          </InputText>
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputText
            label="Attached button"
          >
            <VButton
              slot="after"
            >
              Subscribe
            </VButton>
          </InputText>
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputText
            :errors="inputText.errors"
            label="Invalid"
            value="Foo"
            invalid
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputText
            label="Disabled"
            advice="Advice"
            value="Disabled field with value"
            disabled
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputText
            label="Readonly"
            value="Foo"
            readonly
          />
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputText
            label="Loading"
            loading
          />
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputText
            :options="inputText.options"
            label="Options"
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputText
            :options="inputText.optionsAjax"
            :options-loading="inputText.optionsLoading"
            label="Async options loading"
            @focus="inputTextLoadOptions"
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputText
            :options="inputText.options"
            label="Custom option template"
          >
            <template v-slot:option="{ option }">
              <div class="text-tiny">Color is</div>
              <div class="text-bold">{{ option }}</div>
            </template>
          </InputText>
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputText
            label="Custom content in dropdown"
          >
            <div
              slot="drop"
              class="text-tiny"
            >
              Does your lorem ipsum text long for something a little fishier?
            </div>
          </InputText>
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-6"
          class="row"
        >
          <InputText
            label="Textarea"
            type="textarea"
            placeholder="Placeholder"
          />
        </GridCol>
        <GridCol
          mods="12 md-6"
          class="row"
        >
          <InputText
            :options="inputText.optionsTextarea"
            label="Textarea with options"
            type="textarea"
          />
        </GridCol>
      </Grid>
      <Grid class="rows">
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputText
            :mask="inputText.mask"
            label="Masked"
            placeholder="0000 0000 0000 0000"
            mask-placeholder="0000 0000 0000 0000"
          />
        </GridCol>
      </Grid>
    </ContentSection>
    <!-- InputSearch -->
    <ContentSection>
      <div class="text-h1 row">InputSearch</div>
      <Grid class="rows">
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputSearch
            label="Search"
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputSearch
            label="Search"
            value="foo"
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputSearch
            :options="inputSearch.options"
            label="Options"
          />
        </GridCol>
      </Grid>
    </ContentSection>
    <!-- InputPassword -->
    <ContentSection>
      <div class="text-h1 row">InputPassword</div>
      <Grid class="rows">
        <div class="col col_12 col_md-6 col_lg-3 row">
          <InputPassword
            label="Password"
          />
        </div>
      </Grid>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
