<script>
  import {
    InputDate,
    InputDateTime,
    InputTime,
  } from '@/core/components/InputDateTime';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'InputDateTime',
      };
    },
    components: {
      InputDate,
      InputDateTime,
      InputTime,
    },
    mixins: [page],
    data() {
      return {
        inputDate: {
          stringValue: '',
          isoValue: '',
          timestampValue: '',
          timestampBaseTimeValue: '',
          isoBaseTimeValue: '',
        },
        inputTime: {
          baseDate: Date.now(),
          stringValue: '',
          isoValue: '',
          timestampValue: '',
        },
        inputDateTime: {
          value: '',
        },
      };
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <!-- InputDate -->
    <ContentSection>
      <div class="text-h1 row">InputDate</div>
      <Grid>
        <GridCol
          mods="6 sm-4 md-3 xl-2"
          class="row"
        >
          <InputDate
            v-model="inputDate.timestampValue"
            :advice="inputDate.timestampValue"
            label="Timestamp"
          />
        </GridCol>
        <GridCol
          mods="6 sm-4 md-3 xl-2"
          class="row"
        >
          <InputDate
            v-model="inputDate.isoValue"
            :advice="inputDate.isoValue"
            label="ISO"
            value-type="iso"
          />
        </GridCol>
        <GridCol
          mods="6 sm-4 md-3 xl-2"
          class="row"
        >
          <InputDate
            v-model="inputDate.stringValue"
            :advice="inputDate.stringValue"
            label="String"
            value-type="string"
          />
        </GridCol>
      </Grid>
      <Grid class="rows">
        <GridCol
          mods="6 sm-4 md-3 xl-2"
          class="row"
        >
          <InputDate
            v-model="inputDate.timestampBaseTimeValue"
            :advice="inputDate.timestampBaseTimeValue"
            label="With base time 12:00"
            base-time="12:00"
            value-type="iso"
          />
        </GridCol>
        <GridCol
          mods="6 sm-4 md-3 xl-2"
          class="row"
        >
          <InputDate
            v-model="inputDate.isoBaseTimeValue"
            :advice="inputDate.isoBaseTimeValue"
            label="With base time 23:59:59"
            base-time="23:59:59"
            value-type="iso"
          />
        </GridCol>
      </Grid>
    </ContentSection>
    <!-- InputTime -->
    <ContentSection>
      <div class="text-h1 row">InputTime</div>
      <div class="row text-compact">
        <i>For timestamp and iso value types this component uses base date from props or local current date.</i>
      </div>
      <Grid class="rows">
        <GridCol
          mods="4 sm-3 md-2"
          class="row"
        >
          <InputTime
            v-model="inputTime.timestampValue"
            :advice="inputTime.timestampValue"
            label="Timestamp"
          />
        </GridCol>
        <GridCol
          mods="4 sm-3 md-2"
          class="row"
        >
          <InputTime
            v-model="inputTime.isoValue"
            :advice="inputTime.isoValue"
            label="ISO"
            value-type="iso"
          />
        </GridCol>
        <GridCol
          mods="4 sm-3 md-2"
          class="row"
        >
          <InputTime
            v-model="inputTime.stringValue"
            :advice="inputTime.stringValue"
            label="String"
            value-type="string"
          />
        </GridCol>
      </Grid>
    </ContentSection>
    <!-- InputDateTime -->
    <ContentSection>
      <div class="text-h1 row">InputDateTime</div>
      <Grid class="rows">
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputDateTime
            v-model="inputDateTime.value"
            label="Local time zone"
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputDateTime
            v-model="inputDateTime.value"
            label="America/New_York timezone"
            timezone="America/New_York"
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <InputDateTime
            v-model="inputDateTime.value"
            label="Europe/London timezone"
            timezone="Europe/London"
          />
        </GridCol>
      </Grid>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
