<script>
  import Multiselect from '@/core/components/Multiselect.vue';
  import page from '@/core/mixins/page';
  import { fillArray } from '@/core/helpers/utils';

  export default {
    meta() {
      return {
        title: 'Multiselect',
      };
    },
    components: {
      Multiselect,
    },
    mixins: [page],
    data() {
      return {
        optionsStrings: [
          'Black',
          'White',
          'Dark',
          'Light',
          'Red',
          'Orange',
          'Yellow',
        ],
        optionsObjects: [
          {
            label: 'Black',
            value: 'black',
          },
          {
            label: 'White',
            value: 'white',
          },
          {
            label: 'Dark',
            value: 'dark',
            $disabled: true,
          },
          {
            label: 'Light',
            value: 'light',
          },
          {
            label: 'Red',
            value: 'red',
            $disabled: true,
          },
          {
            label: 'Orange',
            value: 'orange',
          },
          {
            label: 'Yellow',
            value: 'yellow',
          },
        ],
        errors: [
          'Error message',
        ],
        // Classic
        valueString: '',
        // Searchable
        valueSearchable: '',
        // Objects
        valueObject: null,
        // Multiple
        valueMultiple: [
          'Black',
        ],
        // Async options
        valueAsync: '',
        optionsAsync: [],
        optionsAsyncLoading: false,
        optionsAsyncLoadingTimeout: null,
        // Server search
        valueServer: '',
        optionsServer: [],
        optionsServerLoading: false,
        optionsServerLoadingTimeout: null,
      };
    },
    methods: {
      loadAsyncOptions() {
        clearTimeout(this.optionsAsyncLoadingTimeout);
        this.optionsAsyncLoading = true;
        this.optionsAsyncLoadingTimeout = setTimeout(() => {
          const options = this.optionsStrings;
          fillArray(this.optionsAsync, options);
          this.optionsAsyncLoading = false;
        }, 1000);
      },
      searchOptions(query) {
        clearTimeout(this.optionsServerLoadingTimeout);
        this.optionsServerLoading = true;
        this.optionsServerLoadingTimeout = setTimeout(() => {
          const options = this.optionsStrings.filter((option) => {
            if (!query) return true;
            return option.toLowerCase().includes(query.toLowerCase());
          });
          fillArray(this.optionsServer, options);
          this.optionsServerLoading = false;
        }, 1000);
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <!-- Multiselect -->
    <ContentSection>
      <div class="text-h1 row">Multiselect</div>
      <Grid>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <Multiselect
            v-model="valueString"
            :options="optionsStrings"
            :allow-empty="false"
            :searchable="false"
            label="Classic select"
            placeholder="Placeholder"
            preselect-first
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <Multiselect
            v-model="valueString"
            :options="optionsStrings"
            :allow-empty="false"
            :searchable="false"
            :errors="errors"
            label="Invalid"
            placeholder="Placeholder"
            invalid
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <Multiselect
            v-model="valueString"
            :options="optionsStrings"
            :allow-empty="false"
            :searchable="false"
            label="Disabled"
            placeholder="Placeholder"
            disabled
          />
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <Multiselect
            v-model="valueSearchable"
            :options="optionsStrings"
            label="With search"
            placeholder="Placeholder"
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <Multiselect
            v-model="valueAsync"
            :options="optionsAsync"
            :options-loading="optionsAsyncLoading"
            label="Async options loading"
            @focus="loadAsyncOptions"
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <Multiselect
            v-model="valueServer"
            :options="optionsServer"
            :options-loading="optionsServerLoading"
            :internal-search="false"
            label="Server-side search"
            @search="searchOptions"
          />
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <Multiselect
            v-model="valueObject"
            :options="optionsObjects"
            label="Disabled options"
            placeholder="Placeholder"
            option-label="label"
          />
        </GridCol>
      </Grid>
      <Grid class="rows">
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <Multiselect
            v-model="valueMultiple"
            :options="optionsStrings"
            :close-on-select="false"
            label="Multiple"
            placeholder="Placeholder"
            multiple
          />
        </GridCol>
        <GridCol
          mods="12 md-6 lg-3"
          class="row"
        >
          <Multiselect
            v-model="valueMultiple"
            :options="optionsStrings"
            :close-on-select="false"
            label="Multiple disabled"
            placeholder="Placeholder"
            multiple
            disabled
          />
        </GridCol>
      </Grid>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
