<script>
  import Notice from '@/core/components/Notice.vue';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'Notice',
      };
    },
    components: {
      Notice,
    },
    mixins: [page],
    data() {
      return {};
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <ContentSection>
    <div class="text-h1 row">Badge</div>
    <Grid>
      <GridCol mods="md-6">
        <div class="rows">
          <div class="row">
            <Notice>Notice</Notice>
          </div>
          <div class="row">
            <Notice type="success">Notice success</Notice>
          </div>
          <div class="row">
            <Notice type="warning">Notice warning</Notice>
          </div>
          <div class="row">
            <Notice type="danger">Notice danger</Notice>
          </div>
        </div>
      </GridCol>
    </Grid>
  </ContentSection>
</template>

<style lang="scss" type="text/scss"></style>
