<script>
  import Paginator from '@/core/components/Paginator.vue';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'Paginator',
      };
    },
    components: {
      Paginator,
    },
    mixins: [page],
    data() {
      return {};
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <!-- InputText -->
    <ContentSection>
      <div class="text-h1 row">Paginator</div>
      <Grid>
        <GridCol mods="auto">
          <Paginator
            :pages="100"
          />
        </GridCol>
      </Grid>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
