<script>
  import Radio from '@/core/components/Radio.vue';
  import RadioGroup from '@/core/components/RadioGroup.vue';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'Radio',
      };
    },
    components: {
      Radio,
      RadioGroup,
    },
    mixins: [page],
    data() {
      return {
        model1: 'yes',
        model2: 1,
        model3: 1,
      };
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <ContentSection>
      <div class="text-h1 row">Radio</div>
      <Grid>
        <GridCol
          mods="auto"
          class="row"
        >
          <Radio
            v-model="model1"
            val="yes"
          >
            Yes
          </Radio>
        </GridCol>
        <GridCol
          mods="auto"
          class="row"
        >
          <Radio
            v-model="model1"
            val="no"
          >
            No
          </Radio>
        </GridCol>
        <GridCol
          mods="auto"
          class="row"
        >
          <Radio
            v-model="model1"
            val="yes"
            disabled
          >
            Disabled
          </Radio>
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-6 xl-4"
          class="row"
        >
          <RadioGroup
            label="Group of radio buttons"
            advice="Some advice"
          >
            <Radio
              v-for="i in 3"
              :key="i"
              v-model="model2"
              :val="i"
            >
              Option {{ i }}
            </Radio>
          </RadioGroup>
        </GridCol>
        <GridCol
          mods="12 md-6 xl-4"
          class="row"
        >
          <RadioGroup
            label="Invalid"
            :errors="['Error message']"
            invalid
          >
            <Radio
              v-for="i in 3"
              :key="i"
              v-model="model2"
              :val="i"
            >
              Option {{ i }}
            </Radio>
          </RadioGroup>
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-6 xl-4"
          class="row"
        >
          <RadioGroup
            label="Disabled"
            disabled
          >
            <Radio
              v-for="i in 3"
              :key="i"
              v-model="model2"
              :val="i"
            >
              Option {{ i }}
            </Radio>
          </RadioGroup>
        </GridCol>
        <GridCol
          mods="12 md-6 xl-4"
          class="row"
        >
          <RadioGroup
            label="Loading"
            loading
          >
            <Radio
              v-for="i in 3"
              :key="i"
              v-model="model2"
              :val="i"
            >
              Option {{ i }}
            </Radio>
          </RadioGroup>
        </GridCol>
      </Grid>
      <RadioGroup
        label="Vertical align"
        vertical
      >
        <Radio
          v-for="i in 3"
          :key="i"
          v-model="model3"
          :val="i"
        >
          Option {{ i }}
        </Radio>
      </RadioGroup>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
