<script>
  import { Tab, Tabs } from '@/core/components/Tabs';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'Tabs',
      };
    },
    components: {
      Tab,
      Tabs,
    },
    mixins: [page],
    data() {
      return {
        activeTabId: 'one',
        tabs: [
          'one',
          'two',
          'three',
          'four',
          'five',
          'six',
          'seven',
          'eight',
          'nine',
          'ten',
        ],
      };
    },
    methods: {
      onTabChange(activeId) {
        this.activeTabId = activeId;
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <ContentSection>
    <div class="text-h1 row">Tabs</div>
    <Tabs
      :active-tab-id="activeTabId"
      @change="onTabChange"
    >
      <Tab
        v-for="(tab, index) in tabs"
        :id="tab"
        :key="index"
        :label="tab"
      >
        Content of tab {{ tab }}
      </Tab>
    </Tabs>
  </ContentSection>
</template>

<style lang="scss" type="text/scss"></style>
