<script>
  import Tag from '@/core/components/Tag.vue';
  import Tags from '@/core/components/Tags.vue';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'Tags',
      };
    },
    components: {
      Tag,
      Tags,
    },
    mixins: [page],
    data() {
      return {};
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <ContentSection>
    <div class="text-h1 row">Tags</div>
    <Tags>
      <Tag>
        Default
      </Tag>
      <Tag theme="light">
        Light
      </Tag>
      <Tag theme="success">
        Success
      </Tag>
      <Tag theme="warning">
        Warning
      </Tag>
      <Tag theme="danger">
        Danger
      </Tag>
      <Tag removable>Removable</Tag>
      <Tag editable>Editable</Tag>
    </Tags>
  </ContentSection>
</template>

<style lang="scss" type="text/scss"></style>
