<script>
  import ButtonsGroup from '@/core/components/ButtonsGroup.vue';
  import VButton from '@/core/components/VButton.vue';
  import IconSettings from '@/assets/icons/material/settings.svg';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'VButton',
      };
    },
    components: {
      ButtonsGroup,
      VButton,
      IconSettings,
    },
    mixins: [page],
    data() {
      return {
        themes: [
          '',
          'success',
          'warning',
          'danger',
          'light',
          'silent',
        ],
      };
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <!-- InputText -->
    <ContentSection>
      <div class="text-h1 row">VButton</div>
      <div>
        <ButtonsGroup
          v-for="(theme, i) in themes"
          :key="i"
          class="row"
        >
          <VButton
            :theme="theme"
          >
            Default button
          </VButton>
          <VButton
            :theme="theme"
          >
            <IconSettings slot="icon"/>
            With icon
          </VButton>
          <VButton
            :theme="theme"
            round
          >
            <IconSettings slot="icon"/>
          </VButton>
          <VButton
            :theme="theme"
            square
          >
            <IconSettings slot="icon"/>
          </VButton>
        </ButtonsGroup>
      </div>
      <div class="text-h4 row">Small size</div>
      <div>
        <ButtonsGroup
          v-for="(theme, i) in themes"
          :key="i"
          class="row"
        >
          <VButton
            :theme="theme"
            size="small"
          >
            Default button
          </VButton>
          <VButton
            :theme="theme"
            size="small"
          >
            <IconSettings slot="icon"/>
            With icon
          </VButton>
          <VButton
            :theme="theme"
            size="small"
            round
          >
            <IconSettings slot="icon"/>
          </VButton>
          <VButton
            :theme="theme"
            size="small"
            square
          >
            <IconSettings slot="icon"/>
          </VButton>
        </ButtonsGroup>
      </div>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
