<script>
  import VLink from '@/core/components/VLink.vue';
  import IconGroup from '@/assets/icons/material/group.svg';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'VLink',
      };
    },
    components: {
      VLink,
      IconGroup,
    },
    mixins: [page],
    data() {
      return {
        themes: [
          '',
          'success',
          'warning',
          'danger',
        ],
      };
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <!-- InputText -->
    <ContentSection>
      <div class="text-h1 row">VLink</div>
      <Grid
        v-for="(theme, i) in themes"
        :key="i"
      >
        <GridCol
          mods="auto"
          class="row"
        >
          <VLink
            :theme="theme"
            href="#"
          >
            Default link
          </VLink>
        </GridCol>
        <GridCol
          mods="auto"
          class="row"
        >
          <VLink
            :theme="theme"
            decoration="dashed"
            href="#"
          >
            Dashed link
          </VLink>
        </GridCol>
        <GridCol
          mods="auto"
          class="row"
        >
          <VLink
            :theme="theme"
            decoration="none"
            href="#"
          >
            Without decoration
          </VLink>
        </GridCol>
        <GridCol
          mods="auto"
          class="row"
        >
          <VLink
            :theme="theme"
            decoration="none"
            href="#"
          >
            <IconGroup slot="icon"/>
            With icon
          </VLink>
        </GridCol>
      </Grid>
      <Grid>
        <div class="col col_auto">
          <VLink
            href="#"
            silent
          >
            Silent link
          </VLink>
        </div>
        <div class="col col_auto">
          <VLink tag="button">
            Button tag
          </VLink>
        </div>
      </Grid>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
