<script>
  import CarrierForm from '@/modules/logistic/components/CarrierForm';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';

  export default {
    meta() {
      const title = this.$t('pages.logistic.carriers.Create.meta.title');
      return {
        title,
      };
    },
    components: {
      CarrierForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        breadcrumbs: [
          {
            title: 'Logistics',
          },
          {
            title: 'Carriers',
            to: {
              name: 'Logistic/Carriers/List',
            },
          },
          {
            title: 'New',
          },
        ],
        loading: false,
      };
    },
    methods: {
      onFormSuccess(carrier) {
        this.loading = false;
        this.dirty = false; // because dirty event comes later
        this.$router.push({ name: 'Logistic/Carriers/Edit', params: { carrierId: carrier.id } });
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <CarrierForm
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
