<script>
  import CarrierForm from '@/modules/logistic/components/CarrierForm';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const name = this.carrier ? this.carrier.name : '';
      const title = this.$t('pages.logistic.carriers.Edit.meta.title', { name });
      return {
        title,
      };
    },
    components: {
      CarrierForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        carrier: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.carrier) return [];

        return [
          {
            title: 'Logistics',
          },
          {
            title: 'Carriers',
            to: {
              name: 'Logistic/Carriers/List',
            },
          },
          {
            title: this.carrier.name,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/logistic/carriers/${route.params.carrierId}`)
          .then(({ data }) => {
            resolve({ carrier: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.carrier = deepClone(fields);
        this.loading = false;
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <CarrierForm
        v-if="carrier"
        :values="carrier"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
