<script>
  // import { required } from 'vuelidate/lib/validators';

  // import Badge from '@/core/components/Badge.vue';
  import Contact from '@/core/components/Contact.vue';
  import ContactCreate from '@/core/components/ContactCreate.vue';
  // import DataTable from '@/core/components/DataTable.vue';
  // import { DropMenu, DropMenuItem } from '@/core/components/DropMenu';
  import Island from '@/core/components/Island.vue';
  // import IconDelete from '@/assets/icons/material/delete.svg';
  // import IconEdit from '@/assets/icons/material/edit.svg';
  // import IconKebab from '@/assets/icons/material/more_vert.svg';
  // import IconPlus from '@/assets/icons/plus.svg';
  import form from '@/core/mixins/form';
  import { deepClone, removeFromArray } from '@/core/helpers/utils';

  // import DriverFormContact from './DriverFormContact.vue';

  export default {
    components: {
      // Badge,
      Contact,
      ContactCreate,
      // DriverFormContact,
      // DataTable,
      // DropMenu,
      // DropMenuItem,
      Island,
      // IconDelete,
      // IconEdit,
      // IconKebab,
      // IconPlus,
    },
    mixins: [form],
    data() {
      return {
        fields: {
          id: '',
          accountId: '',
          firstName: '',
          lastName: '',
          contacts: [],
        },
        contactsTableHeaders: [
          {
            label: 'TYpe',
            value: 'type',
            sortable: true,
          },
          {
            label: 'ID',
            value: 'id',
            sortable: true,
          },
          {
            label: 'Cell',
            value: 'cell',
            sortable: false,
          },
        ],
      };
    },
    methods: {
      // Contacts
      deleteContact(contact) {
        this.$confirm({
          text: 'Delete contact?',
          confirmLabel: this.$t('controls.delete'),
          onConfirm: () => {
            removeFromArray(this.fields.contacts, contact);
          },
        });
      },
      addContact(contact) {
        if (contact.default) {
          this.resetDefaultContact();
        }
        this.fields.contacts.push(contact);
        this.isCreatingContact = false;
      },
      updateContact(contact, values) {
        if (values.default) {
          this.resetDefaultContact();
        }
        const index = this.fields.contacts.indexOf(contact);
        this.fields.contacts.splice(index, 1, values);
      },
      resetDefaultContact() {
        const contact = this.fields.contacts.find(item => item.default);
        if (contact) {
          contact.default = false;
        }
      },
      close() {
        const listName = 'Hauler/Drivers/List';
        if (this.$store.state.route.from.name === listName) {
          this.$router.go(-1);
        } else {
          this.$router.push({
            name: listName,
          });
        }
      },
      // Override form mixin
      submit() {
        if (this.sending) return;

        this.$emit('submit');
        this.sending = true;

        // Set first contact as default if no default contact selected
        if (this.fields.contacts.length && !this.fields.contacts.some(contact => contact.default)) {
          this.fields.contacts[0].default = true;
        }

        const payload = {
          firstName: this.fields.firstName,
          lastName: this.fields.lastName,
          contacts: this.fields.contacts,
        };

        if (this.fields.id) {
          payload.id = this.fields.id;
          payload.accountId = this.fields.accountId;
        }

        const request = this.fields.id
          ? this.$api.put(`/hauler/drivers/${this.fields.id}`, payload)
          : this.$api.post('/hauler/drivers', payload);

        request
          .then(({ data }) => {
            this.sending = false;
            this.fill(data);
            this.$toasts.push({
              theme: 'success',
              text: 'Driver saved',
            });
            this.$emit('success', deepClone(this.fields));
          })
          .catch((err) => {
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
    },
  };
</script>

<template>
  <Island sticky-footer>
    <form
      novalidate
      @submit.prevent="submit"
    >
      <VFieldset>
        <div class="row text-h4">Drivers</div>
        <div class="grid rows">
          <div class="col col_12 col_sm-6 col_md-4 row">
            <InputText
              v-model="fields.firstName"
              :invalid="isFieldInvalid('firstName')"
              :errors="getFieldErrorMessages('firstName')"
              label="First Name"
            />
          </div>
          <div class="col col_12 col_sm-6 col_md-4 row">
            <InputText
              v-model="fields.lastName"
              :invalid="isFieldInvalid('lastName')"
              :errors="getFieldErrorMessages('lastName')"
              label="Last Name"
            />
          </div>
        </div>
      </VFieldset>
      <!-- Contacts -->
      <VFieldset title="Contacts">
        <div
          v-if="fields.contacts.length"
          class="grid"
        >
          <div
            v-for="(contact, i) in fields.contacts"
            :key="i"
            class="col col_12 col_sm-6 col_md-4 col_xl-3 col_filled row"
          >
            <Contact
              :contact="contact"
              editable
              @change="updateContact(contact, $event)"
              @remove="deleteContact(contact)"
            />
          </div>
        </div>
        <ContactCreate
          @create="addContact"
        />
      </VFieldset>
    </form>
    <!-- Sticky buttons -->
    <div
      slot="footer"
      class="grid rows"
    >
      <div class="col col_6 col_sm-4 col_lg-3 col_xl-2 row">
        <VButton
          fluid
          @click="submit"
        >
          {{ $t('controls.save') }}
        </VButton>
      </div>
      <div class="col col_6 col_sm-4 col_lg-3 col_xl-2 row">
        <VButton
          theme="light"
          fluid
          @click="close"
        >
          Close
        </VButton>
      </div>
    </div>
  </Island>
</template>

<style lang="scss" type="text/scss"></style>
