<script>
  import SupplierForm from '@/modules/purchasing/components/SupplierForm';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const name = this.supplier ? this.supplier.name : '';
      const title = this.$t('pages.purchasing.suppliers.Edit.meta.title', { name });
      return {
        title,
      };
    },
    components: {
      SupplierForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        supplier: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.supplier) return [];

        return [
          {
            title: 'Purchasing',
          },
          {
            title: 'Suppliers',
            to: {
              name: 'Purchasing/Suppliers/List',
            },
          },
          {
            title: this.supplier.name,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/supply/suppliers/${route.params.supplierId}`)
          .then(({ data }) => {
            resolve({ supplier: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.supplier = deepClone(fields);
        this.loading = false;
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <SupplierForm
        :values="supplier"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
