<script>
  import page from '@/core/mixins/page';
  import pageWithRoutePlanner from '@/modules/logistic/mixins/pageWithRoutePlanner';

  export default {
    meta() {
      const title = this.$t('pages.logistic.RoutePlanner.meta.title');
      return {
        title,
      };
    },
    mixins: [
      page,
      pageWithRoutePlanner,
    ],
    data() {
      return {
        breadcrumbs: [
          {
            title: 'Logistic',
          },
          {
            title: 'Route planner',
          },
        ],
      };
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <Breadcrumbs :items="breadcrumbs"/>
    <RoutePlanner
      :center="center"
      :zoom="zoom"
      :scheduled-from="scheduledFrom"
      :scheduled-to="scheduledTo"
      :only-pending="onlyPending"
      @map-state="onPlannerMapState"
      @legs-filter-state="onPlannerLegsFilterState"
      @dirty="onPlannerDirty"
    />
  </div>
</template>

<style lang="scss" type="text/scss"></style>
