<script>
  import SalePriceForm from '@/modules/sales/components/SalePriceForm.vue';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const productName = this.price ? this.price.product.name : '';
      const title = this.$t('pages.sales.prices.Edit.meta.title', { productName });
      return {
        title,
      };
    },
    components: {
      SalePriceForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        price: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.price) return [];

        return [
          {
            title: 'Sales',
          },
          {
            title: 'Prices',
            to: {
              name: 'Sales/Prices/List',
            },
          },
          {
            title: this.price.product.name,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/sale/prices/${route.params.priceId}`)
          .then(({ data }) => {
            resolve({ price: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.price = deepClone(fields);
        this.loading = false;
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <SalePriceForm
        v-if="price"
        :values="price"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
