<script>
  import ButtonsGroup from '@/core/components/ButtonsGroup.vue';
  import InputSearch from '@/core/components/InputSearch.vue';
  import VButton from '@/core/components/VButton.vue';
  import VLink from '@/core/components/VLink.vue';
  import IconEdit from '@/assets/icons/material/edit.svg';
  import IconRefresh from '@/assets/icons/material/refresh.svg';
  import page from '@/core/mixins/page';
  import pageWithItemsList from '@/core/mixins/pageWithItemsList';

  export default {
    name: 'SalesPricesList',
    meta() {
      const title = this.$t('pages.sales.prices.List.meta.title');
      return {
        title,
      };
    },
    components: {
      ButtonsGroup,
      InputSearch,
      VButton,
      VLink,
      IconEdit,
      IconRefresh,
    },
    mixins: [page, pageWithItemsList],
    data() {
      return {
        apiEndpoint: '/sale/prices/',
        itemName: 'price',
        sortBy: 'createdAt',
        sortOrder: -1,
        filters: {},
        extraQueryParams: {},
        breadcrumbs: [
          {
            title: 'Sales',
          },
          {
            title: 'Prices',
          },
        ],
        tableHeaders: [
          {
            label: 'SKU',
            value: 'product.code',
            sortable: true,
          },
          {
            label: 'Name',
            value: 'product.name',
            sortable: true,
          },
          {
            label: 'Prices',
            sortable: false,
          },
          {
            label: '', // Actions
            sortable: false,
          },
        ],
      };
    },
    beforeMount() {
      const pageSize = this.getPageSize('sales.prices.pageSize');
      if (pageSize) {
        this.pageSize = pageSize;
      }
    },
    methods: {
      // Override pageWithItemsList mixins
      changePageSize(pageSize) {
        this.pageSize = pageSize;
        this.$store.dispatch('ui/setProperty', { path: 'sales.prices.pageSize', value: pageSize });
        this.paginateItems(1);
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <div class="grid grid_middle">
        <div class="col col_auto row text-h3">Prices</div>
        <div class="col col_12 col_md row">
          <ButtonsGroup>
            <VButton
              theme="light"
              square
              @click="fetchItems(true)"
            >
              <IconRefresh slot="icon"/>
            </VButton>
          </ButtonsGroup>
        </div>
        <div class="col col_12 col_lg-5 col_xl-4 row">
          <InputSearch
            v-model="search"
            placeholder="Search products"
            @input="searchItems"
            @reset="resetSearch"
          />
        </div>
      </div>
      <DataTable
        :loading="loading"
        :headers="tableHeaders"
        :items="items"
        :sort-by="sortBy"
        :sort-order="sortOrder"
        :internal-sort="false"
        track-by="id"
        @sort="sortItems"
      >
        <template
          v-slot:item="{ item }"
        >
          <td class="text-nowrap">
            <VLink
              :to="{ name: 'Sales/Prices/Edit', params: { priceId: item.id } }"
            >
              {{ item.product.code }}
            </VLink>
          </td>
          <td>
            <VLink
              :to="{ name: 'Sales/Prices/Edit', params: { priceId: item.id } }"
              silent
            >
              {{ item.product.name }}
            </VLink>
          </td>
          <td>
            <div v-if="item.prices && item.prices.length">
              <div
                v-for="(price, i) in item.prices"
                :key="`price-${i}`"
                class="text-light text-row text-nowrap"
              >
                {{ price.name }}: {{ price.value | toFixed(2) | splitDigits }} {{ price.currency }}
              </div>
            </div>
          </td>
          <td style="width: 1%;">
            <VButton
              :to="{ name: 'Sales/Prices/Edit', params: { priceId: item.id } }"
              theme="silent"
            >
              <IconEdit slot="icon"/>
              Edit
            </VButton>
          </td>
        </template>
        <div
          v-if="itemsCount"
          slot="after"
          class="grid grid_end"
        >
          <div class="col col_auto">
            <Paginator
              :pages="pages"
              :page-num="pageNum"
              :page-size="pageSize"
              @change-page-size="changePageSize"
              @paginate="paginateItems"
            />
          </div>
        </div>
      </DataTable>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
