<script>
  import { removeFromArray } from '@/core/helpers/utils';

  export default {
    props: {
      id: {
        type: [Number, String],
        required: true,
      },
      label: {
        type: [Number, String],
        default: '',
      },
      renderInactive: {
        type: Boolean,
        default: true,
      },
    },
    data() {
      return {};
    },
    computed: {
      active() {
        return this.id === this.tabs.activeId;
      },
    },
    watch: {
      active(val, oldVal) {
        if (val === oldVal) return;

        this.$emit(val ? 'activate' : 'deactivate');
      },
    },
    created() {
      this.registerTab();
    },
    beforeDestroy() {
      this.unregisterTab();
    },
    methods: {
      registerTab() {
        if (this.tabs.items.some(tab => tab.id === this.id)) {
          console.warn(`Duplicate tab id '${this.id}'`);
          return;
        }

        this.tabs.items.push({
          id: this.id,
          label: this.label,
        });
      },
      unregisterTab() {
        const tab = this.tabs.items.find(tab => tab.id === this.id);
        removeFromArray(this.tabs.items, tab);
      },
    },
    inject: ['tabs', 'uuid'],
  };
</script>

<template>
  <div
    v-if="active || renderInactive"
    v-show="active"
    :id="`tab-${id}-${uuid}`"
    :hidden="!active"
    :aria-labelledby="`${id}-${uuid}`"
    role="tabpanel"
    tabindex="0"
  >
    <slot/>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
