<script>
  import TweenMax from 'gsap/umd/TweenMax';

  import uuid from '@/core/mixins/uuid';

  // TODO:
  // Support router links
  // Display panels only if content exist
  // props, listeners, watch for them
  // icon, disabled
  // https://github.com/vuematerial/vue-material/blob/dev/src/components/MdTabs/MdTab.vue#L51

  const SCROLL_OFFSET = 20;

  export default {
    mixins: [uuid],
    props: {
      activeTabId: {
        type: [Number, String],
        default: '',
      },
    },
    data() {
      return {
        tabs: {
          items: [],
          activeId: '',
        },
        lineStyle: {
          left: 0,
          width: 0,
        },
      };
    },
    computed: {
      activeTabIndex() {
        const id = this.tabs.activeId;
        return this.tabs.items.findIndex(tab => tab.id === id);
      },
    },
    watch: {
      activeTabId(val, oldVal) {
        if (val === oldVal) return;
        this.activateTabById(val);
      },
      'tabs.items': {
        handler() {
          this.$nextTick(() => {
            this.adjustByActive();
          });
        },
      },
    },
    mounted() {
      this.activateTabById(this.activeTabId);
    },
    methods: {
      activateTabByIndex(index) {
        if (!this.tabs.items[index]) return;
        this.tabs.activeId = this.tabs.items[index].id;
        this.$emit('change', this.tabs.activeId);

        this.$nextTick(() => {
          this.adjustByActive();
        });
      },
      activateTabById(id) {
        const tab = this.tabs.items.find(tab => tab.id === id);
        this.tabs.activeId = tab ? tab.id : this.tabs.items[0].id;
        this.$emit('change', this.tabs.activeId);

        this.$nextTick(() => {
          this.adjustByActive();
        });
      },
      isTabActive(index) {
        return index === this.activeTabIndex;
      },
      adjustByActive() {
        // Set line position
        const tablistEl = this.$refs.tablist;
        if (!tablistEl) return;

        const tabEls = tablistEl.children;
        const tabEl = tabEls[this.activeTabIndex];

        if (!tabEl) {
          this.lineStyle.left = 0;
          this.lineStyle.width = 0;
          return;
        }

        const tabBox = tabEl.getBoundingClientRect();
        const left = tabBox.left - tablistEl.getBoundingClientRect().left;
        const width = tabBox.width;

        this.lineStyle.left = `${left}px`;
        this.lineStyle.width = `${width}px`;
        tabEl.focus();

        // Adjust scroll
        const scrollEl = this.$refs.scroll;
        if (!scrollEl) return;

        const offsetLeft = scrollEl.scrollLeft - left + SCROLL_OFFSET;

        if (offsetLeft > 0) {
          this.scrollListTo(Math.max(scrollEl.scrollLeft - offsetLeft - SCROLL_OFFSET, 0));
          return;
        }

        const scrollBox = scrollEl.getBoundingClientRect();
        const offsetRight = (left + width) - scrollBox.width - scrollEl.scrollLeft + SCROLL_OFFSET;

        if (offsetRight > 0) {
          this.scrollListTo(scrollEl.scrollLeft + offsetRight + SCROLL_OFFSET);
        }
      },
      scrollListTo(value) {
        TweenMax.to(this.$refs.scroll, 0.3, {
          scrollLeft: value,
          ease: 'Quad.easeInOut',
        });
      },
      activateNextTab() {
        if (this.activeTabIndex >= this.tabs.items.length - 1) {
          this.activateTabByIndex(0);
          return;
        }

        this.activateTabByIndex(this.activeTabIndex + 1);
      },
      activatePrevTab() {
        if (this.activeTabIndex <= 0) {
          this.activateTabByIndex(this.tabs.items.length - 1);
          return;
        }

        this.activateTabByIndex(this.activeTabIndex - 1);
      },
    },
    provide() {
      return {
        tabs: this.tabs,
        uuid: this.uuid,
      };
    },
  };
</script>

<template>
  <div class="tabs">
    <div
      ref="scroll"
      v-scrollbar="{ suppressScrollX: false }"
      class="tabs__scroll"
    >
      <div class="tabs__scroll-inner">
        <div
          ref="tablist"
          class="tabs__list"
          role="tablist"
        >
          <button
            v-for="(tab, index) in tabs.items"
            :id="`${tab.id}-${uuid}`"
            :key="index"
            :tabindex="isTabActive(index) ? null : -1"
            :class="{ '_active': isTabActive(index) }"
            :aria-selected="isTabActive(index)"
            :aria-controls="`tab-${tab.id}-${uuid}`"
            type="button"
            role="tab"
            class="tabs__tab"
            @click="activateTabByIndex(index)"
            @keydown.right.prevent.self="activateNextTab"
            @keydown.left.prevent.self="activatePrevTab"
          >
            {{ tab.label }}
          </button>
        </div>
        <div
          :style="lineStyle"
          class="tabs__line"
        />
      </div>
    </div>
    <div class="tabs__panels">
      <slot/>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .tabs {
    &__scroll {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-bottom: 4px; // scrollbar height

      &-inner {
        display: inline-block;
        min-width: 100%;
      }
    }

    &__list {
      position: relative;
      display: flex;
      border-bottom: 1px solid $color-shade-300;
    }

    &__tab {
      @include reset-button;
      padding: 10px 5px;
      font-size: 13px;
      line-height: 18px;
      border-bottom: 2px solid transparent;
      margin-bottom: -1px;

      @include hover-active {
        border-bottom-color: $color-shade-400;
      }

      & + & {
        margin-left: 10px;
      }

      &:focus {
        color: $color-primary;
      }
    }

    &__line {
      position: absolute;
      bottom: 4px;
      left: 0;
      height: 2px;
      width: 36px;
      background: $color-primary;
      transition:
        left .2s ease,
        width .2s ease;
    }

    &__panels {
      margin-top: 15px;
    }
  }
</style>
