@mixin transition-on($transition-duration, $transition-function) {
  transition: color $transition-duration $transition-function, background $transition-duration $transition-function, border-color $transition-duration $transition-function, fill $transition-duration $transition-function, opacity $transition-duration $transition-function;
}

@mixin transition-off {
  transition: none;
}

@mixin animate($transition-duration: .3s, $transition-function: ease) {
  @include transition-on($transition-duration, $transition-function);

  @include hover-active {
    @include transition-off;
  }
}

@mixin fade-animate {
  opacity: 1;
  @include animate;

  @include hover-active {
    opacity: .8;
  }
}

