@mixin mac {
  @at-root html._mac #{&} {
    @content;
  }
}

@mixin win {
  @at-root html._win #{&} {
    @content;
  }
}

@mixin ie10-11 {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

@mixin retina {
  /* stylelint-disable */
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    @content;
  }
  /* stylelint-enable */
}

@mixin touch {
  html._touch {
    @content;
  }
}

@mixin no-touch {
  @at-root html:not(._touch) {
    @content;
  }
}
