/* stylelint-disable max-nesting-depth */
@mixin make-gutters($gutters: $grid-gutter-widths) {
  @each $breakpoint in map-keys($gutters) {
    @include breakpoint-up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      padding-right: ($gutter / 2);
      padding-left: ($gutter / 2);
    }
  }
}

@mixin make-container($gutters: $grid-gutter-widths) {
  margin-left: auto;
  margin-right: auto;
  @include make-gutters($gutters);
}

@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-max-width;
    }
  }
}

@mixin make-grid($gutters: $grid-gutter-widths, $breakpoints: $grid-breakpoints) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @each $breakpoint in map-keys($gutters) {
    @include breakpoint-up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      margin-right: ($gutter / -2);
      margin-left: ($gutter / -2);
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix-: breakpoint-infix($breakpoint, $breakpoints, "", "-");
    $gutter: map-get($gutters, $breakpoint);

    @include breakpoint-up($breakpoint) {
      &_#{$infix-}reverse {
        flex-direction: row-reverse !important;
      }

      &_#{$infix-}nowrap {
        flex-wrap: nowrap !important;
      }

      &_#{$infix-}wrap {
        flex-wrap: wrap !important;
      }

      &_#{$infix-}start {
        justify-content: flex-start;
      }

      &_#{$infix-}center {
        justify-content: center;
      }

      &_#{$infix-}end {
        justify-content: flex-end;
      }

      &_#{$infix-}between {
        justify-content: space-between;
      }

      &_#{$infix-}around {
        justify-content: space-around;
      }

      &_#{$infix-}top {
        align-items: flex-start;
      }

      &_#{$infix-}middle {
        align-items: center;
      }

      &_#{$infix-}bottom {
        align-items: flex-end;
      }

      &_#{$infix-}gapless {
        margin-left: 0 !important;
        margin-right: 0 !important;

        > * {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }
  }
}

@mixin make-col-ready($gutters: $grid-gutter-widths) {
  width: 100%;
  min-height: 1px;
  min-width: 0;
  @include make-gutters($gutters);
}

@mixin make-col($size, $columns: $grid-columns) {
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size / $columns);
}

@mixin make-col-offset($size, $columns: $grid-columns) {
  $num: $size / $columns;
  margin-left: if($num == 0, 0, percentage($num));
}

@mixin generate-grid-classes($columns: $grid-columns, $gutters: $grid-gutter-widths, $breakpoints: $grid-breakpoints, $grid-class: grid, $col-class: col) {
  .#{$grid-class} {
    @include make-grid($gutters, $breakpoints);
  }

  .#{$col-class} {
    @include make-col-ready($gutters);
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix-: breakpoint-infix($breakpoint, $breakpoints, "", "-");
    $_infix: breakpoint-infix($breakpoint, $breakpoints, "_", "");

    @include breakpoint-up($breakpoint, $breakpoints) {
      .#{$col-class}#{$_infix} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }

      .#{$col-class}_#{$infix-}auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
      }

      @for $i from 1 through $columns {
        .#{$col-class}_#{$infix-}#{$i} {
          @include make-col($i, $columns);
        }
      }

      .#{$col-class}_#{$infix-}self-top {
        align-self: flex-start;
      }

      .#{$col-class}_#{$infix-}self-middle {
        align-self: center;
      }

      .#{$col-class}_#{$infix-}self-bottom {
        align-self: flex-end;
      }

      .#{$col-class}_#{$infix-}self-start {
        justify-self: start;
      }

      .#{$col-class}_#{$infix-}self-center {
        justify-self: center;
      }

      .#{$col-class}_#{$infix-}self-end {
        justify-self: end;
      }

      .#{$col-class}_#{$infix-}self-stretch {
        justify-self: stretch;
      }

      .#{$col-class}_#{$infix-}filled {
        display: flex;
        flex-direction: column;

        > * {
          flex: 1 0 auto;
        }
      }

      .#{$col-class}_#{$infix-}first {
        order: -1;
      }

      .#{$col-class}_#{$infix-}last {
        order: $columns + 1;
      }

      @for $i from 0 through $columns {
        .#{$col-class}_#{$infix-}order-#{$i} {
          order: $i;
        }
      }

      @for $i from 0 through ($columns - 1) {
        @if not ($infix- == "" and $i == 0) {
          .#{$col-class}_#{$infix-}offset-#{$i} {
            @include make-col-offset($i, $columns);
          }
        }
      }
    }
  }
}

/* stylelint-enable max-nesting-depth */
