// Hover only for no-touch devices

@mixin hover {
  // @media (hover: hover) {
  //  &:hover { @content }
  // }
  @at-root html:not(._touch) &:hover {
    @content;
  }
}

@mixin active {
  @at-root {
    html:not(._touch) &:active,
    html._touch &:active {
      @content;
    }
  }
}

@mixin hover-active {
  @at-root {
    &:active,
    html:not(._touch) &:hover {
      @content;
    }
  }
}
