@mixin coverer() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin centerer() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin v-centerer() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin h-centerer() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
