@mixin reset-button() {
  display: inline-block;
  appearance: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  user-select: none;
  overflow: visible;
  text-align: center;
  font-family: $font-family-base;
}

@mixin reset-list-item() {
  padding-left: 0;
  list-style: none;
}

@mixin reset-input() {
  appearance: none;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  border: none;
  font-family: $font-family-base;
  padding: 0;

  // Remove search cancel button in WebKit
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button {
    display: none;
  }

  // Remove search cancel button and password field indicator in IE 10+
  &::-ms-clear {
    display: none;
  }

  &::-ms-reveal {
    display: none;
  }
}

@mixin reset-select() {
  outline: none;
  appearance: none;
  border-radius: 0;
  background: none;

  &::-ms-expand {
    display: none;
  }
}
