<script>
  import { required } from 'vuelidate/lib/validators';

  import InputAddress from '@/core/components/InputAddress';
  import form from '@/core/mixins/form';
  import TIMEZONES from '@/core/constants/timezones';
  import CURRENCIES from '@/core/constants/currencies';

  // TODO: Date format

  export default {
    components: {
      InputAddress,
    },
    mixins: [form],
    data() {
      return {
        fields: {
          name: '',
          address: null,
          baseCurrency: CURRENCIES.USD,
          currencies: [CURRENCIES.USD],
          timezone: '',
          uom: {
            size: '',
            volume: '',
            weight: '',
          },
        },
        timezones: TIMEZONES,
        currencies: Object.keys(CURRENCIES),
      };
    },
    computed: {
      country() {
        return '';
      },
    },
    validations() {
      return {
        fields: {
          address: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
        },
      };
    },
    methods: {
      submit() {
        if (this.sending) return;
        if (!this.validate()) return;

        this.$emit('submit');
        this.sending = true;

        // TODO: add baseCurrency to currencies

        setTimeout(() => {
          this.sending = false;
          this.$toasts.push({
            theme: 'success',
            text: 'Account settings updated successfully',
          });
          this.fill();
          this.$emit('success');
        }, 1500);
      },
    },
  };
</script>

<template>
  <form
    novalidate
    @submit.prevent="submit"
  >
    <!-- Main -->
    <VFieldset title="Main">
      <Grid>
        <GridCol
          mods="12 md-4 lg-6 xl-4"
          class="row"
        >
          <InputText
            v-model="fields.name"
            :invalid="isFieldInvalid('name')"
            :errors="getFieldErrorMessages('name')"
            label="Name"
          />
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-9 xl-6"
          class="row"
        >
          <InputAddress
            v-model="fields.address"
            :invalid="isFieldInvalid('address')"
            :errors="getFieldErrorMessages('address')"
            label="Address"
          />
        </GridCol>
      </Grid>
      <Grid>
        <GridCol
          mods="12 md-4 lg-6 xl-4"
          class="row"
        >
          <Multiselect
            v-model="fields.timezone"
            :invalid="isFieldInvalid('timezone')"
            :errors="getFieldErrorMessages('timezone')"
            :options="timezones"
            :searchable="true"
            :allow-empty="false"
            label="Timezone"
          />
        </GridCol>
      </Grid>
      <Grid class="rows">
        <GridCol
          mods="6 md-2 lg-3 xl-2"
          class="row"
        >
          <Multiselect
            v-model="fields.baseCurrency"
            :invalid="isFieldInvalid('baseCurrency')"
            :errors="getFieldErrorMessages('baseCurrency')"
            :options="currencies"
            :searchable="false"
            :allow-empty="false"
            label="Base currency"
          />
        </GridCol>
        <GridCol
          mods="12 md-4 lg-6 xl-4"
          class="row"
        >
          <Multiselect
            v-model="fields.currencies"
            :invalid="isFieldInvalid('currencies')"
            :errors="getFieldErrorMessages('currencies')"
            :options="currencies"
            :searchable="false"
            :allow-empty="true"
            :multiple="true"
            label="Allowed currencies"
          />
        </GridCol>
      </Grid>
    </VFieldset>
    <!-- UOM -->
    <VFieldset title="Units of measure">
      <Grid class="rows">
        <GridCol
          mods="6 md-4 lg-3"
          class="row"
        >
          <Multiselect
            v-model="fields.uom.size"
            :invalid="isFieldInvalid('uom.size')"
            :errors="getFieldErrorMessages('uom.size')"
            :options="[]"
            :searchable="false"
            :allow-empty="false"
            label="Size"
          />
        </GridCol>
        <GridCol
          mods="6 md-4 lg-3"
          class="row"
        >
          <Multiselect
            v-model="fields.uom.weight"
            :invalid="isFieldInvalid('uom.weight')"
            :errors="getFieldErrorMessages('uom.weight')"
            :options="[]"
            :searchable="false"
            :allow-empty="false"
            label="Weight"
          />
        </GridCol>
        <GridCol
          mods="6 md-4 lg-3"
          class="row"
        >
          <Multiselect
            v-model="fields.uom.volume"
            :invalid="isFieldInvalid('uom.volume')"
            :errors="getFieldErrorMessages('uom.volume')"
            :options="[]"
            :searchable="false"
            :allow-empty="false"
            label="Volume"
          />
        </GridCol>
      </Grid>
    </VFieldset>
    <!-- Controls -->
    <VFieldset>
      <Grid class="rows">
        <GridCol
          mods="12 sm-6 md-4 lg-3"
          class="row"
        >
          <VButton
            type="submit"
            fluid
          >
            {{ $t('controls.save') }}
          </VButton>
        </GridCol>
      </Grid>
    </VFieldset>
  </form>
</template>

<style lang="scss" type="text/scss"></style>
