<script>
  import { required, email } from 'vuelidate/lib/validators';

  import form from '@/core/mixins/form';
  import { PARTNER_TYPES } from '@/modules/account/constants/invitation';

  export default {
    mixins: [form],
    data() {
      return {
        fields: {
          partnerType: PARTNER_TYPES.CARRIER,
          contact: {
            name: '',
            type: 'EMAIL',
            id: '',
          },
          note: '',
        },
        email: '',
        phone: '',
        partnerTypes: Object.keys(PARTNER_TYPES),
      };
    },
    validations() {
      const rules = {
        fields: {
          contact: {
            id: {
              required: this.createValidationRule(required, this.$t('forms.validations.required')),
            },
          },
        },
      };

      if (this.fields.contact.type === 'EMAIL') {
        rules.fields.contact.id.email = (
          this.createValidationRule(email, this.$t('forms.validations.email'))
        );
      }

      return rules;
    },
    watch: {
      // Cache and restore contact.id input
      /* eslint-disable-next-line func-names */
      'fields.contact.type': function (val, oldVal) {
        if (val === oldVal) return;

        if (val === 'EMAIL') {
          this.phone = this.fields.contact.id;
          this.fields.contact.id = this.email;
        } else if (val === 'PHONE') {
          this.email = this.fields.contact.id;
          this.fields.contact.id = this.phone;
        }
      },
    },
    methods: {
      submit() {
        if (this.sending) return;
        if (!this.validate()) return;

        this.$emit('submit');
        this.sending = true;

        this.$api.post('/account/invitations', this.fields)
          .then(() => {
            this.sending = false;
            this.$toasts.push({
              theme: 'success',
              text: 'Invitations send successfully',
            });
            this.$emit('success');
          })
          .catch((err) => {
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
      getPartnerTypeLabel(type) {
        // TODO: i18n
        const labels = {
          [PARTNER_TYPES.CUSTOMER]: 'Customer',
          [PARTNER_TYPES.SUPPLIER]: 'Supplier',
          [PARTNER_TYPES.CARRIER]: 'Carrier',
          [PARTNER_TYPES.DRIVER]: 'Driver',
        };

        return labels[type] || type;
      },
      i18n(path, params) {
        return this.$t(`components.FormAccountInvitation.${path}`, params);
      },
    },
  };
</script>

<template>
  <form
    novalidate
    @submit.prevent="submit"
  >
    <Grid>
      <GridCol
        mods="12 sm-4"
        class="row"
      >
        <Multiselect
          v-model="fields.partnerType"
          :invalid="isFieldInvalid('partnerType')"
          :errors="getFieldErrorMessages('partnerType')"
          :options="partnerTypes"
          :searchable="false"
          :allow-empty="false"
          :option-label="getPartnerTypeLabel"
          :label="i18n('labels.partnerType')"
        />
      </GridCol>
      <GridCol
        mods="12 sm-8"
        class="row"
      >
        <InputText
          v-model="fields.contact.name"
          :invalid="isFieldInvalid('contact.name')"
          :errors="getFieldErrorMessages('contact.name')"
          :label="i18n('labels.contact.name')"
        />
      </GridCol>
    </Grid>
    <Grid>
      <GridCol
        mods="12 sm-4"
        class="row"
      >
        <RadioGroup
          :invalid="isFieldInvalid('contact.type')"
          :errors="getFieldErrorMessages('contact.type')"
          :label="i18n('labels.contact.type')"
        >
          <Radio
            v-model="fields.contact.type"
            val="EMAIL"
          >
            Email
          </Radio>
          <Radio
            v-model="fields.contact.type"
            val="PHONE"
          >
            Phone
          </Radio>
        </RadioGroup>
      </GridCol>
      <GridCol
        mods="12 sm-8"
        class="row"
      >
        <InputText
          v-model="fields.contact.id"
          :invalid="isFieldInvalid('contact.id')"
          :errors="getFieldErrorMessages('contact.id')"
          :label="i18n(`labels.contact.${fields.contact.type.toLowerCase()}`)"
          :type="fields.contact.type.toLowerCase()"
        />
      </GridCol>
    </Grid>
    <div class="row">
      <InputText
        v-model="fields.note"
        :invalid="isFieldInvalid('note')"
        :errors="getFieldErrorMessages('note')"
        :label="i18n('labels.note')"
        type="textarea"
      />
    </div>
    <!-- Controls -->
    <ButtonsGroup>
      <VButton
        type="submit"
        fluid
      >
        {{ $t('controls.send') }}
      </VButton>
      <VButton
        theme="light"
        fluid
        @click="cancel"
      >
        {{ $t('controls.cancel') }}
      </VButton>
    </ButtonsGroup>
  </form>
</template>

<style lang="scss" type="text/scss"></style>
