<script>
  import { required, email } from 'vuelidate/lib/validators';

  import Separator from '@/core/components/Separator.vue';
  import Island from '@/core/components/Island.vue';
  import IconDelete from '@/assets/icons/material/delete.svg';
  import IconPlus from '@/assets/icons/plus.svg';
  import form from '@/core/mixins/form';
  import { passwordStrength } from '@/core/validators';
  import { deepClone } from '@/core/helpers/utils';

  const CONTACT_TYPES = ['EMAIL', 'PHONE'];
  const CONTACT_MODEL = {
    type: CONTACT_TYPES[0],
    id: '',
    label: '',
  };

  export default {
    components: {
      Island,
      Separator,
      IconDelete,
      IconPlus,
    },
    mixins: [form],
    data() {
      return {
        fields: {
          id: '',
          accountId: '',
          userName: '',
          password: '',
          firstName: '',
          lastName: '',
          roles: ['Admin'],
          contacts: [],
        },
        availableContactTypes: CONTACT_TYPES,
      };
    },
    validations() {
      const rules = {
        fields: {
          userName: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
            email: this.createValidationRule(email, this.$t('forms.validations.email')),
          },
          firstName: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
          lastName: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
          contacts: {
            $each: {
              id: {
                required: this.createValidationRule(required, this.$t('forms.validations.required')),
              },
            },
          },
        },
      };

      if (!this.fields.id) {
        rules.fields.password = {
          required: this.createValidationRule(required, this.$t('forms.validations.required')),
          passwordStrength: this.createValidationRule(passwordStrength, this.$t('forms.validations.passwordStrength')),
        };
      }

      return rules;
    },
    methods: {
      submit() {
        if (this.sending) return;
        if (!this.validate()) return;

        this.$emit('submit');
        this.sending = true;

        const payload = {
          userName: this.fields.userName,
          firstName: this.fields.firstName,
          lastName: this.fields.lastName,
          roles: this.fields.roles,
          contacts: this.fields.contacts,
        };

        if (this.fields.id) {
          payload.id = this.fields.id;
          payload.accountId = this.fields.accountId;
        } else {
          payload.password = this.fields.password;
        }

        const request = this.fields.id
          ? this.$api.put(`/account/users/${this.fields.id}`, payload)
          : this.$api.post('/account/users', payload);

        request
          .then(({ data }) => {
            this.sending = false;
            this.fill(data);
            this.$toasts.push({
              theme: 'success',
              text: 'User saved',
            });
            this.$emit('success', deepClone(this.fields));
          })
          .catch((err) => {
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
      close() {
        const listName = 'Account/Users/List';
        if (this.$store.state.route.from.name === listName) {
          this.$router.go(-1);
        } else {
          this.$router.push({
            name: listName,
          });
        }
      },
      getContactTypeLabel(type) {
        // TODO: i18n
        const labels = {
          EMAIL: 'E-mail',
          PHONE: 'Phone',
        };
        return labels[type];
      },
      addContact() {
        const length = this.fields.contacts.push(deepClone(CONTACT_MODEL));

        const validationModel = this.$v.fields.contacts.$each[length - 1];
        if (validationModel) {
          validationModel.$reset();
        }
      },
      removeContact(index) {
        if (!this.fields.contacts[index]) return;

        this.fields.contacts.splice(index, 1);

        const validationModel = this.$v.fields.contacts.$each[index];
        if (validationModel) {
          validationModel.$reset();
        }
      },
    },
  };
</script>

<template>
  <Island sticky-footer>
    <form
      novalidate
      @submit.prevent="submit"
    >
      <VFieldset>
        <div class="row text-h4">User</div>
        <Grid>
          <GridCol
            mods="12 sm-6 md-4"
            class="row"
          >
            <InputText
              v-model.trim="fields.userName"
              :invalid="isFieldInvalid('userName')"
              :errors="getFieldErrorMessages('userName')"
              type="email"
              label="E-mail"
            />
          </GridCol>
          <GridCol
            v-if="!fields.id"
            mods="12 sm-6 md-4"
            class="row"
          >
            <InputPassword
              v-model.trim="fields.password"
              :invalid="isFieldInvalid('password')"
              :errors="getFieldErrorMessages('password')"
              label="Password"
            />
          </GridCol>
        </Grid>
        <Grid class="rows">
          <GridCol
            mods="12 sm-6 md-4"
            class="row"
          >
            <InputText
              v-model="fields.firstName"
              :invalid="isFieldInvalid('firstName')"
              :errors="getFieldErrorMessages('firstName')"
              label="First name"
            />
          </GridCol>
          <GridCol
            mods="12 sm-6 md-4"
            class="row"
          >
            <InputText
              v-model="fields.lastName"
              :invalid="isFieldInvalid('lastName')"
              :errors="getFieldErrorMessages('lastName')"
              label="Last name"
            />
          </GridCol>
        </Grid>
      </VFieldset>
      <VFieldset title="Contacts">
        <div
          v-for="(contact, i) in fields.contacts"
          :key="`contact-${i}`"
        >
          <Grid class="rows">
            <GridCol
              mods="12 sm-4 md-3"
              class="row"
            >
              <Multiselect
                v-model="fields.contacts[i].type"
                :invalid="isFieldInvalid(`contacts.$each[${i}].type`)"
                :errors="getFieldErrorMessages(`contacts.$each[${i}].type`)"
                :options="availableContactTypes"
                :searchable="false"
                :allow-empty="false"
                :option-label="getContactTypeLabel"
                label="Type"
              />
            </GridCol>
            <GridCol
              mods="12 sm-8 md-5"
              class="row"
            >
              <InputText
                v-model="fields.contacts[i].id"
                :invalid="isFieldInvalid(`contacts.$each[${i}].id`)"
                :errors="getFieldErrorMessages(`contacts.$each[${i}].id`)"
                label="Value"
              />
            </GridCol>
            <GridCol
              mods="12 md-8"
              class="row"
            >
              <Grid mods="bottom">
                <GridCol>
                  <InputText
                    v-model="fields.contacts[i].label"
                    :invalid="isFieldInvalid(`contacts.$each[${i}].label`)"
                    :errors="getFieldErrorMessages(`contacts.$each[${i}].label`)"
                    label="Label"
                  />
                </GridCol>
                <GridCol mods="auto">
                  <VButton
                    slot="addon"
                    theme="silent"
                    round
                    @click="removeContact(i)"
                  >
                    <IconDelete slot="icon"/>
                  </VButton>
                </GridCol>
              </Grid>
            </GridCol>
          </Grid>
          <Separator/>
        </div>
        <div
          v-if="fields.contacts.length < 10"
          class="row"
        >
          <VButton
            theme="light"
            @click="addContact"
          >
            <IconPlus slot="icon"/>
            Add contact
          </VButton>
        </div>
      </VFieldset>
    </form>
    <Grid
      slot="footer"
      class="rows"
    >
      <GridCol
        mods="6 sm-4 lg-3 xl-2"
        class="row"
      >
        <VButton
          fluid
          @click="submit"
        >
          {{ $t('controls.save') }}
        </VButton>
      </GridCol>
      <GridCol
        mods="6 sm-4 lg-3 xl-2"
        class="row"
      >
        <VButton
          theme="light"
          fluid
          @click="close"
        >
          Close
        </VButton>
      </GridCol>
    </Grid>
  </Island>
</template>

<style lang="scss" type="text/scss"></style>
