<script>
  import { required } from 'vuelidate/lib/validators';

  import InputAddress from '@/core/components/InputAddress';
  import form from '@/core/mixins/form';

  export default {
    components: {
      InputAddress,
    },
    mixins: [form],
    props: {
      id: {
        type: [String, Number],
        default: '',
      },
      accountId: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        fields: {
          name: '',
          address: null,
        },
      };
    },
    validations() {
      return {
        fields: {
          address: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
        },
      };
    },
    methods: {
      submit() {
        if (this.sending) return;
        if (!this.validate()) return;

        this.$emit('submit');
        this.sending = true;

        const data = this.id
          ? Object.assign({}, this.fields, { id: this.id, accountId: this.accountId })
          : this.fields;

        const request = this.id
          ? this.$store.dispatch('warehouse/update', { id: this.id, data })
          : this.$store.dispatch('warehouse/create', data);

        request
          .then((data) => {
            this.sending = false;
            this.fill(data);
            this.$toasts.push({
              theme: 'success',
              text: this.id ? 'Warehouse updated successfully' : 'Warehouse created successfully',
            });
            this.$emit('success', data);
          })
          .catch((err) => {
            this.parseServerErrorResponse(err);
            this.sending = false;
            this.$toasts.push({
              theme: 'danger',
              text: this.serverError.message,
            });
            this.$emit('fail');
          });
      },
      i18n(path, params) {
        return this.$t(`components.FormWarehouse.${path}`, params);
      },
    },
  };
</script>

<template>
  <form
    novalidate
    @submit.prevent="submit"
  >
    <div class="row">
      <InputText
        v-model="fields.name"
        :invalid="isFieldInvalid('name')"
        :errors="getFieldErrorMessages('name')"
        :label="i18n('labels.name')"
      />
    </div>
    <div class="row">
      <InputAddress
        v-model="fields.address"
        :invalid="isFieldInvalid('address')"
        :errors="getFieldErrorMessages('address')"
        :label="i18n('labels.address')"
      />
    </div>
    <ButtonsGroup>
      <VButton
        type="submit"
      >
        {{ $t('controls.save') }}
      </VButton>
      <VButton
        theme="danger"
        @click="cancel"
      >
        {{ $t('controls.cancel') }}
      </VButton>
    </ButtonsGroup>
  </form>
</template>

<style lang="scss" type="text/scss"></style>
