<script>
  import { DateTime } from 'luxon';

  import IconTime from '@/assets/icons/material/access_time.svg';

  import mixin from './mixin';

  const BASE_DATE_FORMAT = 'dd.MM.yyyy';

  export default {
    components: {
      IconTime,
    },
    mixins: [mixin],
    props: {
      baseDate: {
        type: [String, Number],
        default: Date.now(),
        // TODO validate, timestamp or ISO 8601
      },
      interval: {
        type: Number,
        default: 900,
      },
    },
    data() {
      return {
        displayFormat: 'HH:mm',
      };
    },
    computed: {
      baseDateString() {
        if (this.isStringValueType) return '';

        let dateTime = DateTime.fromJSDate(new Date(this.baseDate));

        if (dateTime.invalid) {
          console.error(`Invalid baseDate '${this.value}', timestamp or ISO 8601 expected.`);
          return '';
        }

        if (this.timezone && dateTime.zoneName !== this.timezone && this.isTimezoneValid) {
          dateTime = dateTime.setZone(this.timezone);
        }

        return dateTime.toFormat(BASE_DATE_FORMAT);
      },
      options() {
        // TODO: validate and normalize interval
        // TODO: support seconds
        const interval = parseInt(this.interval, 10);
        const count = 86400 / interval;
        const options = [];

        for (let i = 0; i <= count; i++) {
          const s = interval * i;

          const hours = Math.floor(s / 3600);
          const minutes = Math.floor((s % 3600) / 60);
          // const seconds = Math.floor((s % 3600) % 60);

          let hh = `0${hours}`.slice(-2);
          if (hh === '24') {
            hh = '00';
          }

          const mm = `0${minutes}`.slice(-2);
          options.push(`${hh}:${mm}`);
        }

        return options;
      },
      // Override mixin
      mask() {
        return {
          mask: '00:00',
        };
      },
      maskPlaceholder() {
        return '00:00';
      },
    },
    watch: {
      baseDate(val, oldVal) {
        if (val === oldVal) return;
        this.handleInput(this.stringValue);
      },
    },
    methods: {
      handleInput(value) {
        this.inputValue = value || '';

        // Use input as is or user cleared input
        if (this.isStringValueType || !value) {
          this.mutableValue = value || '';
          this.emitInput();
          return;
        }

        // Parse time with baseDate
        const format = `${BASE_DATE_FORMAT} ${this.displayFormat}`;
        let dateTime = DateTime.fromFormat(`${this.baseDateString} ${value}`, format);

        if (dateTime.invalid) {
          this.mutableValue = '';
          this.emitInput();
          return;
        }

        // Set timezone
        if (this.timezone && dateTime.zoneName !== this.timezone && this.isTimezoneValid) {
          dateTime = dateTime.setZone(this.timezone, { keepLocalTime: true });
        }

        this.mutableValue = this.isTimestampValueType ? dateTime.toMillis() : dateTime.toISO();
        this.emitInput();
      },
    },
  };
</script>

<template>
  <InputText
    ref="input"
    :value="displayValue"
    :mask="mask"
    :unmask="false"
    :mask-placeholder="maskPlaceholder"
    :options="options"

    :placeholder="displayPlaceholder"
    :name="name"
    :required="required"
    :disabled="disabled"
    :readonly="readonly"
    :loading="loading"
    :invalid="invalid"
    :errors="errors"
    :label="label"
    :advice="advice"
    :autofocus="autofocus"

    @input="handleInput"
    @focus="onFocus"
    @blur="onBlur"
  >
    <IconTime slot="icon"/>
  </InputText>
</template>

<style lang="scss" type="text/scss"></style>
