<script>
  import Pikaday from 'pikaday/';
  import { DateTime } from 'luxon';

  import IconDate from '@/assets/icons/material/today.svg';

  import mixin from './mixin';

  const HH_MM_REGEXP = /^([0-1][0-9]|2[0-3]):([0-5][0-9])$/;
  const HH_MM_SS_REGEXP = /^([0-1][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])$/;

  export default {
    components: {
      IconDate,
    },
    mixins: [mixin],
    props: {
      baseTime: {
        type: String,
        default: '00:00',
        validator: value => !value || HH_MM_REGEXP.test(value) || HH_MM_SS_REGEXP.test(value),
      },
    },
    data() {
      return {
        calendar: null,
      };
    },
    computed: {
      isBaseTimeValid() {
        return HH_MM_REGEXP.test(this.baseTime) || HH_MM_SS_REGEXP.test(this.baseTime);
      },
      baseTimeFormat() {
        return HH_MM_SS_REGEXP.test(this.baseTime)
          ? 'HH:mm:ss'
          : 'HH:mm';
      },
      normalizedBaseTime() {
        return this.baseTime.replace(/^24/, '00');
      },
    },
    watch: {
      mutableValue() {
        this.setCalendarDate();
      },
    },
    beforeDestroy() {
      this.destroyCalendar();
    },
    methods: {
      handleInput(value) {
        this.inputValue = value || '';

        // Use input as is or user cleared input
        if (this.isStringValueType || !value) {
          this.mutableValue = value || '';
          this.emitInput();
          return;
        }

        // Parse date
        let format = this.displayFormat;
        let val = value;

        if (this.isBaseTimeValid) {
          format += ` ${this.baseTimeFormat}`;
          val += ` ${this.normalizedBaseTime}`;
        }

        let dateTime = DateTime.fromFormat(val, format);

        if (dateTime.invalid) {
          this.mutableValue = '';
          this.emitInput();
          return;
        }

        // Set timezone
        if (this.timezone && dateTime.zoneName !== this.timezone && this.isTimezoneValid) {
          dateTime = dateTime.setZone(this.timezone, { keepLocalTime: true });
        }

        this.mutableValue = this.isTimestampValueType ? dateTime.toMillis() : dateTime.toISO();
        this.emitInput();
      },
      initCalendar() {
        this.calendar = new Pikaday({
          field: this.$refs.calendarInput,
          firstDay: 1,
          bound: false,
          keyboardInput: false,
          container: this.$refs.calendar,
          toString: (date) => {
            if (!date) return '';
            const dateTime = DateTime.fromJSDate(date);
            return dateTime.toFormat(this.displayFormat);
          },
          parse: (dateString) => {
            if (!dateString) return null;
            const dateTime = DateTime.fromFormat(dateString, this.displayFormat);
            return dateTime.toJSDate();
          },
          onSelect: (date) => {
            const dateTime = DateTime.fromJSDate(date);
            this.handleInput(dateTime.toFormat(this.displayFormat));
          },
        });
        this.setCalendarDate();
      },
      destroyCalendar() {
        if (!this.calendar) return;
        this.calendar.destroy();
        this.calendar = null;
      },
      setCalendarDate() {
        if (!this.calendar) return;

        let value;

        if (!this.mutableValue) {
          value = '';
        } else if (this.isStringValueType) {
          const dateTime = DateTime.fromFormat(this.mutableValue, this.displayFormat);
          value = dateTime.toJSDate();
        } else {
          value = new Date(this.mutableValue);
        }

        this.calendar.setDate(value, true);
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div class="input-date">
    <InputText
      ref="input"
      :value="displayValue"
      :mask="mask"
      :unmask="false"
      :mask-placeholder="maskPlaceholder"

      :placeholder="displayPlaceholder"
      :name="name"
      :required="required"
      :disabled="disabled"
      :readonly="readonly"
      :loading="loading"
      :invalid="invalid"
      :errors="errors"
      :label="label"
      :advice="advice"
      :autofocus="autofocus"

      @input="handleInput"
      @focus="onFocus"
      @blur="onBlur"
      @drop-activate="initCalendar"
      @drop-deactivated="destroyCalendar"
    >
      <IconDate slot="icon"/>
      <div slot="drop">
        <input
          ref="calendarInput"
          type="hidden"
        >
        <div
          ref="calendar"
          class="input-date__calendar"
        />
      </div>
    </InputText>
  </div>
</template>

<style lang="scss" type="text/scss">
  /* eslint-disable */
  .input-date {
    &__calendar {
      height: 192px;
    }
  }

  // Pikaday styles

  $pd-day-disabled-color: #999 !default;
  $pd-week-color: #999 !default;
  $pd-inrange-color: #666 !default;
  $pd-inrange-bg: #D5E9F7 !default;
  $pd-startrange-color: #fff !default;
  $pd-startrange-bg: #6CB31D !default;
  $pd-endrange-color: #fff !default;
  $pd-endrange-bg: #33aaff !default;

  .pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: $color-ui;

    &.is-hidden {
      display: none;
    }

    &.is-bound {
      position: absolute;
    }
  }

  .pika-lendar {
    width: 100%;
    min-width: 200px;
  }

  .pika-title {
    position: relative;
    text-align: center;

    select {
      cursor: pointer;
      position: absolute;
      z-index: 9998;
      margin: 0;
      left: 0;
      top: 5px;
      opacity: 0;
    }
  }

  .pika-label {
    display: inline-block;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: $color-ui;
    background-color: #fff;
  }

  .pika-prev,
  .pika-next {
    @include reset-button;
    position: relative;
    display: block;
    width: 20px;
    height: 30px;
    font-size: 0;

    &.is-disabled {
      cursor: default;
      opacity: .2;
    }

    &::before {
      content: "";
      @include centerer;
      width: 0;
      height: 0;
      border-style: solid;

    }
  }

  .pika-prev,
  .is-rtl .pika-next {
    float: left;

    &::before {
      border-width: 4px 6px 4px 0;
      border-color: transparent $color-ui transparent transparent;
    }
  }

  .pika-next,
  .is-rtl .pika-prev {
    float: right;
    &::before {
      border-width: 4px 0 4px 6px;
      border-color: transparent transparent transparent $color-ui;
    }
  }

  .pika-select {
    display: inline-block;
  }

  .pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;

    th,
    td {
      width: 14.285714285714286%;
      padding: 0;
    }

    th {
      color: $color-shade-500;
      font-size: 12px;
      line-height: 25px;
      font-weight: bold;
      text-align: center;
    }

    td {
      border: 1px solid $color-shade-200;
    }

    abbr {
      border: none;
      text-decoration: none;
      font-weight: 300;
      color: $color-shade-500;
    }
  }

  .pika-button {
    @include reset-button;
    display: block;
    font-family: $font-family-base;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: $color-ui;
    font-size: 12px;
    line-height: 15px;

    .is-today & {
      font-weight: bold;
    }

    .is-selected &,
    .is-selected &:hover{
      color: #fff;
      background: $color-primary;
    }

    .is-disabled &,
    .is-outside-current-month & {
      color: $pd-day-disabled-color;
      opacity: .3;
    }

    .is-disabled & {
      pointer-events: none;
      cursor: default;
    }

    &:hover {
      background: $color-shade-300;
    }

    .is-selection-disabled {
      pointer-events: none;
      cursor: default;
    }
  }

  .pika-week {
    font-size: 11px;
    color: $pd-week-color;
  }

  .is-inrange .pika-button {
    color: $pd-inrange-color;
    background: $pd-inrange-bg;
  }

  .is-startrange .pika-button {
    color: $pd-startrange-color;
    background: $pd-startrange-bg;
    box-shadow: none;
    border-radius: 3px;
  }

  .is-endrange .pika-button {
    color: $pd-endrange-color;
    background: $pd-endrange-bg;
    box-shadow: none;
    border-radius: 3px;
  }
</style>
