<script>
  import { DateTime } from 'luxon';

  import FieldAdvice from '@/core/components/FieldAdvice.vue';
  import FieldErrors from '@/core/components/FieldErrors.vue';
  import FieldLabel from '@/core/components/FieldLabel.vue';
  import inputProps from '@/core/mixins/inputProps';
  import TIMEZONES from '@/core/constants/timezones';

  import InputDate from './InputDate.vue';
  import InputTime from './InputTime.vue';

  // TODO: path invalid prop to inputs? :invalid="invalid"

  export default {
    components: {
      FieldAdvice,
      FieldErrors,
      FieldLabel,
      InputDate,
      InputTime,
    },
    mixins: [inputProps],
    props: {
      value: {
        type: [String, Number],
        default: null,
        // TODO: validate, ISO or timestamp
      },
      valueType: {
        type: String,
        default: 'timestamp',
        validator: value => !value || ['timestamp', 'iso'].includes(value),
      },
      timezone: {
        type: String,
        default: '',
        validator: value => !value || TIMEZONES.includes(value),
      },
      datePlaceholder: {
        type: String,
        default: '',
      },
      timePlaceholder: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        mutableValue: '',
        dateValue: '',
        timeValue: '',
        dateFocused: false,
        timeFocused: false,
        needJumpToTime: true,
      };
    },
    computed: {
      baseDate() {
        return this.dateValue || Date.now();
      },
      focused() {
        return this.dateFocused || this.timeFocused;
      },
      isTimezoneValid() {
        return !this.timezone || TIMEZONES.includes(this.timezone);
      },
    },
    watch: {
      value(val, oldVal) {
        if (val === oldVal) return;
        this.parseValue();
      },
    },
    beforeMount() {
      this.parseValue();
      if (this.mutableValue) {
        this.needJumpToTime = false;
      }
    },
    methods: {
      focus() {
        this.$refs.inputDate.focus();
      },
      resetHours(date) {
        if (!date) return '';

        // TODO: support ISO
        let dt = DateTime.fromMillis(parseInt(date, 10));

        if (dt.invalid) return '';

        if (this.timezone && dt.zoneName !== this.timezone && this.isTimezoneValid) {
          dt = dt.setZone(this.timezone);
        }

        dt = dt.startOf('day');

        // TODO: support ISO
        return dt.toMillis();
      },
      parseValue() {
        this.mutableValue = this.value;
        this.dateValue = this.resetHours(this.value);
        this.timeValue = this.value;
      },
      onInputDate(value) {
        this.emitInput();

        if (value && this.needJumpToTime) {
          // Wait date fill
          this.$nextTick(() => {
            this.$refs.inputTime.focusAndSelect();
          });
          this.needJumpToTime = false;
          return;
        }

        if (!value) {
          this.needJumpToTime = true;
        }
      },
      onInputTime(value) {
        // Do not emit if time cleared
        if (value) {
          this.emitInput();
        }
      },
      emitInput() {
        let value = '';

        if (!this.timeValue) {
          value = this.dateValue;
        } else if (this.timeValue && this.dateValue) {
          value = this.timeValue;
        }

        this.$emit('input', value);
      },
      onFocusDate() {
        this.dateFocused = true;
      },
      onFocusTime() {
        this.timeFocused = true;
      },
      onBlurDate() {
        this.dateFocused = false;
      },
      onBlurTime() {
        this.timeFocused = false;
        if (!this.timeValue && this.dateValue) {
          this.timeValue = this.dateValue;
          this.$emit('input', this.timeValue);
        }
      },

    },
  };
</script>

<template>
  <div class="input-date-time">
    <FieldLabel
      v-if="label"
      :disabled="disabled || loading"
      :active="focused"
      :invalid="invalid"
      @click-label="focus"
    >
      {{ label }}
    </FieldLabel>
    <div
      v-loading.small="loading"
      class="input-date-time__body"
    >
      <div class="input-date-time__date">
        <InputDate
          ref="inputDate"
          v-model="dateValue"
          :disabled="disabled"
          :readonly="readonly"
          :autofocus="autofocus"
          :timezone="timezone"
          :value-type="valueType"
          :placeholder="datePlaceholder"
          @input="onInputDate"
          @focus="onFocusDate"
          @blur="onBlurDate"
        />
      </div>
      <div class="input-date-time__time">
        <InputTime
          ref="inputTime"
          v-model="timeValue"
          :disabled="disabled"
          :readonly="readonly"
          :timezone="timezone"
          :value-type="valueType"
          :placeholder="timePlaceholder"
          :base-date="baseDate"
          @input="onInputTime"
          @focus="onFocusTime"
          @blur="onBlurTime"
        />
      </div>
    </div>
    <div
      v-if="errors.length || advice"
      class="input-text__footer"
    >
      <FieldErrors
        v-if="errors.length"
        :errors="errors"
      />
      <FieldAdvice
        v-else-if="advice"
        :active="focused"
        :disabled="disabled"
        :invalid="invalid"
      >
        {{ advice }}
      </FieldAdvice>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .input-date-time {
    &__body {
      display: flex;
    }

    &__date {
      flex: 1 0 0%;
      max-width: 100%;
      min-width: 0;
    }

    &__time {
      flex: 0 0 90px;
      max-width: 90px;
      min-width: 0;
      margin-left: 10px;
    }

    &__footer {}
  }
</style>
