<script>
  import PickForm from '@/modules/warehouse/components/PickForm';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';

  export default {
    meta() {
      const title = this.$t('pages.warehouse.picks.Create.meta.title');
      return {
        title,
      };
    },
    components: {
      PickForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        breadcrumbs: [
          {
            title: 'Warehouse',
          },
          {
            title: 'Pick',
            to: {
              name: 'Warehouse/Picks/List',
            },
          },
          {
            title: 'New',
          },
        ],
        loading: false,
      };
    },
    methods: {
      onFormSuccess(pick) {
        this.loading = false;
        this.dirty = false; // because dirty event comes later
        this.$router.push({ name: 'Warehouse/Picks/Edit', params: { pickId: pick.id } });
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <Island>
        <div class="text-h3 row">Create pick job</div>
        <pick-form
          @dirty="onFormDirty"
          @submit="loading = true"
          @success="onFormSuccess"
          @fail="loading = false"
        />
      </Island>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
