<script>
  import PickForm from '@/modules/warehouse/components/PickForm';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const number = this.pick ? this.pick.consNumber : '';
      const title = this.$t('pages.warehouse.picks.Edit.meta.title', { number });
      return {
        title,
      };
    },
    components: {
      PickForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        pick: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.pick) return [];

        return [
          {
            title: 'Warehouse',
          },
          {
            title: 'Picks',
            to: {
              name: 'Warehouse/Picks/List',
            },
          },
          {
            title: this.pick.number,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/warehouse/picks/${route.params.pickId}`)
          .then(({ data }) => {
            resolve({ pick: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.pick = deepClone(fields);
        this.loading = false;
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <PickForm
        v-if="pick"
        :values="pick"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
