<script>
  import Badge from '@/core/components/Badge.vue';
  import ControlsGroup from '@/core/components/ControlsGroup.vue';
  import InputSearch from '@/core/components/InputSearch.vue';
  import Multiselect from '@/core/components/Multiselect.vue';
  import Tag from '@/core/components/Tag.vue';
  import Tags from '@/core/components/Tags.vue';
  import VButton from '@/core/components/VButton.vue';
  import VLink from '@/core/components/VLink.vue';
  import IconAssignment from '@/assets/icons/material/assignment.svg';
  import IconEdit from '@/assets/icons/material/edit.svg';
  import IconFilter from '@/assets/icons/filter.svg';
  import IconKebab from '@/assets/icons/material/more_vert.svg';
  import page from '@/core/mixins/page';
  import pageWithItemsList from '@/core/mixins/pageWithItemsList';
  import library from '@/common/library';

  const STATUSES = library.warehouse.pick.statuses;

  export default {
    name: 'WarehousePicksList',
    meta() {
      const title = this.$t('pages.warehouse.picks.List.meta.title');
      return {
        title,
      };
    },
    components: {
      Badge,
      ControlsGroup,
      InputSearch,
      Multiselect,
      Tag,
      Tags,
      VButton,
      VLink,
      IconAssignment,
      IconEdit,
      IconFilter,
      IconKebab,
    },
    mixins: [page, pageWithItemsList],
    data() {
      const activeWarehouse = this.$store.getters['warehouse/active'];
      return {
        apiEndpoint: '/warehouse/picks/',
        itemName: 'job',
        sortBy: 'createdAt',
        sortOrder: -1,
        filters: {
          status: '',
        },
        extraQueryParams: {
          'warehouse.id': activeWarehouse ? activeWarehouse.id : null,
        },
        breadcrumbs: [
          {
            title: 'Warehouse',
          },
          {
            title: 'Pick jobs',
          },
        ],
        tableHeaders: [
          {
            label: 'Status',
            value: 'status',
            sortable: true,
          },
          {
            label: 'Date',
            value: 'date',
            sortable: true,
          },
          {
            label: 'Number',
            value: 'number',
            sortable: true,
          },
          {
            label: 'Shipment',
            sortable: false,
          },
          {
            label: 'SO',
            sortable: false,
          },
          {
            label: 'Assigned to',
            sortable: false,
          },
          {
            label: 'Warehouse',
            sortable: false,
          },
          {
            label: '', // Manage
            sortable: false,
          },
          {
            label: '', // Actions
            sortable: false,
          },
        ],
        statuses: STATUSES,
        showFilters: false,
      };
    },
    computed: {
      activeWarehouse() {
        return this.$store.getters['warehouse/active'];
      },
    },
    watch: {
      activeWarehouse({ id }) {
        this.extraQueryParams['warehouse.id'] = id;
        this.pageNum = 1;
        if (this.keepAliveActive) {
          this.fetchItems(true);
        }
      },
    },
    beforeMount() {
      const pageSize = this.getPageSize('warehouse.picks.pageSize');
      if (pageSize) {
        this.pageSize = pageSize;
      }
    },
    methods: {
      getStatusLabel(status) {
        // TODO: i18n
        const labels = {
          PENDING: 'Pending',
          ASSIGNED: 'Assigned',
          IN_PROGRESS: 'In progress',
          CANCELED: 'Canceled',
          COMPLETE: 'Complete',
        };

        return labels[status] || status;
      },
      getStatusBadgeTheme(status) {
        const themes = {
          PENDING: '',
          ASSIGNED: 'warning',
          IN_PROGRESS: '',
          COMPLETE: 'success',
          CANCELED: 'light',
        };
        return themes[status] || '';
      },
      getFilterTagLabel(key) {
        // TODO: i18n
        let label = '';
        switch (key) {
          case 'status':
            label = `Status: ${this.getStatusLabel(this.filters.status)}`;
            break;
          default:
            break;
        }

        return label;
      },
      getWorkersList(item) {
        if (!item.workers || !item.workers.length) return '';
        return item.workers.map(worker => worker.fullName).join(', ');
      },
      // Override pageWithItemsList mixins
      changePageSize(pageSize) {
        this.pageSize = pageSize;
        this.$store.dispatch('ui/setProperty', { path: 'warehouse.picks.pageSize', value: pageSize });
        this.paginateItems(1);
      },
    },
  };
</script>

<template>
  <div>
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <template v-if="itemsCountFetchedAt">
        <div class="grid grid_middle">
          <div class="col row">
            <ControlsGroup>
              <!--
              <VButton
                :to="{ name: 'Warehouse/Picks/Create' }"
              >
                <IconPlus slot="icon"/>
                Add pick job
              </VButton>
              -->
              <VButton
                theme="light"
                @click="showFilters = !showFilters"
              >
                <IconFilter slot="icon"/>
                Filters
              </VButton>
              <VButton
                v-if="isActiveFilter"
                theme="warning"
                @click="resetFilters"
              >
                Reset filters
              </VButton>
            </ControlsGroup>
          </div>
          <div class="col col_12 col_sm-6 col_lg-4 col_xl-3 row">
            <InputSearch
              v-model="search"
              placeholder="Search pick jobs"
              @input="searchItems"
              @reset="resetSearch"
            />
          </div>
        </div>
        <!-- Filters -->
        <div
          v-if="showFilters"
          class="grid"
        >
          <div class="col col_12 col_sm-4 col_md-3 col_xl-2 row">
            <Multiselect
              v-model="filters.status"
              :options="statuses"
              :option-label="getStatusLabel"
              label="Status"
              @input="filterItems"
            />
          </div>
        </div>
        <Tags
          v-else-if="activeFilters.length"
          class="row"
        >
          <Tag
            v-for="filter in activeFilters"
            :key="filter.key"
            theme="light"
            removable
            @remove="resetFilter(filter.key)"
          >
            {{ getFilterTagLabel(filter.key) }}
          </Tag>
        </Tags>
      </template>
      <DataTable
        :loading="loading"
        :headers="tableHeaders"
        :items="items"
        :sort-by="sortBy"
        :sort-order="sortOrder"
        :internal-sort="false"
        track-by="id"
        @sort="sortItems"
      >
        <template
          v-slot:item="{ item }"
        >
          <td>
            <Badge
              :theme="getStatusBadgeTheme(item.status)"
            >
              {{ getStatusLabel(item.status) }}
            </Badge>
          </td>
          <td class="text-nowrap">{{ item.date | date }}</td>
          <td>
            <VLink
              :to="{ name: 'Warehouse/Picks/Edit', params: { pickId: item.id } }"
              class="text-nowrap"
            >
              {{ item.number }}
            </VLink>
          </td>
          <td class="text-nowrap">
            <VLink
              v-if="item.shipment"
              :to="{ name: 'Logistic/Shipments/Edit', params: { shipmentId: item.shipment.id } }"
              target="_blank"
            >
              {{ item.shipment.number }}
            </VLink>
          </td>
          <td class="text-nowrap">
            <VLink
              v-if="item.shipment"
              :to="{ name: 'Sales/Orders/Edit', params: { orderId: item.shipment.orderId } }"
              target="_blank"
            >
              {{ item.shipment.orderNumber }}
            </VLink>
          </td>
          <td>{{ getWorkersList(item) }}</td>
          <td>{{ item.warehouse.name }}</td>
          <td style="width: 1%;">
            <VButton
              :to="{ name: 'Warehouse/Picks/Manage', params: { pickId: item.id } }"
            >
              <IconAssignment slot="icon"/>
              Manage
            </VButton>
          </td>
          <td style="width: 1%;">
            <DropMenu direction="bottom left">
              <VButton
                slot="activator"
                theme="silent"
                round
              >
                <IconKebab slot="icon"/>
              </VButton>
              <DropMenuItem
                :to="{ name: 'Warehouse/Picks/Manage', params: { pickId: item.id } }"
              >
                <IconAssignment slot="icon"/>
                Manage
              </DropMenuItem>
              <DropMenuItem
                :to="{ name: 'Warehouse/Picks/Edit', params: { pickId: item.id } }"
              >
                <IconEdit slot="icon"/>
                Edit
              </DropMenuItem>
            </DropMenu>
          </td>
        </template>
        <div
          v-if="itemsCount"
          slot="after"
          class="grid grid_end"
        >
          <div class="col col_auto">
            <Paginator
              :pages="pages"
              :page-num="pageNum"
              :page-size="pageSize"
              @change-page-size="changePageSize"
              @paginate="paginateItems"
            />
          </div>
        </div>
      </DataTable>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
