<script>
  import PickManageForm from '@/modules/warehouse/components/PickManageForm';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';

  export default {
    meta() {
      const number = this.pick ? this.pick.consNumber : '';
      const title = this.$t('pages.warehouse.picks.Manage.meta.title', { number });
      return {
        title,
      };
    },
    components: {
      PickManageForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        pick: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.pick) return [];

        return [
          {
            title: 'Warehouse',
          },
          {
            title: 'Picks',
            to: {
              name: 'Warehouse/Picks/List',
            },
          },
          {
            title: this.pick.number,
            to: {
              name: 'Warehouse/Picks/Edit',
              params: {
                pickId: this.pick.id,
              },
            },
          },
          {
            title: 'Manage',
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/warehouse/picks/${route.params.pickId}`)
          .then(({ data }) => {
            resolve({ pick: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormCancel() {
        this.$router.push(this.$store.state.route.from.fullPath);
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <PickManageForm
        v-if="pick"
        :values="pick"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="loading = false"
        @fail="loading = false"
        @cancel="onFormCancel"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
