<script>
  import { required } from 'vuelidate/lib/validators';

  import InputAddress from '@/core/components/InputAddress';
  import form from '@/core/mixins/form';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    name: 'CustomerFormAddress',
    components: {
      InputAddress,
    },
    mixins: [form],
    data() {
      return {
        fields: {
          default: false,
          address: null,
          type: 'BILLING',
        },
      };
    },
    validations() {
      return {
        fields: {
          address: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
        },
      };
    },
    methods: {
      submit() {
        if (!this.validate()) return;
        this.$emit('success', deepClone(this.fields));
      },
      cancel() {
        this.$emit('cancel');
      },
    },
  };
</script>

<template>
  <form
    novalidate
    @submit.prevent="submit"
  >
    <div class="rows">
      <div class="row">
        <RadioGroup label="Type">
          <Radio
            v-model="fields.type"
            val="BILLING"
          >
            Billing
          </Radio>
          <Radio
            v-model="fields.type"
            val="SHIPPING"
          >
            Shipping
          </Radio>
        </RadioGroup>
      </div>
      <div class="row">
        <InputAddress
          v-model="fields.address"
          :invalid="isFieldInvalid('address')"
          :errors="getFieldErrorMessages('address')"
          label="Address"
        />
      </div>
      <div class="row">
        <Checkbox v-model="fields.default">
          Default
        </Checkbox>
      </div>
      <div class="row">
        <div class="grid">
          <div class="col">
            <VButton
              type="submit"
              fluid
            >
              {{ $t('controls.save') }}
            </VButton>
          </div>
          <div class="col">
            <VButton
              theme="danger"
              fluid
              @click="cancel"
            >
              {{ $t('controls.cancel') }}
            </VButton>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<style lang="scss" type="text/scss"></style>
