<script>
  import ProductsImportForm from '@/modules/warehouse/components/ProductsImportForm.vue';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'Warehouse - Import',
      };
    },
    components: {
      ProductsImportForm,
    },
    mixins: [page],
    data() {
      return {
        breadcrumbs: [
          {
            title: 'Warehouse',
          },
          {
            title: 'Import data',
          },
        ],
        loading: false,
      };
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <Island>
        <ProductsImportForm
          @submit="loading = true"
          @success="loading = false"
          @fail="loading = false"
        />
      </Island>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
