<script>
  export default {
    meta() {
      const title = this.$t('pages.warehouse.Index.meta.title');
      return {
        title,
      };
    },
  };
</script>

<template>
  <RouterView/>
</template>

<style lang="scss" type="text/scss"></style>
