<script>
  import Zones from '@/modules/warehouse/components/Zones';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'Warehouse - Zones',
      };
    },
    components: {
      Zones,
    },
    mixins: [page],
    data() {
      return {
        breadcrumbs: [
          {
            title: 'Warehouse',
          },
          {
            title: 'Zones',
          },
        ],
      };
    },
    computed: {
      warehouseId() {
        return this.$store.state.warehouse.activeId;
      },
    },
  };
</script>

<template>
  <div>
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <div class="grid">
        <div class="col col_12 col_md-8 col_lg-6 col_xl-5">
          <Zones
            v-if="warehouseId"
            :warehouse-id="warehouseId"
            mode="edit"
          />
        </div>
      </div>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
