<script>
  import routable from '@/core/mixins/routable';

  export default {
    name: 'DropMenuItem',
    mixins: [routable],
    props: {
      tag: {
        type: String,
        default: 'button',
      },
      type: {
        type: String,
        default: 'button',
      },
    },
    methods: {
      click(e) {
        this.$emit('click', e);
      },
    },
    render(h) {
      const { tag, data } = this.generateRouteLink();

      const classes = ['drop-menu-item__el'];

      data.class = data.class || [];
      data.class.push(...classes);

      if (tag === 'button') {
        data.attrs.type = this.type;
      }

      data.directives = data.directives || [];

      data.directives.push({
        name: 'wave',
      });

      const childs = [];

      if (this.$slots.icon) {
        childs.push(h('i', { class: 'drop-menu-item__icon' }, this.$slots.icon));
      }

      if (this.$slots.default) {
        childs.push(h('span', { class: ['drop-menu-item__title'] }, this.$slots.default));
      }

      return h('li', { class: ['drop-menu-item'] }, [h(tag, data, childs)]);
    },
  };
</script>

<style lang="scss" type="text/scss">
  .drop-menu-item {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    & + & {
      border-top: 1px solid $color-shade-200;
    }

    &__el {
      @include reset-button;
      display: block;
      width: 100%;
      font-size: 13px;
      line-height: 20px;
      padding: 10px;
      list-style: none;
      color: $color-ui;
      text-decoration: none;
      transition: background-color .3s ease;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;

      @include hover-active {
        background: $color-shade-200;
        color: $color-ui;
        text-decoration: none;
        transition: none;
      }

      &:focus {
        background: $color-shade-300;
      }
    }

    &__title {
      display: inline-block;
      vertical-align: top;
    }

    &__icon {
      display: inline-block;
      font-size: 16px;
      height: 1em;
      width: 1em;
      margin: 2px 0;
      vertical-align: top;
    }

    &__icon + &__title,
    &__title + &__icon {
      margin-left: 8px;
    }

    &__icon + &__title {
      padding-right: 8px;
    }
  }
</style>
