<script>
  export default {
    meta() {
      const title = 'Example module page';
      return {
        title,
      };
    },
  };
</script>

<template>
  <div>Example module page</div>
</template>

<style lang="scss" type="text/scss"></style>
