<script>
  import PutawayForm from '@/modules/warehouse/components/PutawayForm.vue';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const number = this.putaway ? this.putaway.consNumber : '';
      const title = this.$t('pages.warehouse.putaways.Edit.meta.title', { number });
      return {
        title,
      };
    },
    components: {
      PutawayForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        putaway: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.putaway) return [];

        return [
          {
            title: 'Warehouse',
          },
          {
            title: 'Putaways',
            to: {
              name: 'Warehouse/Putaways/List',
            },
          },
          {
            title: this.putaway.number,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/warehouse/putaways/${route.params.putawayId}`)
          .then(({ data }) => {
            resolve({ putaway: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.putaway = deepClone(fields);
        this.loading = false;
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <PutawayForm
        v-if="putaway"
        :values="putaway"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
