<script>
  export default {};
</script>

<template>
  <KeepAlive include="WarehousePutawaysList">
    <RouterView :key="$route.path"/>
  </KeepAlive>
</template>

<style lang="scss" type="text/scss"></style>
