// https://github.com/utatti/perfect-scrollbar
// 1.4.0

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.ps__rail-x,
.ps__rail-y {
  display: none;
  transition: background-color .2s linear, opacity .2s linear;
  position: absolute;
  opacity: .5;
}

.ps__rail-x {
  height: 4px;
  bottom: 0;
}

.ps__rail-y {
  width: 4px;
  right: 0;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: $color-shade-300;
}

.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y,
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y {
  opacity: .8;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  //background-color: $color-shade-300;
  opacity: .9;
}

.ps__thumb-x,
.ps__thumb-y {
  position: absolute;
  background-color: $color-shade-500;
  transition: background-color .2s linear, height .2s ease-in-out;
}

.ps__thumb-x {
  height: 4px;
  bottom: 0;
}

.ps__thumb-y {
  width: 4px;
  right: 0;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x,
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: $color-primary;
}

@supports (-ms-overflow-style: none) {
    overflow: auto !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    overflow: auto !important;
}
