<script>
  import TruckForm from '@/modules/hauler/components/TruckForm';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';

  export default {
    meta() {
      const title = this.$t('pages.hauler.trucks.Create.meta.title');
      return {
        title,
      };
    },
    components: {
      TruckForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        breadcrumbs: [
          {
            title: 'Hauler',
          },
          {
            title: 'Trucks',
            to: {
              name: 'Hauler/Trucks/List',
            },
          },
          {
            title: 'New',
          },
        ],
        loading: false,
      };
    },
    methods: {
      onFormSuccess(truck) {
        this.loading = false;
        this.dirty = false; // because dirty event comes later
        this.$router.push({ name: 'Hauler/Trucks/Edit', params: { truckId: truck.id } });
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <TruckForm
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
