<script>
  import TruckForm from '@/modules/hauler/components/TruckForm';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const name = this.truck ? this.truck.name : '';
      const title = this.$t('pages.hauler.trucks.Edit.meta.title', { name });
      return {
        title,
      };
    },
    components: {
      TruckForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        truck: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.truck) return [];

        return [
          {
            title: 'Hauler',
          },
          {
            title: 'Trucks',
            to: {
              name: 'Hauler/Trucks/List',
            },
          },
          {
            title: this.truck.name,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/hauler/trucks/${route.params.truckId}`)
          .then(({ data }) => {
            resolve({ truck: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.truck = deepClone(fields);
        this.loading = false;
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <TruckForm
        v-if="truck"
        :values="truck"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
