<script>
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import pageWithRoutePlanner from '@/modules/logistic/mixins/pageWithRoutePlanner';

  export default {
    meta() {
      const title = this.$t('pages.logistic.jobs.Create.meta.title');
      return {
        title,
      };
    },
    mixins: [
      page,
      pageWithForm,
      pageWithRoutePlanner,
    ],
    data() {
      return {
        breadcrumbs: [
          {
            title: 'Logistics',
          },
          {
            title: 'Jobs',
            to: {
              name: 'Logistic/Jobs/List',
            },
          },
          {
            title: 'New',
          },
        ],
        loading: false,
      };
    },
    methods: {
      onFormSuccess(job) {
        this.loading = false;
        this.dirty = false; // because dirty event comes later
        this.$router.push({ name: 'Logistic/Jobs/Edit', params: { jobId: job.id } });
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <RoutePlanner
      :center="center"
      :zoom="zoom"
      :scheduled-from="scheduledFrom"
      :scheduled-to="scheduledTo"
      :only-pending="onlyPending"
      mode="create"
      @map-state="onPlannerMapState"
      @legs-filter-state="onPlannerLegsFilterState"
      @dirty="onPlannerDirty"
    />
  </div>
</template>

<style lang="scss" type="text/scss"></style>
