<script>
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import pageWithRoutePlanner from '@/modules/logistic/mixins/pageWithRoutePlanner';

  export default {
    meta() {
      const number = this.job ? this.job.number : '';
      const title = this.$t('pages.logistic.jobs.Edit.meta.title', { number });
      return {
        title,
      };
    },
    mixins: [
      page,
      pageWithForm,
      pageWithRoutePlanner,
    ],
    data() {
      return {
        job: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.job) return [];

        return [
          {
            title: 'Logistics',
          },
          {
            title: 'Jobs',
            to: {
              name: 'Logistic/Jobs/List',
            },
          },
          {
            title: this.job.number,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/logistic/jobs/${route.params.jobId}`)
          .then(({ data }) => {
            resolve({ job: data });
          })
          .catch(err => reject(err));
      });
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <RoutePlanner
      v-if="job"
      :job="job"
      :center="center"
      :zoom="zoom"
      :scheduled-from="scheduledFrom"
      :scheduled-to="scheduledTo"
      :only-pending="onlyPending"
      mode="edit"
      @map-state="onPlannerMapState"
      @legs-filter-state="onPlannerLegsFilterState"
      @dirty="onPlannerDirty"
    />
  </div>
</template>

<style lang="scss" type="text/scss"></style>
