<script>
  export default {
    meta() {
      const title = 'Page title';
      const description = 'Page description';
      return {
        title,
        meta: [
          { vmid: 'description', property: 'description', content: description },
          { vmid: 'og:title', property: 'og:title', content: title },
          { vmid: 'og:description', property: 'og:description', content: description },
        ],
      };
    },
    components: {},
    mixins: [],
    props: {},
    data() {
      return {};
    },
    computed: {},
    asyncData(context) {
      return new Promise((resolve, reject) => {
        resolve({
          foo: 'bar',
        });
        // reject(context.createError({
        //   code: 404,
        //   message: 'Error in FooBar',
        // }));
      });
    },
    // Dispatch store actions before component renders
    // Watch query params and update data if it changes
    // Set true to watch for all query params
    watchQuery: ['foo'],
    validations: {},
    watch: {},
    beforeCreate() {},
    created() {},
    beforeMount() {},
    mounted() {},
    activated() {},
    beforeUpdate() {},
    updated() {},
    deactivated() {},
    beforeDestroy() {},
    destroyed() {},
    methods: {},
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div>

  </div>
</template>

<style lang="scss" type="text/scss"></style>
