<script>
  import ShipmentForm from '@/modules/logistic/components/ShipmentForm';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const number = this.shipment ? this.shipment.number : '';
      const title = this.$t('pages.logistic.shipments.Edit.meta.title', { number });
      return {
        title,
      };
    },
    components: {
      ShipmentForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        shipment: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.shipment) return [];

        return [
          {
            title: 'Logistics',
          },
          {
            title: 'Shipments',
            to: {
              name: 'Logistic/Shipments/List',
            },
          },
          {
            title: this.shipment.number,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/logistic/shipments/${route.params.shipmentId}`)
          .then(({ data }) => {
            resolve({ shipment: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.order = deepClone(fields);
        this.loading = false;
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <ShipmentForm
        v-if="shipment"
        :values="shipment"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
