<script>
  import SaleOrderForm from '@/modules/sales/components/SaleOrderForm';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const number = this.order ? this.order.number : '';
      const title = this.$t('pages.sales.orders.Edit.meta.title', { number });
      return {
        title,
      };
    },
    components: {
      SaleOrderForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        order: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.order) return [];

        return [
          {
            title: 'Sales',
          },
          {
            title: 'Orders',
            to: {
              name: 'Sales/Orders/List',
            },
          },
          {
            title: this.order.number,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/sale/orders/${route.params.orderId}`)
          .then(({ data }) => {
            resolve({ order: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.order = deepClone(fields);
        this.loading = false;
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <SaleOrderForm
        v-if="order"
        :values="order"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
