<script>
  import VButton from '@/core/components/VButton.vue';
  import ZoneForm from '@/modules/warehouse/components/ZoneForm.vue';
  import IconPlus from '@/assets/icons/plus.svg';
  import { deepClone, fillArray } from '@/core/helpers/utils';

  export default {
    name: 'ZonesTree',
    components: {
      VButton,
      ZoneForm,
      IconPlus,
    },
    props: {
      warehouseId: {
        type: String,
        required: true,
      },
      parentId: {
        type: String,
        default: '',
      },
      accountId: {
        type: String,
        default: '',
      },
      zones: {
        type: Array,
        default: () => ([]),
      },
      mode: {
        type: String,
        default: 'select', // select, edit
      },
      selectedZones: {
        type: Array,
        default: () => ([]),
      },
      disabledZones: {
        type: Array,
        default: () => ([]),
      },
      eventBus: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {
        mutableZones: [],
        showCreateForm: false,
        zoneCreating: false,
      };
    },
    watch: {
      zones() {
        this.fetchZones();
      },
    },
    beforeMount() {
      this.fetchZones();
    },
    methods: {
      fetchZones() {
        fillArray(this.mutableZones, deepClone(this.zones));
      },
      onZoneCreated(zone) {
        this.zoneCreating = false;
        this.showCreateForm = false;
        this.mutableZones.push(zone);
        this.$emit('change', this.mutableZones);
      },
      onZoneChange(oldZone, newZone) {
        const index = this.mutableZones.indexOf(oldZone);
        if (index > -1) {
          this.mutableZones.splice(index, 1, newZone);
        } else {
          this.mutableZones.push(newZone);
        }
        this.$emit('change', this.mutableZones);
      },
      onZoneDelete(zone) {
        const index = this.mutableZones.indexOf(zone);
        if (index > -1) {
          this.mutableZones.splice(index, 1);
          this.$emit('change', this.mutableZones);
        }
      },
    },
  };
</script>

<template>
  <div class="zones-tree">
    <ul class="zones-tree__list">
      <li
        v-for="zone in mutableZones"
        :key="zone.id"
        class="zones-tree__item"
      >
        <ZonesItem
          :zone="zone"
          :mode="mode"
          :selected-zones="selectedZones"
          :disabled-zones="disabledZones"
          :event-bus="eventBus"
          @delete="onZoneDelete(zone)"
          @change="onZoneChange(zone, $event)"
        />
      </li>
    </ul>
    <template v-if="mode=== 'edit'">
      <VButton
        theme="silent"
        @click="showCreateForm = true"
      >
        <IconPlus slot="icon"/>
        Creat zone
      </VButton>
      <!-- Add zone -->
      <Modal
        v-if="showCreateForm"
        :loading="zoneCreating"
        :active="showCreateForm"
        :close-on-overlay="false"
        title="Create zone"
        @deactivate="showCreateForm = false"
      >
        <ZoneForm
          :warehouse-id="warehouseId"
          :account-id="accountId"
          :parent-id="parentId"
          @submit="zoneCreating = true"
          @success="onZoneCreated"
          @fail="zoneCreating = false"
          @cancel="showCreateForm = false"
        />
      </Modal>
    </template>
  </div>
</template>

<style lang="scss" type="text/scss">
  .zones-tree {
    position: relative;

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      @include reset-list-item;
      margin-bottom: 10px;
    }
  }
</style>
