<script>
  import Vue from 'vue';

  import InputSearch from '@/core/components/InputSearch.vue';

  import ZonesTree from './ZonesTree.vue';

  const SEARCH_DELAY = 300;

  export default {
    name: 'Zones',
    components: {
      InputSearch,
      ZonesTree,
    },
    props: {
      mode: {
        type: String,
        default: 'select', // select, edit
      },
      selectedZones: {
        type: Array,
        default: () => ([]),
      },
      disabledZones: {
        type: Array,
        default: () => ([]),
      },
      warehouseId: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        zones: [],
        loading: true,
        search: '',
        searchTimer: null,
        zonesRequestedAt: 0,
        eventBus: new Vue(),
      };
    },
    beforeMount() {
      this.fetchZones();
      this.eventBus.$on('select-item', this.onSelectItem);
    },
    methods: {
      onChange(zones) {
        this.zones.splice(0, this.zones.length, ...zones);
      },
      fetchZones() {
        const zonesRequestedAt = Date.now();
        this.zonesRequestedAt = zonesRequestedAt;
        this.loading = true;

        const params = {};

        if (this.search) {
          params.search = this.search;
        } else {
          params.top = true;
        }

        this.$api.get(`/warehouse/warehouses/${this.warehouseId}/zones`, { params })
          .then(({ data }) => {
            if (zonesRequestedAt !== this.zonesRequestedAt) return;
            this.zones.splice(0, this.zones.length, ...data.data);
            this.loading = false;
          })
          .catch(() => {
            if (zonesRequestedAt !== this.zonesRequestedAt) return;
            this.loading = false;
            this.$toasts.push({
              theme: 'danger',
              title: 'Error',
              text: 'Could not fetch warehouse zones',
            });
          });
      },
      searchZones() {
        clearTimeout(this.searchTimer);
        this.searchTimer = setTimeout(() => {
          this.fetchZones();
        }, SEARCH_DELAY);
      },
      resetSearch() {
        clearTimeout(this.searchTimer);
        this.search = '';
        this.fetchZones();
      },
      onSelectItem(item) {
        this.$emit('select-item', item);
      },
    },
  };
</script>

<template>
  <div class="zones">
    <div class="zones__search">
      <InputSearch
        v-model="search"
        placeholder="Search zones"
        @input="searchZones"
        @reset="resetSearch"
      />
    </div>
    <div
      v-if="loading"
      v-loading="loading"
      class="zones__loading"
    >
      <div class="zones__loading-item"/>
      <div class="zones__loading-item"/>
      <div class="zones__loading-item"/>
    </div>
    <template v-else>
      <div
        v-if="!zones.length && mode === 'select'"
        class="zones__empty"
      >
        Zones not found
      </div>
      <div
        v-else
        class="zones__body"
      >
        <ZonesTree
          :warehouse-id="warehouseId"
          :zones="zones"
          :mode="mode"
          :selected-zones="selectedZones"
          :disabled-zones="disabledZones"
          :event-bus="eventBus"
          @change="onChange"
        />
      </div>
    </template>
  </div>
</template>

<style lang="scss" type="text/scss">
  .zones {
    &__search {
      margin-bottom: 10px;
    }

    &__loading {
      &-item {
        height: 48px;
        background: $color-shade-200;

        & + & {
          margin-top: 10px;
        }
      }
    }

    &__empty {
      color: $color-shade-700;
      font-size: 14px;
      line-height: 28px;
      padding: 10px;
    }

    &__body {}
  }
</style>
