<script>
  import UserForm from '@/modules/account/components/UserForm.vue';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const userName = this.user ? this.user.fullName : '';
      const title = this.$t('pages.account.users.Edit.meta.title', { userName });
      return {
        title,
      };
    },
    components: {
      UserForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        user: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.user) return [];

        return [
          {
            title: 'Account',
          },
          {
            title: 'Users',
            to: {
              name: 'Account/Users/List',
            },
          },
          {
            title: this.user.fullName,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/account/users/${route.params.userId}`)
          .then(({ data }) => {
            resolve({ user: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.user = deepClone(fields);
        this.loading = false;
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <UserForm
        v-if="user"
        :values="user"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
