<script>
  import ButtonsGroup from '@/core/components/ButtonsGroup.vue';
  import ControlsGroup from '@/core/components/ControlsGroup.vue';
  import { DropMenu, DropMenuItem } from '@/core/components/DropMenu';
  import InputSearch from '@/core/components/InputSearch.vue';
  import Radio from '@/core/components/Radio.vue';
  import VButton from '@/core/components/VButton.vue';
  import VLink from '@/core/components/VLink.vue';
  import IconEdit from '@/assets/icons/material/edit.svg';
  import IconFilter from '@/assets/icons/filter.svg';
  import IconKebab from '@/assets/icons/material/more_vert.svg';
  import IconPlus from '@/assets/icons/plus.svg';
  import IconPowerOff from '@/assets/icons/material/power_off.svg';
  import IconRefresh from '@/assets/icons/material/refresh.svg';
  import page from '@/core/mixins/page';
  import pageWithItemsList from '@/core/mixins/pageWithItemsList';

  export default {
    name: 'AccountUsersList',
    meta() {
      const title = this.$t('pages.account.users.List.meta.title');
      return {
        title,
      };
    },
    components: {
      ButtonsGroup,
      ControlsGroup,
      DropMenu,
      DropMenuItem,
      InputSearch,
      Radio,
      VButton,
      VLink,
      IconEdit,
      IconFilter,
      IconKebab,
      IconPlus,
      IconPowerOff,
      IconRefresh,
    },
    mixins: [page, pageWithItemsList],
    data() {
      return {
        apiEndpoint: '/account/users/',
        filters: {
          active: true,
        },
        itemName: 'user',
        sortBy: 'createdAt',
        sortOrder: -1,
        breadcrumbs: [
          {
            title: 'Account',
          },
          {
            title: 'Users',
          },
        ],
        tableHeaders: [
          {
            label: 'Full name',
            sortable: false,
          },
          {
            label: 'Email',
            sortable: false,
          },
          {
            label: '', // Actions
            sortable: false,
          },
        ],
        showFilters: false,
        activeFilterOptions: [
          {
            label: 'Active',
            value: true,
          },
          {
            label: 'Inactive',
            value: false,
          },
          {
            label: 'All',
            value: null,
          },
        ],
      };
    },
    beforeMount() {
      const pageSize = this.getPageSize('account.users.pageSize');
      if (pageSize) {
        this.pageSize = pageSize;
      }
    },
    methods: {
      getUserEmail(user) {
        const email = user.contacts.find(contact => contact.type === 'EMAIL');
        return email ? email.id : '';
      },
      // Override pageWithItemsList mixins
      changePageSize(pageSize) {
        this.pageSize = pageSize;
        this.$store.dispatch('ui/setProperty', { path: 'account.users.pageSize', value: pageSize });
        this.paginateItems(1);
      },
    },
  };
</script>

<template>
  <div>
    <Breadcrumbs :items="breadcrumbs"/>

    <ContentSection>
      <Grid mods="middle">
        <GridCol
          mods="12 auto"
          class="row text-h3"
        >
          Users
        </GridCol>
        <GridCol
          mods="12 md"
          class="row "
        >
          <ButtonsGroup>
            <VButton
              :to="{ name: 'Account/Users/Create' }"
            >
              <IconPlus slot="icon"/>
              New
            </VButton>
            <VButton
              theme="light"
              square
              @click="fetchItems(true)"
            >
              <IconRefresh slot="icon"/>
            </VButton>
            <VButton
              theme="light"
              @click="showFilters = !showFilters"
            >
              <IconFilter slot="icon"/>
              Filters
            </VButton>
          </ButtonsGroup>
        </GridCol>
        <GridCol
          mods="12 lg-5 xl-4"
          class="row "
        >
          <InputSearch
            v-model="search"
            placeholder="Search users"
            @input="searchItems"
            @reset="resetSearch"
          />
        </GridCol>
      </Grid>
      <ControlsGroup
        v-if="showFilters"
        class="row"
      >
        <span class="text-light">Display:</span>
        <Radio
          v-for="(option, i) in activeFilterOptions"
          :key="i"
          v-model="filters.active"
          :val="option.value"
          @input="filterItems"
        >
          {{ option.label }}
        </Radio>
      </ControlsGroup>
      <DataTable
        :loading="loading"
        :headers="tableHeaders"
        :items="items"
        :sort-by="sortBy"
        :sort-order="sortOrder"
        :internal-sort="false"
        track-by="id"
        @sort="sortItems"
      >
        <template
          v-slot:item="{ item }"
        >
          <td>
            <div class="text-nowrap">
              <VLink
                :to="{ name: 'Account/Users/Edit', params: { userId: item.id } }"
              >
                {{ item.fullName }}
              </VLink>
            </div>
          </td>
          <td>
            {{ getUserEmail(item) }}
          </td>
          <td style="width: 1%;">
            <DropMenu direction="bottom left">
              <VButton
                slot="activator"
                theme="silent"
                round
              >
                <IconKebab slot="icon"/>
              </VButton>
              <DropMenuItem
                :to="{ name: 'Account/Users/Edit', params: { userId: item.id } }"
              >
                <IconEdit slot="icon"/>
                {{ $t('controls.edit') }}
              </DropMenuItem>
              <DropMenuItem
                v-if="item.active"
                @click="deactivateItem(item)"
              >
                <IconPowerOff slot="icon"/>
                {{ $t('controls.deactivate') }}
              </DropMenuItem>
            </DropMenu>
          </td>
        </template>
        <Grid
          v-if="itemsCount"
          slot="after"
          mods="end"
        >
          <GridCol mods="auto">
            <Paginator
              :pages="pages"
              :page-num="pageNum"
              :page-size="pageSize"
              @change-page-size="changePageSize"
              @paginate="paginateItems"
            />
          </GridCol>
        </Grid>
      </DataTable>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
