<script>
  import PricesImportForm from '@/modules/sales/components/PricesImportForm.vue';
  import page from '@/core/mixins/page';

  export default {
    meta() {
      return {
        title: 'Import prices',
      };
    },
    components: {
      PricesImportForm,
    },
    mixins: [page],
    data() {
      return {
        breadcrumbs: [
          {
            title: 'Sales',
          },
          {
            title: 'Import prices',
          },
        ],
        loading: false,
      };
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <Island>
        <PricesImportForm
          @submit="loading = true"
          @success="loading = false"
          @fail="loading = false"
        />
      </Island>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
