<!DOCTYPE html>
<html {{{ META().HTML_ATTRS }}}>
  <head>
    {{{ META().HEAD }}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicons/favicon-16x16.png">
    <link rel="manifest" href="/public/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/public/favicons/favicon.ico">
    <link rel="mask-icon" href="/public/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/public/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <noscript>
      <strong>Vasanda doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    {{{ META().SVG_ICONS }}}
    <!--vue-ssr-outlet-->
    {{{ META().BODY }}}
  </body>
</html>
