<script>
  export default {
    props: {
      theme: {
        type: String,
        default: '',
      },
    },
    data() {
      return {};
    },
    computed: {
      classes() {
        return {
          /* eslint-disable quote-props */
          [`announcement_theme-${this.theme}`]: this.theme,
          /* eslint-enable quote-props */
        };
      },
    },
  };
</script>

<template>
  <div
    :class="classes"
    class="announcement"
  >
    <slot/>
  </div>
</template>

<style lang="scss" type="text/scss">
  .announcement {
    padding: 15px 10px;
    background: $color-primary;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;

    &_theme-success {
      background: $color-success;
    }

    &_theme-warning {
      background: $color-warning;
    }

    &_theme-danger {
      background: $color-danger;
    }

    &_theme-light {
      background: $color-shade-300;
      color: $color-ui;
    }

    @include breakpoint-up(md) {
      padding: 15px;
    }

    @include breakpoint-up(lg) {
      padding: 20px 20px;
    }

    @include breakpoint-up(xl) {
      padding: 20px 40px;
    }
  }
</style>
