<script>
  import AppError from '@/core/components/AppError.vue';

  const DefaultLayout = () => import(/* webpackChunkName: "layouts/default" */ '@/core/layouts/Default.vue');

  export default {
    name: 'App',
    meta() {
      const title = 'Vasanda';
      const language = this.$store.getters.language;
      return {
        title,
        titleTemplate: `%s | ${title}`,
        htmlAttrs: {
          lang: language.code,
          dir: language.dir || 'ltr',
        },
        link: [
          {
            rel: 'stylesheet',
            href: 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic',
          },
        ],
      };
    },
    components: {
      AppError,
    },
    computed: {
      layout() {
        let layout;

        // Use defined for current route...
        if (this.$route.meta.layout) {
          layout = this.$route.meta.layout;
        }

        // ...or try to find in parents
        const matched = this.$router.currentRoute.matched;
        if (matched.length > 1) {
          let i = matched.length - 2; // skip last one
          while (i >= 0 && !layout) {
            layout = matched[i].meta.layout;
            i--;
          }
        }

        return layout || DefaultLayout;
      },
      error() {
        return this.$app.error;
      },
    },
  };
</script>

<template>
  <div id="app">
    <AppError
      v-if="error"
      :error="error"
    />
    <component
      :is="layout"
      v-else
    >
      <router-view/>
    </component>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
