<script>
  import IconLifesaver from '@/assets/icons/lifesaver.svg';
  import IconRefresh from '@/assets/icons/material/refresh.svg';

  const DEFAULT_ERROR_CODE = 500;
  const DEFAULT_ERROR_MESSAGE = 'We\'re sorry, but something went wrong';

  export default {
    meta() {
      const title = this.message;
      return { title };
    },
    components: {
      IconLifesaver,
      IconRefresh,
    },
    props: {
      error: {
        type: Object,
        default: () => ({
          code: DEFAULT_ERROR_CODE,
          message: DEFAULT_ERROR_MESSAGE,
        }),
      },
    },
    computed: {
      code() {
        return this.error.code || DEFAULT_ERROR_CODE;
      },
      message() {
        if (this.code === DEFAULT_ERROR_CODE) {
          return DEFAULT_ERROR_MESSAGE;
        }

        if (this.error.message) {
          return this.error.message;
        }

        let message = DEFAULT_ERROR_MESSAGE;

        switch (this.code) {
          case 404:
            message = 'Page not found';
            break;
          default:
            break;
        }

        return message;
      },
    },
  };
</script>

<template>
  <div class="error-page">
    <div class="error-page__content">
      <div class="error-page__maskot">
        <img src="@/assets/images/maskot/error.svg">
      </div>
      <div class="error-page__code">{{ code }}</div>
      <div class="error-page__message">{{ message }}</div>
      <div class="error-page__footer">
        <template v-if="code === 404">
          <RouterLink
            to="/"
            class="error-page__link"
          >
            Go to home page
          </RouterLink>
        </template>
        <template v-else>
          <!-- eslint-disable -->
          You can <a :href="$route.fullPath" class="error-page__link"> <i class="error-page__link-icon"><IconRefresh/></i> refresh the page</a>
          <a href="mailto:support@axioncore.com" class="error-page__link"><i class="error-page__link-icon"><IconLifesaver/></i>contact support</a>
          or try again later
        </template>
      </div>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .error-page {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-ui;
    color: #fff;
    text-align: center;

    &__content {}

    &__maskot {
      width: 240px;
      margin: 0 auto 25px;
      @include img-block;
    }

    &__code {
      font-size: 36px;
      line-height: 1em;
      font-weight: bold;
      margin-bottom: 10px;
    }

    &__message {
      font-size: 18px;
      line-height: 24px;
    }

    &__footer {
      font-size: 14px;
      line-height: 20px;
      margin-top: 25px;
    }

    &__link {
      display: inline-block;
      padding: 2px 4px;
      margin: 0 2px;
      text-decoration: none;
      border-radius: 2px;
      background: #fff;
      color: $color-ui;

      @include hover-active {
        color: $color-ui;
        text-decoration: none;
        opacity: .8;
      }

      &-icon {
        display: inline-block;
        font-size: 16px;
        height: 1em;
        vertical-align: middle;
        margin-left: -2px;
      }
    }
  }
</style>
