<script>
  export default {
    props: {
      theme: {
        type: String,
        default: '',
      },
    },
  };
</script>

<template>
  <span
    :class="{ [`badge_theme-${theme}`]: theme }"
    class="badge"
  >
    <slot/>
  </span>
</template>

<style lang="scss" type="text/scss">
  .badge {
    display: inline-block;
    vertical-align: inherit;
    font-size: 10px;
    line-height: 14px;
    padding: 2px 8px;
    height: 18px;
    border-radius: 2px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background: $color-primary;
    white-space: nowrap;

    &_theme-success {
      background: $color-success;
    }

    &_theme-warning {
      background: $color-warning;
    }

    &_theme-danger {
      background: $color-danger;
    }

    &_theme-light {
      background: $color-shade-300;
      box-shadow: none;
      color: $color-ui;
    }
  }
</style>
