<script>
  import jsbarcode from 'jsbarcode';

  export default {
    props: {
      code: {
        type: [String, Number],
        default: '',
      },
    },
    watch: {
      code(newVal, oldVal) {
        if (newVal === oldVal) return;
        this.render();
      },
    },
    mounted() {
      this.render();
    },
    methods: {
      render() {
        if (this.code) {
          if (!this.$refs.barcode) {
            this.$nextTick(() => {
              jsbarcode(this.$refs.barcode, this.code);
            });
          } else {
            jsbarcode(this.$refs.barcode, this.code);
          }
        }
      },
    },
  };
</script>

<template>
  <div class="barcode">
    <svg
      v-if="code"
      ref="barcode"
      class="barcode__image"
      preserveAspectRatio="xMidYMid slice"
    />
  </div>
</template>

<style lang="scss" type="text/scss">
  .barcode {
    &__image {
      width: 100%;
      height: 100%;
    }
  }
</style>
