<script>
  export default {
    props: {
      items: {
        type: Array,
        default: null,
      },
    },
  };
</script>

<template>
  <ul
    v-if="items && items.length"
    class="breadcrumbs hidden-sm-down"
  >
    <li
      v-for="item in items"
      :key="item.url"
      class="breadcrumbs__item"
    >
      <RouterLink
        v-if="item.to"
        :to="item.to"
        class="breadcrumbs__link"
        v-text="item.title "
      />
      <span v-else>{{ item.title }}</span>
    </li>
  </ul>
</template>

<style lang="scss" type="text/scss">
  .breadcrumbs {
    display: flex;
    margin: 0;
    list-style: none;
    font: $font-compact;
    color: $color-shade-600;
    padding: 15px 10px;
    font-size: 12px;
    line-height: 16px;
    background: $color-shade-100;

    @include breakpoint-up(md) {
      padding: 15px;
    }

    @include breakpoint-up(lg) {
      padding: 15px 20px;
    }

    @include breakpoint-up(xl) {
      padding: 15px 40px;
    }

    &__item {
      & + & {
        &::before {
          content: "/";
          padding: 0 5px;
        }
      }
    }

    &__link {
      text-decoration: none;
      border: none;
      color: $color-shade-700;

      @include hover-active {
        color: $color-shade-700;
        text-decoration: none;
        border: none;
      }
    }
  }
</style>
