<script>
  export default {
    props: {
      vertical: {
        type: Boolean,
        default: false,
      },
      wrap: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      classes() {
        return {
          /* eslint-disable quote-props */
          'buttons-group_vertical': this.vertical,
          'buttons-group_wrap': this.wrap,
          /* eslint-enable quote-props */
        };
      },
    },
  };
</script>

<template>
  <div
    :class="classes"
    class="buttons-group"
  >
    <div class="buttons-group__inner">
      <slot/>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  $margin: 10px;

  .buttons-group {
    position: relative;

    &__inner {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      margin-right: -$margin;
      margin-bottom: -$margin;

      > * {
        margin-right: $margin;
        margin-bottom: $margin;
      }
    }

    &_vertical &__inner {
      flex-direction: column;
      align-items: flex-start;
    }

    &_wrap &__inner {
      flex-wrap: wrap;
    }
  }
</style>
