<script>
  import IconCheckbox from '@/assets/icons/material/check_box_outline_blank.svg';
  import IconCheckboxChecked from '@/assets/icons/material/check_box.svg';

  export default {
    components: {
      IconCheckbox,
      IconCheckboxChecked,
    },
    props: {
      name: {
        type: String,
        default: null,
      },
      id: {
        type: String,
        default: null,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      invalid: {
        type: Boolean,
        default: false,
      },
      value: {
        type: [String, Boolean, Number, Object, Array],
        default: null,
      },
      val: {
        type: [String, Boolean, Number, Object],
        default: null,
      },
    },
    data() {
      return {
        mutableValue: false,
      };
    },
    computed: {
      proxy: {
        get() {
          return this.value || this.mutableValue;
        },
        set(val) {
          this.mutableValue = val;
          this.$emit('input', this.mutableValue);
        },
      },
      checked() {
        return Array.isArray(this.proxy) ? this.proxy.includes(this.val) : !!this.proxy;
      },
    },
    watch: {
      value(val) {
        this.mutableValue = val;
      },
    },
    created() {
      this.mutableValue = this.value;
    },
  };
</script>

<template>
  <label
    :class="{ '_invalid': invalid, '_checked': checked }"
    class="checkbox"
  >
    <input
      :id="id"
      v-model="proxy"
      :name="name"
      :disabled="disabled"
      :value="val"
      type="checkbox"
      class="checkbox__input"
    >
    <span class="checkbox__label">
      <i
        v-wave.center
        class="checkbox__icon"
      >
        <IconCheckboxChecked v-if="checked"/>
        <IconCheckbox v-else/>
      </i>
      <slot/>
    </span>
  </label>
</template>

<style lang="scss" type="text/scss">
  .checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    @include no-select;

    &__input {
      @include sr-only;
    }

    &__label {
      position: relative;
      display: inline-block;
      padding-left: 24px;
      font-size: 13px;
      line-height: 22px;
      color: $color-ui;
    }

    &__icon {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      overflow: hidden;
      padding: 2px;
      font-size: 20px;
      line-height: 1em;
      position: absolute;
      left: -2px;
      top: -2px;
      color: $color-shade-500;
    }

    // Checked

    &__input:checked + &__label {}

    &__input:checked + &__label &__icon {
      color: $color-primary;
    }


    // Focus
    &__input:focus + &__label {
      background: rgba($color-primary, .1);
    }

    &__input:focus + &__label &__icon {
      color: $color-primary;
    }

    // Disabled

    &__input:disabled + &__label {
      color: $color-shade-500;
      cursor: default;
    }

    &__input:disabled + &__label &__icon {
      color: $color-shade-400;
      pointer-events: none;
    }
  }
</style>
