<script>
  import Badge from '@/core/components/Badge.vue';
  import ContactForm from '@/core/components/ContactForm.vue';
  import { DropMenu, DropMenuItem } from '@/core/components/DropMenu';
  import VButton from '@/core/components/VButton.vue';
  import IconDelete from '@/assets/icons/material/delete.svg';
  import IconEdit from '@/assets/icons/material/edit.svg';
  import IconEmail from '@/assets/icons/material/email.svg';
  import IconKebab from '@/assets/icons/material/more_vert.svg';
  import IconPerson from '@/assets/icons/material/account_circle.svg';
  import IconPhone from '@/assets/icons/material/call.svg';

  export default {
    components: {
      Badge,
      ContactForm,
      DropMenu,
      DropMenuItem,
      VButton,
      IconDelete,
      IconEdit,
      IconEmail,
      IconKebab,
      IconPerson,
      IconPhone,
    },
    props: {
      contact: {
        type: Object,
        default: null,
        required: true,
      },
      editable: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        isEditing: false,
        mutableContact: null,
      };
    },
    methods: {
      edit() {
        this.$emit('edit');
      },
      remove() {
        this.$emit('remove');
      },
      change(contact) {
        this.isEditing = false;
        this.$emit('change', contact);
      },
    },
  };
</script>

<template>
  <div class="contact">
    <div class="contact__person">
      <i class="contact__person-icon">
        <IconPerson/>
      </i>
      <div class="contact__person-data">
        <div class="contact__person-name">
          {{ contact.firstName }} {{ contact.lastName }}
        </div>
        <div
          v-if="contact.jobTitle"
          class="contact__person-job"
        >
          {{ contact.jobTitle }}
        </div>
      </div>
    </div>
    <ul
      v-if="contact.contacts && contact.contacts.length"
      class="contact__list"
    >
      <li
        v-for="(item, i) in contact.contacts"
        :key="i"
        class="contact__item"
      >
        <i class="contact__item-icon">
          <IconEmail v-if="item.type === 'EMAIL'"/>
          <IconPhone v-else-if="item.type === 'PHONE'"/>
        </i>
        <div class="contact__item-data">
          <div class="contact__item-value">{{ item.id }}</div>
          <div
            v-if="item.label"
            class="contact__item-note"
          >
            {{ item.label }}
          </div>
        </div>
      </li>
    </ul>
    <div
      v-if="contact.default"
      class="contact__footer"
    >
      <Badge theme="success">Default</Badge>
    </div>
    <div
      v-if="editable"
      class="contact__controls"
    >
      <DropMenu direction="bottom left">
        <VButton
          slot="activator"
          theme="silent"
          size="small"
          round
        >
          <IconKebab slot="icon"/>
        </VButton>
        <DropMenuItem @click="isEditing = true">
          <IconEdit slot="icon"/>
          Edit
        </DropMenuItem>
        <DropMenuItem @click="remove">
          <IconDelete slot="icon"/>
          Delete
        </DropMenuItem>
      </DropMenu>
    </div>
    <Modal
      v-if="isEditing"
      :active="isEditing"
      @deactivae="isEditing = false"
    >
      <ContactForm
        :values="contact"
        @success="change"
        @cancel="isEditing = false"
      />
    </Modal>
  </div>
</template>

<style lang="scss" type="text/scss">
  .contact {
    position: relative;
    min-height: 32px;
    padding: 8px 5px;
    border-radius: 4px;
    border: 1px solid $color-shade-400;
    background: #fff;

    &__person {
      display: flex;
      align-items: center;
      padding-right: 24px;

      &-icon {
        font-size: 24px;
        line-height: 1em;
        height: 1em;
        margin-right: 8px;
        color: $color-shade-500;
      }

      &-data {}

      &-name {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
      }

      &-job {
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
      }
    }

    &__list {
      padding: 8px 0 0 0;
      margin: 8px 0 0 0;
      list-style: none;
      border-top: 1px solid $color-shade-300;
    }

    &__item {
      display: flex;
      margin: 0;
      padding: 0;

      & + & {
        margin-top: 8px;
      }

      &-icon {
        font-size: 14px;
        line-height: 1em;
        height: 1em;
        margin: 0 13px 0 5px;
        color: $color-shade-500;
      }

      &-value {
        font-size: 12px;
        line-height: 14px;
      }

      &-note {
        margin-top: 2px;
        font-size: 11px;
        line-height: 14px;
        font-style: italic;
        font-weight: 300;
      }
    }

    &__controls {
      position: absolute;
      right: 2px;
      top: 4px;
    }

    &__footer  {
      display: flex;
      border-top: 1px solid $color-shade-300;
      margin-top: 8px;
      padding-top: 8px;
    }
  }
</style>
