<template functional>
  <div class="controls-group">
    <div class="controls-group__inner">
      <slot/>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .controls-group {
    position: relative;

    &__inner {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-right: -10px;
      margin-bottom: -10px;

      > * {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
</style>
