<template functional>
  <div class="content-section">
    <slot/>
  </div>
</template>

<style lang="scss" type="text/scss">
  .content-section {
    padding: 20px 10px;

    @include breakpoint-up(lg) {
      padding: 20px;
    }

    @include breakpoint-up(xl) {
      padding: 30px 40px;
    }
  }
</style>
