<script>
  import { required } from 'vuelidate/lib/validators';

  import Separator from '@/core/components/Separator.vue';
  import IconDelete from '@/assets/icons/material/delete.svg';
  import IconPlus from '@/assets/icons/plus.svg';
  import form from '@/core/mixins/form';
  import { deepClone } from '@/core/helpers/utils';

  const TYPES = {
    EMAIL: 'EMAIL',
    PHONE: 'PHONE',
  };
  const CONTACT_MODEL = {
    type: TYPES.EMAIL,
    id: '',
    label: '',
  };

  export default {
    components: {
      Separator,
      IconDelete,
      IconPlus,
    },
    mixins: [form],
    data() {
      return {
        fields: {
          default: false,
          firstName: '',
          lastName: '',
          jobTitle: '',
          contacts: [],
        },
        availableContactTypes: Object.keys(TYPES),
      };
    },
    validations() {
      return {
        fields: {
          firstName: {
            required: this.createValidationRule(required, this.$t('forms.validations.required')),
          },
          contacts: {
            $each: {
              id: {
                required: this.createValidationRule(required, this.$t('forms.validations.required')),
              },
            },
          },
        },
      };
    },
    methods: {
      submit() {
        if (!this.validate()) return;
        this.$emit('submit');
        this.$emit('success', deepClone(this.fields));
      },
      getContactTypeLabel(type) {
        // TODO: i18n
        const labels = {
          [TYPES.EMAIL]: 'E-mail',
          [TYPES.PHONE]: 'Phone',
        };
        return labels[type];
      },
      addContact() {
        const length = this.fields.contacts.push(deepClone(CONTACT_MODEL));

        const validationModel = this.$v.fields.contacts.$each[length - 1];
        if (validationModel) {
          validationModel.$reset();
        }
      },
      removeContact(index) {
        if (!this.fields.contacts[index]) return;

        this.fields.contacts.splice(index, 1);

        const validationModel = this.$v.fields.contacts.$each[index];
        if (validationModel) {
          validationModel.$reset();
        }
      },
    },
  };
</script>

<template>
  <form
    novalidate
    @submit.prevent="submit"
  >
    <VFieldset>
      <div class="rows">
        <Grid>
          <GridCol
            mods="12 md-6"
            class="row"
          >
            <InputText
              v-model="fields.firstName"
              :invalid="isFieldInvalid('firstName')"
              :errors="getFieldErrorMessages('firstName')"
              label="First name"
            />
          </GridCol>
          <GridCol
            mods="12 md-6"
            class="row"
          >
            <InputText
              v-model="fields.lastName"
              :invalid="isFieldInvalid('lastName')"
              :errors="getFieldErrorMessages('lastName')"
              label="Last name"
            />
          </GridCol>
        </Grid>
        <Grid>
          <GridCol
            mods="12 md-6"
            class="row"
          >
            <InputText
              v-model="fields.jobTitle"
              :invalid="isFieldInvalid('jobTitle')"
              :errors="getFieldErrorMessages('jobTitle')"
              label="Job title"
            />
          </GridCol>
        </Grid>
        <div class="row">
          <Checkbox v-model="fields.default">
            Default
          </Checkbox>
        </div>
      </div>
    </VFieldset>
    <VFieldset>
      <div class="rows">
        <div
          v-for="(contact, i) in fields.contacts"
          :key="`contact-${i}`"
          class="row"
        >
          <Separator v-if="i !== 0"/>
          <Grid>
            <div class="col col_12 col_md-4 row">
              <Multiselect
                v-model="fields.contacts[i].type"
                :invalid="isFieldInvalid(`contacts.$each[${i}].type`)"
                :errors="getFieldErrorMessages(`contacts.$each[${i}].type`)"
                :options="availableContactTypes"
                :searchable="false"
                :allow-empty="false"
                :option-label="getContactTypeLabel"
              />
            </div>
            <div class="col col_12 col_md-8 row">
              <InputText
                v-model="fields.contacts[i].id"
                :invalid="isFieldInvalid(`contacts.$each[${i}].id`)"
                :errors="getFieldErrorMessages(`contacts.$each[${i}].id`)"
              />
            </div>
          </Grid>
          <Grid mods="bottom">
            <GridCol>
              <InputText
                v-model="fields.contacts[i].label"
                :invalid="isFieldInvalid(`contacts.$each[${i}].label`)"
                :errors="getFieldErrorMessages(`contacts.$each[${i}].label`)"
              />
            </GridCol>
            <GridCol mods="auto">
              <VButton
                slot="addon"
                theme="silent"
                round
                @click="removeContact(i)"
              >
                <IconDelete slot="icon"/>
              </VButton>
            </GridCol>
          </Grid>
        </div>
        <div
          v-if="fields.contacts.length < 10"
          class="row"
        >
          <VButton
            theme="light"
            @click="addContact"
          >
            <IconPlus slot="icon"/>
            Add
          </VButton>
        </div>
      </div>
    </VFieldset>
    <VFieldset>
      <Grid>
        <GridCol mods="6 sm-4 lg-3">
          <VButton
            type="submit"
            fluid
          >
            {{ $t('controls.save') }}
          </VButton>
        </GridCol>
        <GridCol mods="6 sm-4 lg-3">
          <VButton
            theme="danger"
            fluid
            @click="cancel"
          >
            {{ $t('controls.cancel') }}
          </VButton>
        </GridCol>
      </Grid>
    </VFieldset>
  </form>
</template>

<style lang="scss" type="text/scss"></style>
