<script>
  import ContactForm from '@/core/components/ContactForm.vue';
  import VButton from '@/core/components/VButton.vue';
  import IconPlus from '@/assets/icons/plus.svg';

  export default {
    components: {
      ContactForm,
      VButton,
      IconPlus,
    },
    data() {
      return {
        active: false,
      };
    },
    methods: {
      create(contact) {
        this.$emit('create', contact);
        this.active = false;
      },
    },
  };
</script>

<template>
  <Modal
    :active="active"
    @activate="active = true"
    @deactivate="active = false"
  >
    <VButton
      slot="activator"
      theme="light"
    >
      <IconPlus slot="icon"/>
      Add contact
    </VButton>
    <ContactForm
      @success="create"
      @cancel="active = false"
    />
  </Modal>
</template>

<style lang="scss" type="text/scss"></style>
