<script>
  // TODO: themes` styles

  export default {
    props: {
      value: {
        type: [String, Number],
        default: '',
      },
      label: {
        type: [String, Number],
        default: '',
      },
      theme: {
        type: String,
        default: '',
      },
    },
    data() {
      return {};
    },
    computed: {
      classes() {
        return {
          /* eslint-disable quote-props */
          [`announcement_theme-${this.theme}`]: this.theme,
          /* eslint-enable quote-props */
        };
      },
    },
  };
</script>

<template>
  <div
    :class="classes"
    class="dashboard-indicator"
  >
    <div
      v-if="$slots.icon"
      class="dashboard-indicator__icon"
    >
      <slot name="icon"/>
    </div>
    <div class="dashboard-indicator__data">
      <div class="dashboard-indicator__value">{{ value | splitDigits }}</div>
      <div class="dashboard-indicator__label">{{ label }}</div>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .dashboard-indicator {
    border-radius: 4px;
    background: #fff;
    border: 1px solid $color-shade-300;
    display: flex;
    align-items: center;
    padding: 15px 30px 15px 15px;

    &__icon {
      font-size: 36px;
      height: 1em;
      color: $color-success;
      margin-right: .5em;
    }

    &__data {}

    &__value {
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      font-feature-settings: "tnum";
      font-variant-numeric: tabular-nums;
    }

    &__label {
      font-size: 14px;
      line-height: 18px;
      font-weight: 300;
    }
  }
</style>
