<script>
  export default {
    props: {
      errors: {
        type: Array,
        default: () => ([]),
      },
    },
    computed: {
      text() {
        if (!this.errors || !this.errors[0]) return '';
        if (typeof this.errors[0] === 'string') return this.errors[0];

        // TODO: translate errors by code
        if (this.errors[0].message) return this.errors[0].message;

        return '';
      },
    },
  };
</script>

<template>
  <div
    v-if="errors && errors.length"
    class="field-errors"
    v-text="text"
  />
</template>

<style lang="scss" type="text/scss">
  .field-errors {
    padding: 4px 2px 0;
    font-size: 11px;
    line-height: 16px;
    color: $color-invalid;
    animation: field-errors-shake 1s linear .2s;

    @keyframes field-errors-shake {
      from,
      to {
        transform: translate3d(0, 0, 0);
      }

      10%,
      30%,
      50%,
      70%,
      90% {
        transform: translate3d(-5px, 0, 0);
      }

      20%,
      40%,
      60%,
      80% {
        transform: translate3d(5px, 0, 0);
      }
    }
  }
</style>
