<script>
  export default {
    props: {
      forAttr: {
        type: String,
        default: null,
      },
      active: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      invalid: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      classes() {
        return {
          /* eslint-disable quote-props */
          '_active': this.active,
          '_disabled': this.disabled,
          '_invalid': this.invalid,
          /* eslint-enable quote-props */
        };
      },
    },
    methods: {
      onClickLabel(e) {
        this.$emit('click-label', e);
      },
    },
  };
</script>

<template>
  <span
    class="field-label"
    :class="classes"
  >
    <label
      :for="forAttr"
      class="field-label__label"
      @click="onClickLabel"
    >
      <slot/>
    </label>
  </span>
</template>

<style lang="scss" type="text/scss">
  .field-label {
    display: flex;

    &__label {
      display: inline-block;
      vertical-align: top;
      min-height: 20px;
      font-size: 11px;
      line-height: 16px;
      padding: 0 2px 4px;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $color-shade-800;
      transition: color .2s ease;
    }

    &._active &__label {
      color: $color-primary;
    }

    &._disabled &__label {
      color: $color-shade-500;
    }

    &._invalid &__label {
      color: $color-invalid;
    }
  }
</style>
