<script>
  export default {
    props: {
      active: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      invalid: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      classes() {
        return {
          /* eslint-disable quote-props */
          '_active': this.active,
          '_disabled': this.disabled,
          '_invalid': this.invalid,
          /* eslint-enable quote-props */
        };
      },
    },
  };
</script>

<template>
  <div
    :class="classes"
    class="field-advice"
  >
    <slot/>
  </div>
</template>

<style lang="scss" type="text/scss">
  .field-advice {
    padding: 4px 2px 0;
    font-size: 11px;
    line-height: 16px;
    font-style: italic;
    text-align: left;
    color: $color-shade-600;

    &._disabled {
      color: $color-shade-400;
    }
  }
</style>
