<script>
  export default {
    props: {
      name: {
        type: String,
        default: '',
      },
      viewBox: {
        type: String,
        default: '0 0 100 100',
      },
    },
  };
</script>

<template>
  <svg
    :viewBox="viewBox"
    class="icon"
    aria-hidden="true"
  >
    <use
      :xlink:href="`#${name}`"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    />
  </svg>
</template>

<style lang="scss" type="text/scss">
  .icon {
    width: 1em;
    height: 1em;
    vertical-align: top;
    fill: currentColor;
    pointer-events: none;
  }
</style>
