<script>
  import Barcode from '@/core/components/Barcode.vue';
  import IconBarcode from '@/assets/icons/barcode.svg';

  export default {
    components: {
      Barcode,
      IconBarcode,
    },
    props: {
      code: {
        type: String,
        required: true,
      },
      title: {
        type: String,
        default: '',
      },
    },
  };
</script>

<template>
  <Modal
    :header="true"
    :title="title"
    size="small"
  >
    <button
      slot="activator"
      type="button"
      class="inline-barcode"
    >
      <span class="inline-barcode__inner">
        <i class="inline-barcode__icon">
          <IconBarcode slot="icon"/>
        </i>
        <span class="inline-barcode__code">{{ code }}</span>
      </span>
    </button>
    <Barcode :code="code"/>
  </Modal>
</template>

<style lang="scss" type="text/scss">
  .inline-barcode {
    @include reset-button;
    padding: 0;
    font-family: monospace;
    vertical-align: text-bottom;

    &__inner {
      display: flex;
      align-items: center;
    }

    &__icon {
      display: inline-block;
      font-size: 1em;
      height: 1em;
      padding: 0;
      margin-right: .25em;
    }

    &__code {}
  }
</style>
