<template functional>
  <div class="in-progress-holder">
    <div class="in-progress-holder__img">
      <img
        src="@/assets/images/in-progress.png"
        width="1000"
        height="992"
        alt=""
      >
    </div>
    <div class="in-progress-holder__title">
      Functionality is in the process of development
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .in-progress-holder {
    padding: 30px 0;
    pointer-events: none;
    @include no-select;

    &__img {
      max-width: 500px;
      margin: 0 auto;
      @include img-block;
    }

    &__title {
      font-size: 24px;
      line-height: 32px;
      margin: 30px 0 0;
      text-align: center;
      color: $color-shade-600;
    }
  }
</style>
