<script>
  import Big from 'big.js/big.mjs';

  import ButtonsGroup from '@/core/components/ButtonsGroup.vue';
  import InputText from '@/core/components/InputText.vue';
  import VButton from '@/core/components/VButton.vue';
  import IconMinus from '@/assets/icons/minus.svg';
  import IconPlus from '@/assets/icons/plus.svg';
  import inputProps from '@/core/mixins/inputProps';
  import { onlyProps as inputWithOptionsProps } from '@/core/mixins/inputWithOptions';

  // TODO: 0 returns for empty field because unmask="typed"
  // try another mask library first

  export default {
    components: {
      ButtonsGroup,
      InputText,
      VButton,
      IconMinus,
      IconPlus,
    },
    mixins: [
      inputProps,
      inputWithOptionsProps,
    ],
    props: {
      value: {
        type: [String, Number],
        default: '',
      },
      step: {
        type: Number,
        default: 1,
      },
      decimals: {
        type: Number,
        default: 0,
      },
      strictDecimals: {
        type: Boolean,
        default: false,
      },
      min: {
        type: Number,
        default: -Infinity,
      },
      max: {
        type: Number,
        default: Infinity,
      },
      controls: {
        type: Boolean,
        default: false,
      },
      thousandsSeparator: {
        type: String,
        default: ',',
      },
      radix: {
        type: String,
        default: '.',
      },
    },
    data() {
      return {
        mutableValue: '',
        changeInterval: null,
        changeTimeout: null,
      };
    },
    computed: {
      mask() {
        return {
          mask: Number,
          scale: this.decimals,
          signed: this.min < 0,
          thousandsSeparator: this.thousandsSeparator,
          padFractionalZeros: this.strictDecimals,
          normalizeZeros: true,
          radix: this.radix,
          mapToRadix: [',', '.'],
          min: this.min,
          max: this.max,
        };
      },
    },
    watch: {
      value(val, oldVal) {
        if (val === oldVal) return;
        this.mutableValue = val;
      },
    },
    created() {
      this.mutableValue = this.value;
    },
    methods: {
      increment() {
        const hasMin = Number.isFinite(this.min);
        const hasMax = Number.isFinite(this.max);

        if (!this.mutableValue && this.mutableValue !== 0) {
          this.mutableValue = hasMin ? this.min : this.step;
        } else {
          if (this.decimals) {
            const x = new Big(this.mutableValue);
            this.mutableValue = parseFloat(x.plus(this.step));
          } else {
            this.mutableValue += this.step;
          }

          if (hasMax && this.mutableValue > this.max) {
            this.mutableValue = this.max;
          }
        }
        this.$emit('input', this.mutableValue);
      },
      decrement() {
        const hasMin = Number.isFinite(this.min);

        if (!this.mutableValue && this.mutableValue !== 0) {
          this.mutableValue = hasMin ? this.min : 0;
        } else {
          if (this.decimals) {
            const x = new Big(this.mutableValue);
            this.mutableValue = parseFloat(x.minus(this.step));
          } else {
            this.mutableValue -= this.step;
          }

          if (hasMin && this.mutableValue < this.min) {
            this.mutableValue = this.min;
          }
        }

        this.$emit('input', this.mutableValue);
      },
      onInput(val) {
        this.mutableValue = val;
        this.$emit('input', this.mutableValue);
      },
      onMousedown(e, type) {
        const isTouch = e.type === 'touchstart';
        const endEvent = isTouch ? 'ontouchend' : 'onmouseup';

        clearInterval(this.changeInterval);
        clearTimeout(this.changeTimeout);

        this.changeTimeout = setTimeout(() => {
          this.changeInterval = setInterval(() => {
            if (type === 'decrement') {
              if (this.mutableValue <= this.min) {
                clearInterval(this.changeInterval);
                return;
              }
              this.decrement();
              return;
            }

            if (this.mutableValue >= this.max) {
              clearInterval(this.changeInterval);
              return;
            }
            this.increment();
          }, 200);

          document[endEvent] = () => {
            document[endEvent] = null;
            clearInterval(this.changeInterval);
          };
        }, 200);

        document[endEvent] = () => {
          document[endEvent] = null;
          clearTimeout(this.changeTimeout);
        };
      },
      onBlur(e) {
        this.$emit('blur', e);
      },
      onFocus(e) {
        this.$emit('focus', e);
      },
    },
  };
</script>

<template>
  <InputText
    :value="mutableValue"
    :label="label"
    :placeholder="placeholder"
    :name="name"
    :required="required"
    :disabled="disabled"
    :invalid="invalid"
    :loading="loading"
    :errors="errors"
    :advice="advice"
    :options="options"
    :options-loading="optionsLoading"
    :options-error="optionsError"
    :options-error-message="optionsErrorMessage"
    :option-label="optionLabel"
    :option-value="optionValue"
    :mask="mask"
    :autofocus="autofocus"
    unmask="typed"
    @input="onInput"
    @blur="onBlur"
    @focus="onFocus"
  >
    <template
      v-if="$scopedSlots.option"
      v-slot:option="{ option }"
    >
      <slot
        name="option"
        :option="option"
      />
    </template>
    <ButtonsGroup
      v-if="controls"
      slot="after"
    >
      <VButton
        :disabled="mutableValue >= max || loading || disabled"
        theme="light"
        size="small"
        round
        @click="increment"
        @mousedown="onMousedown($event, 'increment')"
      >
        <IconPlus slot="icon"/>
      </VButton>
      <VButton
        :disabled="mutableValue <= min || loading || disabled"
        theme="light"
        size="small"
        round
        @click="decrement"
        @mousedown="onMousedown($event, 'decrement')"
      >
        <IconMinus slot="icon"/>
      </VButton>
    </ButtonsGroup>
  </InputText>
</template>

<style lang="scss" type="text/scss"></style>
