<script>
  import InputText from '@/core/components/InputText.vue';
  import VButton from '@/core/components/VButton.vue';
  import IconClose from '@/assets/icons/material/close.svg';
  import IconSearch from '@/assets/icons/material/search.svg';
  import inputProps from '@/core/mixins/inputProps';
  import inputTextProps from '@/core/mixins/inputTextProps';
  import { onlyProps as inputWithOptionsProps } from '@/core/mixins/inputWithOptions';

  export default {
    components: {
      InputText,
      VButton,
      IconClose,
      IconSearch,
    },
    mixins: [
      inputProps,
      inputTextProps,
      inputWithOptionsProps,
    ],
    props: {
      value: {
        type: [String, Number],
        default: '',
      },
    },
    data() {
      return {
        mutableValue: '',
      };
    },
    watch: {
      value(val) {
        if (val !== this.mutableValue) {
          this.mutableValue = val;
        }
      },
    },
    created() {
      this.mutableValue = this.value;
    },
    methods: {
      emitInput() {
        this.$emit('input', this.mutableValue);
      },
      emitFocus() {
        this.$emit('focus');
      },
      emitBlur() {
        this.$emit('blur');
      },
      reset() {
        this.mutableValue = '';
        this.$emit('input', this.mutableValue);
        this.$emit('reset', this.mutableValue);
        this.$el.focus();
      },
    },
  };

</script>

<template>
  <InputText
    v-model="mutableValue"
    :name="name"
    :placeholder="placeholder"
    :required="required"
    :disabled="disabled"
    :readonly="readonly"
    :invalid="invalid"
    :maxlength="maxlength"
    :autocomplete="autocomplete"
    :loading="loading"
    :errors="errors"
    :label="label"
    :advice="advice"
    :options="options"
    :options-loading="optionsLoading"
    :options-error="optionsError"
    :options-error-message="optionsErrorMessage"
    :option-label="optionLabel"
    :option-value="optionValue"
    :autofocus="autofocus"
    type="search"
    @input="emitInput"
    @focus="emitFocus"
    @blur="emitBlur"
  >
    <IconSearch slot="icon"/>
    <VButton
      v-if="mutableValue.length && !disabled"
      slot="addon"
      theme="silent"
      size="small"
      round
      @click="reset"
    >
      <IconClose slot="icon"/>
    </VButton>
  </InputText>
</template>

<style lang="scss" type="text/scss"></style>
