<script>
  import InputText from '@/core/components/InputText.vue';
  import VButton from '@/core/components/VButton.vue';
  import IconKey from '@/assets/icons/material/vpn_key.svg';
  import IconVisibility from '@/assets/icons/material/visibility.svg';
  import IconVisibilityOff from '@/assets/icons/material/visibility_off.svg';
  import inputProps from '@/core/mixins/inputProps';
  import inputTextProps from '@/core/mixins/inputTextProps';

  export default {
    components: {
      InputText,
      VButton,
      IconKey,
      IconVisibility,
      IconVisibilityOff,
    },
    mixins: [
      inputProps,
      inputTextProps,
    ],
    props: {
      value: {
        type: [String, Number],
        default: '',
      },
    },
    data() {
      return {
        mutableValue: '',
        mutableType: 'password',
      };
    },
    watch: {
      value(val) {
        if (val !== this.mutableValue) {
          this.mutableValue = val;
        }
      },
    },
    created() {
      this.mutableValue = this.value;
    },
    methods: {
      emitInput() {
        this.$emit('input', this.mutableValue);
      },
      emitFocus() {
        this.$emit('focus');
      },
      emitBlur() {
        this.$emit('blur');
      },
      reset() {
        this.mutableValue = '';
        this.$emit('input', this.mutableValue);
      },
      toggleType() {
        this.mutableType = this.mutableType === 'text'
          ? 'password'
          : 'text';
        this.$refs.input.$refs.input.focus();
      },
    },
  };

</script>

<template>
  <InputText
    ref="input"
    v-model="mutableValue"
    :name="name"
    :placeholder="placeholder"
    :required="required"
    :disabled="disabled"
    :readonly="readonly"
    :invalid="invalid"
    :maxlength="maxlength"
    :autocomplete="autocomplete"
    :loading="loading"
    :errors="errors"
    :label="label"
    :advice="advice"
    :type="mutableType"
    :autofocus="autofocus"
    @input="emitInput"
    @focus="emitFocus"
    @blur="emitBlur"
  >
    <IconKey slot="icon"/>
    <VButton
      slot="addon"
      theme="silent"
      size="small"
      round
      @click="toggleType"
    >
      <Component
        :is="mutableType === 'password' ? 'IconVisibility' : 'IconVisibilityOff'"
        slot="icon"
      />
    </VButton>
  </InputText>
</template>

<style lang="scss" type="text/scss"></style>
