<script>
  export default {
    props: {
      stickyFooter: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      classes() {
        return {
          /* eslint-disable quote-props */
          'island_sticky-footer': this.stickyFooter,
          /* eslint-enable quote-props */
        };
      },
    },
  };
</script>

<template>
  <div
    :class="classes"
    class="island"
  >
    <div
      v-if="$slots.header"
      class="island__header"
    >
      <slot name="header"/>
    </div>
    <div class="island__body">
      <slot/>
    </div>
    <div
      v-if="$slots.footer"
      v-sticky="stickyFooter"
      class="island__footer"
    >
      <slot name="footer"/>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .island {
    background: #fff;
    box-shadow: $shadow-level-3;

    &__header,
    &__body,
    &__footer {
      padding: 20px;
    }

    &__footer {
      margin-top: 20px;
      border-top: 1px solid $color-shade-300;
      background: $color-shade-100;
    }

    &_sticky-footer &__footer {
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
      z-index: 700;
    }
  }
</style>
