<script>
  export default {
    props: {
      progress: {
        type: Number,
        default: 0,
      },
      fail: {
        type: Boolean,
        default: false,
      },
    },
  };
</script>

<template>
  <Transition name="transition-app-loading">
    <div class="loading-progress">
      <div
        :style="{ width: `${progress}%` }"
        :class="{ '_fail': fail }"
        class="loading-progress__scale"
      />
    </div>
  </Transition>
</template>

<style lang="scss" type="text/scss">
  .loading-progress {
    position: fixed;
    z-index: 99999;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    height: 2px;
    opacity: 1;

    &.transition-app-loading-enter,
    &.transition-app-loading-leave-to {
      opacity: 0;
    }

    &.transition-app-loading-enter-active,
    &.transition-app-loading-leave-active {
      transition: all .3s ease;
    }

    &__scale {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: $color-primary;
      transition: width .2s linear;

      &._fail {
        background: $color-danger;
      }
    }
  }
</style>
