<script>
  import Multiselect from '@/core/components/Multiselect.vue';
  import inputProps from '@/core/mixins/inputProps';
  import inputWithOptions from '@/core/mixins/inputWithOptions';
  import multiselectProps from '@/core/mixins/multiselectProps';
  import { fillArray } from '@/core/helpers/utils';

  // TODO: support all Multiselect slots
  // TODO: error message

  export default {
    components: {
      Multiselect,
    },
    mixins: [
      inputProps,
      inputWithOptions,
      multiselectProps,
    ],
    props: {
      endpoint: {
        type: String,
        required: true,
      },
      queryParams: {
        type: Object,
        default: () => ({}),
      },
    },
    data() {
      return {
        mutableValue: null,
        mutableOptions: [],
        mutableOptionsLoading: false,
        mutableOptionsLoadingError: false,
        mutableOptionsErrorMessage: 'Failed to fetch options',
        searchTimer: null,
        optionsRequestedAt: false,
      };
    },
    watch: {
      value(val) {
        this.mutableValue = val;
      },
    },
    created() {
      this.mutableValue = this.value;
    },
    methods: {
      search(query) {
        clearTimeout(this.searchTimer);

        if (!query) return;

        this.mutableOptionsLoadingError = false;
        this.mutableOptionsLoading = true;

        this.searchTimer = setTimeout(() => {
          const optionsRequestedAt = Date.now();
          this.optionsRequestedAt = optionsRequestedAt;

          const params = Object.assign({}, this.queryParams, { search: query });

          this.$api.get(this.endpoint, { params })
            .then(({ data }) => {
              if (optionsRequestedAt !== this.optionsRequestedAt) return;
              fillArray(this.mutableOptions, data.data);
              this.mutableOptionsLoading = false;
            })
            .catch(() => {
              if (optionsRequestedAt !== this.optionsRequestedAt) return;
              this.mutableOptionsLoading = false;
              this.mutableOptionsLoadingError = true;
            });
        }, 300);
      },
      emitInput() {
        this.$emit('input', this.mutableValue);
      },
    },
  };
</script>

<template>
  <Multiselect
    v-model="mutableValue"
    :name="name"
    :placeholder="placeholder"
    :required="required"
    :disabled="disabled"
    :invalid="invalid"
    :loading="loading"
    :errors="errors"
    :label="label"
    :advice="advice"
    :autofocus="autofocus"

    :options="mutableOptions"
    :options-loading="mutableOptionsLoading"
    :options-error="mutableOptionsLoadingError"
    :options-error-message="mutableOptionsErrorMessage"
    :option-label="optionLabel"
    :options-limit="optionsLimit"

    :multiple="multiple"
    :track-by="trackBy"
    :max="max"
    :limit="limit"
    :internal-search="false"
    :searchable="true"
    :preserve-search="preserveSearch"
    :clear-on-select="clearOnSelect"
    :hide-selected="hideSelected"
    :allow-empty="allowEmpty"
    :close-on-select="closeOnSelect"
    :preselect-first="preselectFirst"
    :taggable="taggable"
    :tag-placeholder="tagPlaceholder"
    :group-values="groupValues"
    :group-label="groupLabel"
    :group-select="groupSelect"
    @search="search"
    @input="emitInput"
  />
</template>

<style lang="scss" type="text/scss"></style>
