<script>
  // TODO: update https://github.com/egoist/vue-no-ssr

  export default {
    name: 'NoSSR',
    props: {
      placeholder: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        canRender: false,
      };
    },
    mounted() {
      this.canRender = true;
    },
    render(h) {
      if (this.canRender) {
        if (
          process.env.NODE_ENV === 'development' &&
          this.$slots.default &&
          this.$slots.default.length > 1
        ) {
          throw new Error('<no-ssr> You cannot use multiple child components');
        }
        return this.$slots.default && this.$slots.default[0];
      }

      return h(
        'div',
        {
          class: ['no-ssr-placeholder'],
        },
        this.$slots.placeholder || this.placeholder);
    },
  };
</script>
