<script>
  import IconDanger from '@/assets/icons/material/remove_circle.svg';
  import IconNotice from '@/assets/icons/material/error.svg';
  import IconOk from '@/assets/icons/material/check_circle.svg';
  import IconWarning from '@/assets/icons/material/warning.svg';

  export default {
    components: {
      IconDanger,
      IconNotice,
      IconOk,
      IconWarning,
    },
    props: {
      type: {
        type: String,
        default: '',
      },
    },
    data() {
      return {};
    },
    computed: {
      icon() {
        let icon;

        switch (this.type) {
          case 'success':
            icon = IconOk;
            break;
          case 'danger':
            icon = IconDanger;
            break;
          case 'warning':
            icon = IconWarning;
            break;
          default:
            icon = IconNotice;
            break;
        }

        return icon;
      },
    },
  };
</script>

<template>
  <div
    :class="{ [`notice_${type}`]: type }"
    class="notice"
  >
    <i class="notice__icon">
      <Component
        :is="icon"
        v-if="icon"
      />
    </i>
    <div class="notice__text">
      <slot/>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .notice {
    display: flex;
    align-items: center;
    padding: 10px;
    background: $color-shade-100;
    color: $color-primary;

    &_danger {
      color: $color-danger;
    }

    &_warning {
      color: $color-warning;
    }

    &_success {
      color: $color-success;
    }

    &__icon {
      display: inline-block;
      font-size: 20px;
      flex: 0 0 1em;
      max-width: 1em;
      margin-right: 10px;
    }

    &__text {
      font: $font-compact;
      color: $color-text;
    }
  }
</style>
