<script>
  import Multiselect from '@/core/components/Multiselect.vue';
  import IconArrowLeft from '@/assets/icons/material/chevron_left.svg';
  import IconArrowRight from '@/assets/icons/material/chevron_right.svg';

  const MAX_PAGES = 4;

  export default {
    components: {
      Multiselect,
      IconArrowLeft,
      IconArrowRight,
    },
    props: {
      pageSize: {
        type: Number,
        default: 25,
      },
      pages: {
        type: Number,
        default: 0,
      },
      pageNum: {
        type: Number,
        default: 1,
      },
      pageSizeOptions: {
        type: Array,
        default: () => ([10, 25, 50]),
      },
      pageSizeSelector: {
        type: Boolean,
        default: true,
      },
    },
    data() {
      return {
        mutablePageNum: 1,
        mutablePageSize: 25,
      };
    },
    computed: {
      visiblePages() {
        const result = [];

        let startPage = Math.max(this.mutablePageNum - 2, 1);
        const endPage = Math.min(startPage + MAX_PAGES - 1, this.pages);

        const count = endPage - startPage + 1;

        if (count < MAX_PAGES) {
          startPage = Math.max(1, startPage - (MAX_PAGES - count));
        }

        for (let i = startPage; i <= endPage; i++) {
          result.push(i);
        }

        return result;
      },
      label() {
        // TODO: i18n
        return `Page ${this.mutablePageNum} of ${this.pages}`;
      },
    },
    watch: {
      pageNum(val, oldVal) {
        if (val === oldVal) return;
        this.mutablePageNum = this.pageNum;
      },
      pageSize(val, oldVal) {
        if (val === oldVal) return;
        this.mutablePageSize = this.pageSize;
      },
    },
    created() {
      this.mutablePageNum = this.pageNum;
      this.mutablePageSize = this.pageSize;
    },
    methods: {
      changePageSize(size) {
        this.mutablePageSize = size;
        this.$emit('change-page-size', this.mutablePageSize);
      },
      paginate(page) {
        if (page === this.mutablePageNum) return;
        this.mutablePageNum = page;
        this.$emit('paginate', this.mutablePageNum);
      },
    },
  };
</script>

<template>
  <!-- eslint-disable max-len -->
  <div class="paginator">
    <div
      v-if="pageSizeSelector"
      class="paginator__block"
    >
      <div class="paginator__block-label">Per page:</div>
      <div class="paginator__block-content">
        <div style="width: 64px;">
          <Multiselect
            v-model="mutablePageSize"
            :options="pageSizeOptions"
            :searchable="false"
            :allow-empty="false"
            @input="changePageSize"
          />
        </div>
      </div>
    </div>
    <div class="paginator__block">
      <div class="paginator__block-label">{{ label }}</div>
      <div
        v-if="pages > 1"
        class="paginator__block-content"
      >
        <div class="paginator__buttons">
          <button
            v-wave
            :disabled="mutablePageNum === 1"
            class="paginator__button"
            type="button"
            @click="paginate(mutablePageNum - 1)"
          >
            <i class="paginator__button-icon">
              <IconArrowLeft/>
            </i>
          </button>
          <button
            v-for="(page, i) in visiblePages"
            :key="i"
            v-wave
            :class="{ '_active': page === mutablePageNum }"
            :disabled="page === mutablePageNum"
            class="paginator__button"
            type="button"
            @click="paginate(page)"
          >
            {{ page }}
          </button>
          <button
            v-wave
            :disabled="mutablePageNum === pages"
            class="paginator__button"
            type="button"
            @click="paginate(mutablePageNum + 1)"
          >
            <i class="paginator__button-icon">
              <IconArrowRight/>
            </i>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .paginator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px -20px;

    &__block {
      display: flex;
      align-items: center;
      margin: 0 15px 20px;

      &-label {
        font: $font-tiny;
        color: $color-shade-600;
        white-space: nowrap;
      }

      &-content {
        margin-left: 10px;
      }
    }

    &__buttons {
      display: flex;
      flex-wrap: nowrap;
    }

    &__button {
      @include reset-button;
      vertical-align: top;
      font-size: 14px;
      line-height: 20px;
      min-width: 30px;
      padding: 5px;
      text-align: center;
      color: $color-ui;
      border-radius: 2px;

      @include hover-active {
        color: $color-primary;
      }

      &:focus {
        color: $color-primary;
      }

      &:disabled {
        color: $color-shade-400;
        cursor: default;

        @include hover-active {
          color: $color-shade-400;
        }
      }

      &._active,
      &._active:disabled {
        color: $color-shade-800;
        background-color: $color-shade-300;

        @include hover-active {
          color: $color-shade-800;
          background-color: $color-shade-300;
        }
      }

      &-icon {
        font-size: 20px;
        height: 1em;
        width: 1em;
      }
    }
  }
</style>
