<script>
  import FieldAdvice from '@/core/components/FieldAdvice.vue';
  import FieldErrors from '@/core/components/FieldErrors.vue';
  import FieldLabel from '@/core/components/FieldLabel.vue';

  export default {
    components: {
      FieldAdvice,
      FieldErrors,
      FieldLabel,
    },
    props: {
      vertical: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      readonly: {
        type: Boolean,
        default: false,
      },
      invalid: {
        type: Boolean,
        default: false,
      },
      loading: {
        type: Boolean,
        default: false,
      },
      errors: {
        type: Array,
        default: () => ([]),
      },
      label: {
        type: String,
        default: '',
      },
      advice: {
        type: [String, Number],
        default: '',
      },
    },
    computed: {
      classes() {
        return {
          /* eslint-disable quote-props */
          'radio-group_vertical': this.vertical,
          /* eslint-enable quote-props */
        };
      },
    },
  };
</script>

<template>
  <fieldset
    v-loading="loading"
    :class="classes"
    :disabled="disabled || loading"
    class="radio-group"
  >
    <FieldLabel
      v-if="label"
      :disabled="disabled || loading"
      :invalid="invalid"
    >
      <legend>{{ label }}</legend>
    </FieldLabel>
    <div class="radio-group__inner">
      <div class="radio-group__list">
        <slot/>
      </div>
    </div>
    <div
      v-if="errors.length || advice"
      class="input-text__footer"
    >
      <FieldErrors
        v-if="errors.length"
        :errors="errors"
      />
      <FieldAdvice
        v-else-if="advice"
        :disabled="disabled"
        :invalid="invalid"
      >
        {{ advice }}
      </FieldAdvice>
    </div>
  </fieldset>
</template>

<style lang="scss" type="text/scss">
  .radio-group {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    min-width: 0;

    &__inner {
      padding: 5px 0;
    }

    &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-bottom: -10px;

      > * {
        margin-right: 15px;
        margin-bottom: 10px;
      }
    }

    &_vertical &__list {
      flex-direction: column;
      align-items: flex-start;
    }
  }
</style>
