<script>
  export default {
    props: {
      vertical: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {};
    },
  };
</script>

<template>
  <hr
    :class="{ 'separator_vertical': vertical }"
    class="separator"
  >
</template>

<style lang="scss" type="text/scss">
  .separator {
    width: 100%;
    display: block;
    border: none;
    height: 1px;
    background: $color-shade-300;
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include breakpoint-up($breakpoint) {
        $gutter: map-get($grid-gutter-widths, $breakpoint);
        margin: $gutter 0;
      }
    }

    &_vertical {
      width: 1px;
      height: 100%;
      margin: 0 !important;
    }
  }
</style>
