<script>
  export default {};
</script>

<template>
  <table class="simple-table">
    <slot/>
  </table>
</template>

<style lang="scss" type="text/scss">
  .simple-table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    font-size: 13px;
    line-height: 18px;

    td {
      padding: 0;
      vertical-align: middle;
    }

    td + td {
      padding-left: 10px;
    }

    tr + tr td {
      padding-top: 10px;
    }
  }
</style>
