<script>
  import IconClose from '@/assets/icons/material/close.svg';
  import IconEdit from '@/assets/icons/material/edit.svg';

  export default {
    components: {
      IconClose,
      IconEdit,
    },
    props: {
      removable: {
        type: Boolean,
        default: false,
      },
      editable: {
        type: Boolean,
        default: false,
      },
      theme: {
        type: String,
        default: '',
      },
    },
    computed: {
      classes() {
        return {
          /* eslint-disable quote-props */
          [`tag_theme-${this.theme}`]: this.theme,
          /* eslint-enable quote-props */
        };
      },
    },
    methods: {
      edit() {
        this.$emit('edit');
      },
      remove() {
        this.$emit('remove');
      },
    },
  };
</script>

<template>
  <div
    :class="classes"
    class="tag"
  >
    <div class="tag__inner">
      <span class="tag__text">
        <slot/>
      </span>
      <button
        v-if="editable"
        type="button"
        class="tag__button"
        @click="edit()"
      >
        <IconEdit/>
      </button>
      <button
        v-if="removable"
        type="button"
        class="tag__button"
        @click="remove()"
      >
        <IconClose/>
      </button>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .tag {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    color: #fff;
    background: $color-primary;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;

    &_theme-success {
      background: $color-success;
    }

    &_theme-warning {
      background: $color-warning;
    }

    &_theme-danger {
      background: $color-danger;
    }

    &_theme-light {
      background: $color-shade-300;
      color: $color-ui;
    }

    &__inner {
      display: flex;
    }

    &__text {
      font-size: 13px;
      line-height: 20px;
      padding: 6px 8px;
    }

    &__button {
      position: relative;
      @include reset-button;
      height: 32px;
      padding: 9px 4px;
      font-size: 14px;
      line-height: 1em;
      color: inherit;

      &::before {
        content: "";
        @include coverer;
        border-radius: inherit;
        color: inherit;
        z-index: 10;
        opacity: 0;
        transition: opacity .3s ease;
        background-color: currentColor;
      }

      @include hover {
        text-decoration: none;

        &::before {
          opacity: .2;
        }
      }

      &:focus::before {
        opacity: .2;
      }
    }
  }
</style>
