<script>
  export default {};
</script>

<template>
  <div class="tags">
    <div class="tags__inner">
      <slot/>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .tags {
    position: relative;

    &__inner {
      display: flex;
      flex-wrap: wrap;
      margin-right: -10px;
      margin-bottom: -10px;

      > * {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
</style>
