<script>
  import routable from '@/core/mixins/routable';

  export default {
    mixins: [routable],
    props: {
      tag: {
        type: String,
        default: 'button',
      },
      type: {
        type: String,
        default: 'button',
      },
      theme: {
        type: String,
        default: '',
      },
      size: {
        type: String,
        default: '',
      },
      fluid: {
        type: Boolean,
        default: false,
      },
      round: {
        type: Boolean,
        default: false,
      },
      square: {
        type: Boolean,
        default: false,
      },
      trimTitle: {
        type: Boolean,
        default: true,
      },
    },
    methods: {
      click(e) {
        this.$emit('click', e);
      },
    },
    render(h) {
      const { tag, data } = this.generateRouteLink();

      const classes = ['button'];

      if (this.theme) {
        classes.push(`button_theme-${this.theme}`);
      }

      if (this.size) {
        classes.push(`button_size-${this.size}`);
      }

      if (this.fluid && !this.round) {
        classes.push('button_fluid');
      }

      if (this.round) {
        classes.push('button_round');
      } else if (this.square) {
        classes.push('button_square');
      }

      data.class = data.class || [];
      data.class.push(...classes);

      if (tag === 'button') {
        data.attrs.type = this.type;
      }

      data.directives = data.directives || [];

      data.directives.push({
        name: 'wave',
      });

      const children = [];

      if (this.$slots.icon) {
        children.push(h('i', { class: 'button__icon' }, this.$slots.icon));
      }

      if (this.$slots.default) {
        const titleData = {
          class: 'button__title',
        };

        if (this.trimTitle) {
          titleData.directives = [{ name: 'trim' }];
        }

        children.push(h('span', titleData, this.$slots.default));
      }

      const content = h('span', { class: ['button__content'] }, [children]);

      return h(tag, data, [content]);
    },
  };
</script>

<style lang="scss" type="text/scss">
  .button {
    @include reset-button;
    vertical-align: inherit;
    position: relative;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 20px;
    background: $color-primary;
    letter-spacing: .025em;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 32px;

    &::before {
      content: "";
      @include coverer;
      border-radius: inherit;
      color: inherit;
      z-index: 10;
      opacity: 0;
      transition: opacity .3s ease;
      background-color: currentColor;
    }

    @include hover {
      text-decoration: none;

      &::before {
        opacity: .2;
      }
    }

    &:focus::before {
      opacity: .2;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__icon {
      display: inline-block;
      position: relative;
      font-size: 14px;
      height: 1em;
      width: 1em;
      flex: 0 0 1em;
      max-width: 1em;
    }

    &__icon + &__title {
      margin-left: .4em;
    }

    &__title {
      flex: 0 0 auto;
      max-width: 100%;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    // Themes

    &_theme-success {
      background: $color-success;
    }

    &_theme-warning {
      background: $color-warning;
    }

    &_theme-danger {
      background: $color-danger;
    }

    &_theme-light {
      background: $color-shade-300;
      color: $color-ui;
    }

    &_theme-silent {
      background: none;
      color: $color-ui;
      box-shadow: none;

      @include hover {
        &::before {
          opacity: .1;
        }
      }
    }

    &:disabled {
      background: $color-shade-200;
      color: $color-shade-500;
      pointer-events: none;
      box-shadow: none;

      &::before {
        display: none;
      }
    }

    // Type

    &_fluid {
      width: 100%;
      min-width: 0;
      max-width: 100%;
      flex: 1 0 0%;
    }

    &_round,
    &_square {
      padding-left: 0;
      padding-right: 0;
      min-width: 32px;
      width: 32px;
      flex: 0 0 32px;
    }

    &_round {
      border-radius: 50%;
    }

    &_square &__title,
    &_round &__title {
      display: none;
    }

    // Size

    &_size-small {
      padding: 4px 12px;
      font-size: 12px;
      line-height: 18px;
      min-width: 56px;
      height: 26px;
      font-weight: 300;
    }

    &_size-small &__icon {
      font-size: 12px;
    }

    &_size-small.button_round,
    &_size-small.button_square {
      padding-left: 0;
      padding-right: 0;
      width: 26px;
      flex: 0 0 26px;
      min-width: 26px;
    }
  }
</style>
