<script>
  export default {
    props: {
      title: {
        type: String,
        default: '',
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },
  };
</script>

<template>
  <fieldset
    :disabled="disabled"
    class="fieldset"
  >
    <div
      v-if="title"
      class="fieldset__title"
    >
      <legend v-text="title"/>
    </div>
    <div class="fieldset__fields">
      <slot/>
    </div>
  </fieldset>
</template>

<style lang="scss" type="text/scss">
  .fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    min-width: 0;

    & + & {
      margin-top: 35px;
    }

    &__title {
      display: block;
      font-size: 16px;
      line-height: 18px;
      font-weight: 500;
      text-transform: uppercase;
      color: $color-shade-600;
      margin-bottom: 20px;
    }
  }
</style>
