<script>
  import routable from '@/core/mixins/routable';

  // TODO: color schemas vs theme, use theme for color and something else for dashed/silent etc.
  // TODO: cut fucking spaces in the __title element

  export default {
    mixins: [routable],
    props: {
      tag: {
        type: String,
        default: 'a',
      },
      type: {
        type: String,
        default: 'button',
      },
      decoration: {
        type: String,
        default: '',
      },
      theme: {
        type: String,
        default: '',
      },
      silent: {
        type: Boolean,
        default: false,
      },
      trimTitle: {
        type: Boolean,
        default: true,
      },
    },
    methods: {
      click(e) {
        this.$emit('click', e);
      },
    },
    render(h) {
      const { tag, data } = this.generateRouteLink();

      const classes = ['link'];

      if (this.silent) {
        classes.push('link_silent');
      } else {
        if (this.decoration) {
          classes.push(`link_decoration-${this.decoration}`);
        }

        if (this.theme) {
          classes.push(`link_theme-${this.theme}`);
        }
      }

      data.class = data.class || [];
      data.class.push(...classes);

      if (tag === 'button') {
        data.attrs.type = this.type;
      }

      const children = [];

      if (this.$slots.icon) {
        children.push(h('i', { class: 'link__icon' }, this.$slots.icon));
      }

      if (this.$slots.default) {
        const titleData = {
          class: 'link__title',
        };

        if (this.trimTitle) {
          titleData.directives = [{ name: 'trim' }];
        }

        children.push(h('span', titleData, this.$slots.default));
      }

      return h(tag, data, children);
    },
  };
</script>

<style lang="scss" type="text/scss">
  .link {
    appearance: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    overflow: visible;
    text-align: inherit;
    padding: 0;
    font-weight: inherit;
    display: inline;
    color: $color-primary;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    border-bottom: 1px solid rgba($color-primary, .5);
    line-height: normal;
    transition:
      border-color .2s ease,
      opacity .2s ease;

    &__icon {
      width: 1em;
      height: 1em;
      display: inline-block;
      line-height: 1em;
    }

    &__title {}

    &__icon + &__title {
      margin-left: .3em;
    }

    @include hover-active {
      color: $color-ui;
      text-decoration: none;
      border-bottom-color: lighten($color-ui, 50%);
    }

    &:focus {
      background: rgba($color-primary, .1);
    }

    // Decoration

    &_decoration-none {
      border-bottom: none;
    }

    &_decoration-dashed {
      border-bottom-style: dashed;
    }

    // Themes

    &_theme-success {
      color: $color-success;
      border-bottom-color: rgba($color-success, .5);

      &:focus {
        background: rgba($color-success, .1);
      }
    }

    &_theme-danger {
      color: $color-danger;
      border-bottom-color: rgba($color-danger, .5);

      &:focus {
        background: rgba($color-danger, .1);
      }
    }

    &_theme-warning {
      color: $color-warning;
      border-bottom-color: rgba($color-warning, .5);

      &:focus {
        background: rgba($color-warning, .1);
      }
    }

    &_silent {
      color: inherit;
      text-decoration: none;
      border-bottom: none;

      @include hover {
        color: inherit;
        text-decoration: none;
        border-bottom: none;
      }
    }
  }
</style>
