*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box; // Correct box-sizing
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // No highlight when tap
  -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS.
}

body {
  margin: 0;
  height: 100%;
  background: #fff;
  color: $color-text;
  cursor: default;
  font: $font-base;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  &._scroll-locked {
    overflow: hidden;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

// Remove Firefox dotted border
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// Fix :active padding in IE11+
// http://stackoverflow.com/questions/6744406/internet-explorer-strange-inner-padding-on-buttonactive-click
button span,
button::before,
button::after,
svg {
  position: relative;
}

// Invalid field box-shadow in FF
// http://stackoverflow.com/questions/3809146/firefox-4-required-input-form-red-border-outline
:invalid,
:-moz-submit-invalid,
:-moz-ui-invalid {
  box-shadow: none;
  outline: none;
}

img {
  vertical-align: middle;
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
// http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

main {
  display: block; // IE
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
