// http://transfonter.org/
// http://www.fontsquirrel.com/tools/webfont-generator

/**
 thin 100
 extra-light 200
 light 300
 regular 400
 medium 500
 semi-bold 600
 bold 700
 extra-bold 800
 black, heavy 900
 */

/*
@font-face {
  font-family: "Font";
  src: url("#{$pathToFonts}font.eot");
  src:
    local("☺"),
    url("#{$pathToFonts}font.eot?#iefix") format("embedded-opentype"),
    url("#{$pathToFonts}font.woff2") format("woff2"),
    url("#{$pathToFonts}font.woff") format("woff"),
    url("#{$pathToFonts}font.ttf") format("truetype"),
    url("#{$pathToFonts}font.svg#Font") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
