// Vertical row (like grid gutter)
.row {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include breakpoint-up($breakpoint) {
      $gutter: map-get($grid-gutter-widths, $breakpoint);
      margin-bottom: $gutter;
    }
  }
}

.row-reverse {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include breakpoint-up($breakpoint) {
      $gutter: map-get($grid-gutter-widths, $breakpoint);
      margin-top: $gutter;
    }
  }
}

// Container for rows to collapse last/first row margin
.rows {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include breakpoint-up($breakpoint) {
      $gutter: map-get($grid-gutter-widths, $breakpoint);
      margin-bottom: -$gutter;
    }
  }
}

.rows-reverse {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include breakpoint-up($breakpoint) {
      $gutter: map-get($grid-gutter-widths, $breakpoint);
      margin-top: -$gutter;
    }
  }
}

// TODO: move out:
.text-row {
  margin-bottom: 10px;
}

.text-row-reverse {
  margin-top: 10px;
}
