.text-h1 {
  font: $font-h1;
}

.text-h2 {
  font: $font-h2;
}

.text-h3 {
  font: $font-h3;
}

.text-h4 {
  font: $font-h4;
}

.text-big {
  font: $font-big;
}

.text-base {
  font: $font-base;
}

.text-compact {
  font: $font-compact;
}

.text-tiny {
  font: $font-tiny;
}
