/* Text alignment */

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix-: breakpoint-infix($breakpoint, $grid-breakpoints, "", "-");

  @include breakpoint-up($breakpoint) {
    .text-#{$infix-}left {
      text-align: left !important;
    }

    .text-#{$infix-}right {
      text-align: right !important;
    }

    .text-#{$infix-}center {
      text-align: center !important;
    }
  }
}

/* Text wrap */

.text-nowrap {
  white-space: nowrap !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix-: breakpoint-infix($breakpoint, $grid-breakpoints, "", "-");

  @include breakpoint-up($breakpoint) {
    .text-#{$infix-}nowrap {
      white-space: nowrap !important;
    }
  }
}

/* Text transform */

.text-upper {
  text-transform: uppercase !important;
}

.text-lower {
  text-transform: lowercase !important;
}

/* Text style */

.text-bold {
  font-weight: bold !important;
}

.text-normal {
  font-weight: 400 !important;
}

.text-medium {
  font-weight: 500 !important;
}

.text-light {
  font-weight: 300 !important;
}

.text-italic {
  font-style: italic !important;
}

/* Text color */

.text-color-success {
  color: $color-success;
}

.text-color-warning {
  color: $color-warning;
}

.text-color-danger {
  color: $color-danger;
}

.text-color-black {
  color: $color-black;
}

.text-color-shade-900 {
  color: $color-shade-900;
}

.text-color-shade-800 {
  color: $color-shade-800;
}

.text-color-shade-700 {
  color: $color-shade-700;
}

.text-color-shade-600 {
  color: $color-shade-600;
}

.text-color-shade-500 {
  color: $color-shade-500;
}

.text-color-shade-400 {
  color: $color-shade-400;
}

.text-color-shade-300 {
  color: $color-shade-300;
}

.text-color-shade-200 {
  color: $color-shade-200;
}

.text-color-shade-100 {
  color: $color-shade-100;
}

/* Visibility */

.invisible {
  visibility: hidden !important;
}

.hidden {
  display: none !important;
}

@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {

    @include breakpoint-up($bp) {
      display: none !important;
    }
  }

  .hidden-#{$bp}-down {

    @include breakpoint-down($bp) {
      display: none !important;
    }
  }

  .hidden-#{$bp}-only {

    @include breakpoint-only($bp) {
      display: none !important;
    }
  }
}

// Only display content to screen readers

.sr-only {
  @include sr-only;
}

/* Print */

.visible-print-block {
  display: none !important;

  @media print {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;

  @media print {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;

  @media print {
    display: inline-block !important;
  }
}

.hidden-print {

  @media print {
    display: none !important;
  }
}
