// Paths

$pathToImages: "../images/";
$pathToFonts: "../fonts/";

// Grid + Breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 560px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$container-max-widths: (
  xs: 100%,
  sm: 100%,
  md: 100%,
  lg: 960px,
  xl: 1140px,
) !default;

$grid-columns: 12 !default;
$grid-gutter-width-base: 20px !default;
$grid-gutter-widths: (
  xs: 20px,
  sm: 20px,
  md: 20px,
  lg: 20px,
  xl: 20px,
) !default;

// Z-indexes

$z-index-modal: 1000 !default;
$z-index-drop: 900 !default;
$z-index-layout-panels: 800 !default;

// Colors

$color-primary: #108aeb !default;
$color-success: #00b16a !default;
$color-warning: #e98a03 !default;
$color-danger: #e74c3c !default;
$color-ui: #2c405a !default;

$color-black: #000 !default;
$color-shade-900: #424242 !default;
$color-shade-800: #616161 !default;
$color-shade-700: #757575 !default;
$color-shade-600: #919191 !default;
$color-shade-500: #bdbdbd !default;
$color-shade-400: #e0e0e0 !default;
$color-shade-300: #eee !default;
$color-shade-200: #f5f5f5 !default;
$color-shade-100: #fafafa !default;

$color-text: $color-black !default;
$color-invalid: $color-danger !default;
$color-valid: $color-success !default;

// Shadows
$shadow-level-1:
  0 2px 1px -1px rgba(0, 0, 0, .2),
  0 1px 1px 0 rgba(0, 0, 0, .15),
  0 1px 3px 0 rgba(0, 0, 0, .1);

$shadow-level-2:
  0 3px 5px -1px rgba(0, 0, 0,.2),
  0 5px 8px 0 rgba(0, 0, 0, .15),
  0 1px 14px 0 rgba(0, 0, 0, .1);

$shadow-level-3:
  0 5px 6px -3px rgba(0, 0, 0, .2),
  0 9px 12px 1px rgba(0, 0, 0, .15),
  0 3px 16px 2px rgba(0, 0, 0, .1);

$shadow-level-4:
  0 7px 7px -4px rgba(0, 0, 0, .2),
  0 11px 15px 2px rgba(0, 0, 0, .15),
  0 4px 24px 3px rgba(0, 0, 0, .1);

$border-radius: 4px;

// Typography

$font-family-base: "Roboto", sans-serif;

$font-big: normal 500 16px/24px $font-family-base;
$font-base: normal 400 14px/22px $font-family-base;
$font-compact: normal 300 13px/18px $font-family-base;
$font-tiny: normal 400 11px/15px $font-family-base;

$font-h4: normal 500 18px/24px $font-family-base;
$font-h3: normal 500 22px/28px $font-family-base;
$font-h2: normal 500 24px/30px $font-family-base;
$font-h1: normal 500 28px/34px $font-family-base;


