// Variables and mixins loads by sass-resources-loader

@import "core";
@import "fonts";
@import "grid";
@import "keyframes";
@import "typography";
@import "utilities";

// Browser UI branding
::selection {
  background: $color-primary;
  color: #fff;
}
::-moz-selection {
  background: $color-primary;
  color: #fff;
}
