<script>
  import page from '@/core/mixins/page';
  import LoadingForm from '@/modules/warehouse/components/LoadingForm.vue';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const number = this.job ? this.job.number : '';
      const title = this.$t('pages.warehouse.loading.Edit.meta.title', { number });
      return {
        title,
      };
    },
    components: {
      LoadingForm,
    },
    mixins: [
      page,
      pageWithForm,
    ],
    data() {
      return {
        job: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.job) return [];

        return [
          {
            title: 'Warehouse',
          },
          {
            title: 'Loading bay',
            to: {
              name: 'Warehouse/Loading/List',
            },
          },
          {
            title: this.job.number,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/logistic/jobs/${route.params.jobId}`)
          .then(({ data }) => {
            resolve({ job: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.job = deepClone(fields);
        this.loading = false;
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <LoadingForm
        v-if="job"
        :values="job"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
