<script>
  import ProductForm from '@/modules/warehouse/components/ProductForm.vue';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const sku = this.product ? this.product.code : '';
      const title = this.$t('pages.warehouse.products.Edit.meta.title', { sku });
      return {
        title,
      };
    },
    components: {
      ProductForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        product: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.product) return [];

        return [
          {
            title: 'Warehouse',
          },
          {
            title: 'Products',
            to: {
              name: 'Warehouse/Products/List',
            },
          },
          {
            title: this.product.code,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/warehouse/products/${route.params.productId}`)
          .then(({ data }) => {
            resolve({ product: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.product = deepClone(fields);
        this.loading = false;
      },
      onProductDeleted() {
        this.$router.push({ name: 'Warehouse/Products/List' });
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <ProductForm
        v-if="product"
        :values="product"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
        @deleting="loading = true"
        @deleting-failed="loading = false"
        @deleted="onProductDeleted"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
