<script>
  import DriverForm from '@/modules/hauler/components/DriverForm';
  import page from '@/core/mixins/page';
  import pageWithForm from '@/core/mixins/pageWithForm';
  import { deepClone } from '@/core/helpers/utils';

  export default {
    meta() {
      const name = this.driver ? this.driver.name : '';
      const title = this.$t('pages.hauler.drivers.Edit.meta.title', { name });
      return {
        title,
      };
    },
    components: {
      DriverForm,
    },
    mixins: [page, pageWithForm],
    data() {
      return {
        driver: null,
        loading: false,
      };
    },
    computed: {
      breadcrumbs() {
        if (!this.driver) return [];

        return [
          {
            title: 'Hauler',
          },
          {
            title: 'Drivers',
            to: {
              name: 'Hauler/Drivers/List',
            },
          },
          {
            title: this.driver.name,
          },
        ];
      },
    },
    asyncData({ api, route }) {
      return new Promise((resolve, reject) => {
        api.get(`/hauler/drivers/${route.params.driverId}`)
          .then(({ data }) => {
            resolve({ driver: data });
          })
          .catch(err => reject(err));
      });
    },
    methods: {
      onFormSuccess(fields) {
        this.driver = deepClone(fields);
        this.loading = false;
      },
    },
  };
</script>

<template>
  <div v-loading.fullscreen="loading">
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <DriverForm
        v-if="driver"
        :values="driver"
        @dirty="onFormDirty"
        @submit="loading = true"
        @success="onFormSuccess"
        @fail="loading = false"
      />
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
