<script>
  import ButtonsGroup from '@/core/components/ButtonsGroup.vue';
  import ControlsGroup from '@/core/components/ControlsGroup.vue';
  import { DropMenu, DropMenuItem } from '@/core/components/DropMenu';
  import InputSearch from '@/core/components/InputSearch.vue';
  import Radio from '@/core/components/Radio.vue';
  import VButton from '@/core/components/VButton.vue';
  import VLink from '@/core/components/VLink.vue';
  import IconEdit from '@/assets/icons/material/edit.svg';
  import IconFilter from '@/assets/icons/filter.svg';
  import IconKebab from '@/assets/icons/material/more_vert.svg';
  import IconPlus from '@/assets/icons/plus.svg';
  import IconPowerOff from '@/assets/icons/material/power_off.svg';
  import IconRefresh from '@/assets/icons/material/refresh.svg';
  import page from '@/core/mixins/page';
  import pageWithItemsList from '@/core/mixins/pageWithItemsList';

  export default {
    name: 'DriversList',
    meta() {
      const title = this.$t('pages.hauler.drivers.List.meta.title');
      return {
        title,
      };
    },
    components: {
      ButtonsGroup,
      ControlsGroup,
      DropMenu,
      DropMenuItem,
      InputSearch,
      Radio,
      VButton,
      VLink,
      IconEdit,
      IconFilter,
      IconKebab,
      IconPlus,
      IconPowerOff,
      IconRefresh,
    },
    mixins: [page, pageWithItemsList],
    data() {
      return {
        apiEndpoint: '/hauler/drivers/',
        filters: {
          active: true,
        },
        itemName: 'driver',
        sortBy: 'createdAt',
        sortOrder: -1,
        breadcrumbs: [
          {
            title: 'Hauler',
          },
          {
            title: 'Drivers',
          },
        ],
        tableHeaders: [
          {
            label: 'Name',
            value: 'fullName',
            sortable: true,
          },
          {
            label: 'Contact',
            value: 'contacts',
            sortable: true,
          },
          {
            label: '', // Actions
            sortable: false,
          },
        ],
        showFilters: false,
        activeFilterOptions: [
          {
            label: 'Active',
            value: true,
          },
          {
            label: 'Inactive',
            value: false,
          },
          {
            label: 'All',
            value: null,
          },
        ],
      };
    },
    beforeMount() {
      const pageSize = this.getPageSize('hauler.drivers.pageSize');
      if (pageSize) {
        this.pageSize = pageSize;
      }
    },
    methods: {
      getDriverContacts(driver, type) {
        if (!driver.contact || !driver.contact.contacts) return [];

        return driver.contact.contacts.filter(item => item.type === type);
      },
      // Override pageWithItemsList mixins
      changePageSize(pageSize) {
        this.pageSize = pageSize;
        this.$store.dispatch('ui/setProperty', { path: 'hauler.drivers.pageSize', value: pageSize });
        this.paginateItems(1);
      },
    },
  };
</script>

<template>
  <div>
    <Breadcrumbs :items="breadcrumbs"/>
    <ContentSection>
      <div class="grid grid_middle">
        <div class="col col_auto row text-h3">Drivers</div>
        <div class="col col_12 col_md row">
          <ButtonsGroup>
            <VButton
              :to="{ name: 'Hauler/Drivers/Create' }"
            >
              <IconPlus slot="icon"/>
              New
            </VButton>
            <VButton
              theme="light"
              square
              @click="fetchItems(true)"
            >
              <IconRefresh slot="icon"/>
            </VButton>
            <VButton
              theme="light"
              @click="showFilters = !showFilters"
            >
              <IconFilter slot="icon"/>
              Filters
            </VButton>
          </ButtonsGroup>
        </div>
        <div class="col col_12 col_lg-5 col_xl-4 row">
          <InputSearch
            v-model="search"
            placeholder="Search drivers"
            @input="searchItems"
            @reset="resetSearch"
          />
        </div>
      </div>
      <ControlsGroup
        v-if="showFilters"
        class="row"
      >
        <span class="text-light">Display:</span>
        <Radio
          v-for="(option, i) in activeFilterOptions"
          :key="i"
          v-model="filters.active"
          :val="option.value"
          @input="filterItems"
        >
          {{ option.label }}
        </Radio>
      </ControlsGroup>
      <DataTable
        :loading="loading"
        :headers="tableHeaders"
        :items="items"
        :sort-by="sortBy"
        :sort-order="sortOrder"
        :internal-sort="false"
        track-by="id"
        @sort="sortItems"
      >
        <template
          v-slot:item="{ item }"
        >
          <td class="text-nowrap">
            <VLink
              :to="{ name: 'Hauler/Drivers/Edit', params: { driverId: item.id } }"
            >
              {{ item.fullName }}
            </VLink>
          </td>
          <td>
            <div
              v-for="contact in item.contacts"
              :key="contact.id"
            >
              {{ contact.id }}
              <span
                v-if="contact.label"
                class="text-compact text-italic"
                v-text="`(${contact.label})`"
              />
            </div>
          </td>
          <td style="width: 1%;">
            <DropMenu direction="bottom left">
              <VButton
                slot="activator"
                theme="silent"
                round
              >
                <IconKebab slot="icon"/>
              </VButton>
              <DropMenuItem
                :to="{ name: 'Hauler/Drivers/Edit', params: { driverId: item.id } }"
              >
                <IconEdit slot="icon"/>
                {{ $t('controls.edit') }}
              </DropMenuItem>
              <DropMenuItem
                v-if="item.active"
                @click="deactivateItem(item)"
              >
                <IconPowerOff slot="icon"/>
                {{ $t('controls.deactivate') }}
              </DropMenuItem>
            </DropMenu>
          </td>
        </template>
        <div
          v-if="itemsCount"
          slot="after"
          class="grid grid_end"
        >
          <div class="col col_auto">
            <Paginator
              :pages="pages"
              :page-num="pageNum"
              :page-size="pageSize"
              @change-page-size="changePageSize"
              @paginate="paginateItems"
            />
          </div>
        </div>
      </DataTable>
    </ContentSection>
  </div>
</template>

<style lang="scss" type="text/scss"></style>
