<script>
  export default {
    props: {
      active: {
        type: Boolean,
        default: false,
      },
      triggerClass: {
        type: [String, Array],
        default: '',
      },
    },
    data() {
      return {
        mutableActive: false,
      };
    },
    watch: {
      active(val) {
        if (val === this.mutableActive) return;
        this.mutableActive = val;
      },
    },
    mounted() {
      this.mutableActive = this.active;
    },
    methods: {
      onActivatorClick() {
        this.mutableActive = true;
        this.$emit('activate');
      },
      onDeactivatorClick() {
        this.mutableActive = false;
        this.$emit('deactivate');
      },
    },
  };
</script>

<template>
  <div class="spoiler">
    <div
      v-if="$slots.activator || $slots.deactivator"
      class="spoiler__trigger"
      :class="triggerClass"
    >
      <span
        v-if="$slots.activator && !mutableActive"
        @click.prevent="onActivatorClick"
      >
        <slot name="activator"/>
      </span>
      <span
        v-if="$slots.deactivator && mutableActive"
        @click.prevent="onDeactivatorClick"
      >
        <slot name="deactivator"/>
      </span>
    </div>
    <div
      v-if="mutableActive"
      class="spoiler__content"
    >
      <slot/>
    </div>
  </div>
</template>

<style lang="scss" type="text/scss">
  .spoiler {
    &__trigger {}
    &__content {}
  }
</style>
