<script>
  import { findClosestElement } from '@/core/helpers/utils';

  export default {
    props: {
      contentWidth: {
        type: String,
        default: '160px',
      },
    },
    data() {
      return {
        mutableActive: false,
        position: 'top',
        mouseLeaveTimer: null,
        mouseEnterTimer: null,
      };
    },
    methods: {
      activate() {
        this.adjustPosition();
        this.mutableActive = true;
        clearTimeout(this.mouseEnterTimer);
      },
      deactivate() {
        this.mutableActive = false;
        clearTimeout(this.mouseLeaveTimer);
      },
      adjustPosition() {
        // TODO: check with fixed parent
        if (!this.$el) return;

        const activatorBox = this.$el.getBoundingClientRect();
        const activatorWidth = activatorBox.width;
        // const activatorHeight = activatorBox.height;

        const fixedParent = findClosestElement(this.$el, el => window.getComputedStyle(el).position === 'fixed');

        // Get real content size

        let contentWidth = 0;
        let contentHeight = 0;

        const contentEl = this.$refs.content;

        if (contentEl) {
          if (!this.mutableActive) {
            contentEl.style.visibility = 'hidden';
            contentEl.style.display = '';
          }

          contentWidth = contentEl.offsetWidth;
          contentHeight = contentEl.offsetHeight;

          if (!this.mutableActive) {
            contentEl.style.visibility = '';
            contentEl.style.display = 'none';
          }
        }

        // Activator position on the page
        const scrollTop = fixedParent
          ? 0
          : window.pageYOffset || document.documentElement.scrollTop;
        const scrollLeft = fixedParent
          ? 0
          : window.pageXOffset || document.documentElement.scrollLeft;
        const activatorTop = activatorBox.top + scrollLeft;
        const activatorLeft = activatorBox.left + scrollTop;

        const spaceTop = activatorTop - scrollTop;
        // const spaceBottom = document.documentElement.clientHeight - spaceTop - activatorHeight;
        const spaceLeft = activatorLeft - scrollLeft;
        const spaceRight = document.documentElement.clientWidth - spaceLeft - activatorWidth;

        if (spaceLeft < contentWidth / 2) {
          this.position = 'right';
          return;
        }

        if (spaceRight < contentWidth / 2) {
          this.position = 'left';
          return;
        }


        if (spaceTop < contentHeight) {
          this.position = 'bottom';
          return;
        }

        this.position = 'top';
      },
      onMouseEnter() {
        if (this.expanded) return;
        clearTimeout(this.mouseLeaveTimer);
        this.mouseEnterTimer = setTimeout(() => {
          this.activate();
        }, 200);
      },
      onMouseLeave() {
        if (this.expanded) return;
        clearTimeout(this.mouseEnterTimer);
        this.mouseLeaveTimer = setTimeout(() => {
          this.deactivate();
        }, 300);
      },
    },
  };
</script>

<template>
  <div
    v-clickout="deactivate"
    :class="[`_${position}`]"
    class="tooltip"
    @mouseenter="onMouseEnter"
    @mouseleave="onMouseLeave"
  >
    <span
      class="tooltip__activator-wrap"
      @click.prevent="activate"
    >
      <slot name="activator">
        <span class="tooltip__activator">?</span>
      </slot>
    </span>
    <Transition
      enter-class="_animation"
      enter-active-class="_animation-active"
      leave-active-class="_animation-active"
      leave-to-class="_animation"
    >
      <div
        v-show="mutableActive"
        ref="content"
        class="tooltip__content"
      >
        <div class="tooltip__content-inner">
          <slot/>
        </div>
      </div>
    </Transition>
  </div>
</template>

<style lang="scss" type="text/scss">
  .tooltip {
    position: relative;
    display: inline-block;

    &__activator-wrap {
      display: flex;
    }

    &__activator {
      display: inline-block;
      vertical-align: top;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $color-shade-400;
      text-align: center;
      font-size: 12px;
      line-height: 16px;
      font-weight: bold;
      color: $color-shade-600;
    }

    &__content {
      position: absolute;
      display: block;
      width: 190px;
      z-index: 9999;
      left: 50%;
      bottom: 100%;
      transform: translate(-50%, -10px);
      border-radius: $border-radius;
      box-shadow: $shadow-level-3;

      &-inner {
        position: relative;
        white-space: normal;
        display: block;
        padding: 12px 10px;
        background: #fff;
        border-radius: $border-radius;
        text-align: left;
        text-transform: none;
        font: $font-tiny;
        color: $color-shade-800;

        &::after {
          position: absolute;
          top: 100%;
          left: 50%;
          @include css-triangle(8px, #fff, bottom);
          transform: translate(-50%, 0);
        }
      }
    }

    &__content._animation {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translate(-50%, -30px);
    }

    &__content._animation-active {
      transition: all .2s ease;
    }

    &._bottom &__content {
      bottom: auto;
      top: 100%;
      transform: translate(-50%, 10px);
    }

    &._bottom &__content-inner::after {
      top: auto;
      bottom: 100%;
      @include css-triangle(8px, #fff, top);
      transform: translate(-50%, 0);
    }

    &._bottom &__content._animation {
      transform: translate(-50%, 30px);
    }

    &._left &__content {
      transform: translate(-10px, 50%);
      left: auto;
      right: 100%;
      bottom: 50%;
    }

    &._left &__content-inner::after {
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate(0, -50%);
      @include css-triangle(8px, #fff, right);
    }

    &._left &__content._animation {
      transform: translate(-30px, 50%);
    }

    &._right &__content {
      transform: translate(10px, 50%);
      left: 100%;
      bottom: 50%;
    }

    &._right &__content-inner::after {
      position: absolute;
      left: auto;
      right: 100%;
      top: 50%;
      transform: translate(0, -50%);
      @include css-triangle(8px, #fff, left);
    }

    &._right &__content._animation {
      transform: translate(30px, 50%);
    }
  }
</style>
